{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<h3 class="article-title" itemprop="headline">
  {% if template == 'blog' %}
    <a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
  {% else %}
    {% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
  {% endif %}
</h3>

<div class="article-meta">
  <span itemprop="author" itemscope itemtype="//schema.org/Person">
    <meta itemprop="givenName" content="{{ article.user.first_name }}">
    <meta itemprop="familyName" content="{{ article.user.last_name }}">
  </span>

  {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
  {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%dT%T' }}" itemprop="dateCreated">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
  <p>{% comment %}ly_i18n_replace_for_[ 'blog.article.author_on_date_html' | t: author: author, date: date ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.author_on_date_html' | t: author: author, date: date }}{% endcapture %}{% include 'ly-static-string' with '15133900' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = author %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% assign replacement = date  %}{% assign ly_template = ly_template | replace: '[[date]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
                
  {% if blog.comments_enabled? %}
    <meta itemprop="commentCount" content="{{ article.comments_count }}">

    <a href="{{ article.url }}#article-comments" class="article-comments-count">
      {% comment %}ly_i18n_replace_for_[ 'blog.comments.comments_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133902' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133901' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133902' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133902' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    </a>
  {% endif %}
</div>