{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if blog.comments_enabled? %}
  <section id="article-comments" class="article-comments" itemprop="comment" itemscope itemtype="//schema.org/UserComments">
    <span class="comment-count">{% comment %}ly_i18n_replace_for_[ 'blog.comments.comments_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133883' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133882' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133883' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blog.comments.comments_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '15133883' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>

    {% form 'new_comment', article %}
      {% if form.posted_successfully? %}
        <div class="alert-box alert-success">
          <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'blog.comments.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.success' | t }}{% endcapture %}{% include 'ly-static-string' with '15133886' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>

          {% if blog.moderated? %}
            <p>{% comment %}ly_i18n_replace_for_[ 'blog.comments.success_moderated' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.success_moderated' | t }}{% endcapture %}{% include 'ly-static-string' with '15133887' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
          {% endif %}
        </div>
      {% endif %}

      {% if form.errors %}
        <div class="alert-box alert-error">
          <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'blog.comments.failed' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.failed' | t }}{% endcapture %}{% include 'ly-static-string' with '15133888' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </div>
      {% endif %}

      {% paginate article.comments by settings.blog_comments_per_page %}
        {% for comment in article.comments %}
          <article class="comment">
            <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="comment-gravatar">

            <div class="comment-content">
              <p class="comment-meta">
                {% capture author %}<b itemprop="creator">{{ comment.author }}</b>{% endcapture %}
                {% capture date %}<time datetime="{{ comment.created_at | date: '%Y-%m-%dT%T' }}" itemprop="commentTime">{{ comment.created_at | date: format: 'month_day_year' }}</time>{% endcapture %}

                {% comment %}ly_i18n_replace_for_[ 'blog.comments.comment_on_date_html' | t: author: author, date: date ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.comment_on_date_html' | t: author: author, date: date }}{% endcapture %}{% include 'ly-static-string' with '15133891' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = author %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% assign replacement = date  %}{% assign ly_template = ly_template | replace: '[[date]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </p>

              <div class="rte" itemprop="commentText">
                {% comment %}ly_code_replace_for_[ comment.content ]_begin{% endcomment %}{% include 'ly-content' with comment %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
              </div>
            </div>
          </article>
        {% endfor %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}

      <form class="comment-form">
        <p class="form-title">{% comment %}ly_i18n_replace_for_[ 'blog.comments.leave_comment' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.leave_comment' | t }}{% endcapture %}{% include 'ly-static-string' with '15133892' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        <div class="form-control-row">

          <div class="form-control">
            <label for="comment-author">{% comment %}ly_i18n_replace_for_[ 'blog.comments.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.name' | t }}{% endcapture %}{% include 'ly-static-string' with '15133893' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="text" id="comment-author" name="comment[author]" value="{{ form.name | escape }}" {% if form.errors.messages.author %}class="error"{% endif %}>

            {% if form.errors.messages.author %}
              <span class="input-error">{{ form.errors.messages.author }}</span>
            {% endif %}
          </div>

          <div class="form-control">
            <label for="comment-email">{% comment %}ly_i18n_replace_for_[ 'blog.comments.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15133894' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="email" id="comment-email" name="comment[email]" value="{{ form.name | escape }}" {% if form.errors.messages.email %}class="error"{% endif %}>

            {% if form.errors.messages.email %}
              <span class="input-error">{{ form.errors.messages.email }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-control">
          <label for="comment-body">{% comment %}ly_i18n_replace_for_[ 'blog.comments.comment' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.comment' | t }}{% endcapture %}{% include 'ly-static-string' with '15133895' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <textarea id="comment-body" rows="5" cols="75" name="comment[body]" {% if form.errors.messages.body %}class="error"{% endif %}>{{ form.body }}</textarea>

          {% if form.errors.messages.body %}
            <span class="input-error">{{ form.errors.messages.body }}</span>
          {% endif %}
        </div>

        {% if blog.moderated? %}
          <p class="needs-approval">{% comment %}ly_i18n_replace_for_[ 'blog.comments.needs_approval' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.needs_approval' | t }}{% endcapture %}{% include 'ly-static-string' with '15133896' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        {% endif %}

        <div class="form-control">
          <button type="submit" class="button button-primary button-submit">{% comment %}ly_i18n_replace_for_[ 'blog.comments.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.comments.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15133897' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        </div>
      </form>
    {% endform %}  
  </section>
{% endif %}