<div class="sticky-button-wrap" id="sticky-button-wrap-{{ section.id }}">
  <div class="home-sticky-buttons">
    {% if settings.sticky_btn_label != blank %}
    <a class="btn" {% if settings.sticky_btn_link != blank %}href="{{ settings.sticky_btn_link }}"{% endif %} data-sticky-btn="container">
      {{ settings.sticky_btn_label }}

      {% if settings.sticky_btn_countdown %}
      <span class="sticky-button-wrap__countdown" data-sticky-btn="countdown"></span>
      {% endif %}
    </a>
    {% endif %}

    {% if settings.video_poster_text != blank %}
    <div class="home-video-poster">
      <a>{{ settings.video_poster_text }}</a>
      {% include 'svg-play' %}
    </div>
    {% endif %}
  </div>

  {% if settings.mp3_sound != blank %}
  <div class="audio-player">
    <div class="timeline hide">
      <div class="progress"></div>
    </div>
    <div class="controls">
      <div class="play-container">
        <div id="audio-play" class="toggle-play play"></div>
      </div>
      <div class="time">
        <div class="current">0:00</div>
        <div class="divider">/</div>
        <div class="length"></div>
      </div>
      <div class="name">{{ settings.mp3_name }}</div>

      <div class="volume-container hide">
        <div class="volume-button">
          <div class="volume"><svg enable-background="new 0 0 511.999 511.999" viewBox="0 0 511.999 511.999" xmlns="http://www.w3.org/2000/svg"><path d="m131.01 151.054h-130.904v209.891h130.903l199.925 151.054v-511.999zm-9.967 179.906h-90.953v-149.921h90.953zm179.906 120.804-149.922-113.274v-164.98l149.922-113.274z"/><path d="m375.189 201.09-24.94 16.645c15.513 23.244 15.506 53.296-.016 76.56l24.942 16.641c22.268-33.375 22.273-76.491.014-109.846z"/><path d="m475.002 134.573-6.72-10.088-24.954 16.624 6.725 10.094c42.458 63.66 42.453 145.942-.016 209.625l-6.706 10.058 24.948 16.632 6.705-10.057c49.206-73.786 49.212-169.129.018-242.888z"/><path d="m425.096 167.821-6.727-10.091-24.949 16.632 6.727 10.092c28.975 43.462 28.975 99.629 0 143.092l-6.727 10.091 24.949 16.632 6.725-10.091c35.713-53.566 35.713-122.79.002-176.357z"/></svg></div>
        </div>

        <div class="volume-slider">
          <div class="volume-percentage"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<style>
  #sticky-button-wrap-{{ section.id }} .btn {
    {% if settings.sticky_btn_height == "auto" %}
    	height: auto;
    {% endif %}
    color: {{ settings.sticky_btn_color | default: "#ff0000" }};
    background: {{ settings.sticky_btn_background | default: "transparent" }};
  }
  
  #sticky-button-wrap-{{ section.id }} .btn:hover {
    color: {{ settings.sticky_btn_color_hover | default: "#ffffff" }};
    background: {{ settings.sticky_btn_background_hover | default: "#ff0000" }};
    border-color: {{ settings.sticky_btn_background_hover | default: "#ff0000" }};
  }
</style>

<script>
  function audioInit() {
    const audioPlayer = document.querySelector(".audio-player");
    
    if (!audioPlayer) {
    	return;
    };

    const source = "{{ settings.mp3_sound }}";
    const audio = new Audio();

    audio.src = source;
    audio.autoplay = true;


    audio.addEventListener("loadeddata", () => {
        audioPlayer.querySelector(".time .length").textContent = getTimeCodeFromNum(
          audio.duration
        );
        audio.volume = 0.75;

      },
      false
    );

  //click on timeline to skip around
  const timeline = audioPlayer.querySelector(".timeline");
  timeline.addEventListener("click", e => {
    const timelineWidth = window.getComputedStyle(timeline).width;
    const timeToSeek = e.offsetX / parseInt(timelineWidth) * audio.duration;
    audio.currentTime = timeToSeek;
  }, false);

  //click volume slider to change volume
  const volumeSlider = audioPlayer.querySelector(".controls .volume-slider");
  volumeSlider.addEventListener('click', e => {
    const sliderWidth = window.getComputedStyle(volumeSlider).width;
    const newVolume = e.offsetX / parseInt(sliderWidth);
    audio.volume = newVolume;
    audioPlayer.querySelector(".controls .volume-percentage").style.width = newVolume * 100 + '%';
  }, false)

  //check audio percentage and update time accordingly
  setInterval(() => {
    const progressBar = audioPlayer.querySelector(".progress");
    progressBar.style.width = audio.currentTime / audio.duration * 100 + "%";
    audioPlayer.querySelector(".time .current").textContent = getTimeCodeFromNum(
      audio.currentTime
    );
  }, 500);

  //toggle between playing and pausing on button click
  const playBtn = audioPlayer.querySelector(".controls .toggle-play");
  playBtn.addEventListener(
    "click",
    () => {
      if (audio.paused) {
        playBtn.classList.remove("play");
        playBtn.classList.add("pause");
        audio.play();
      } else {
        playBtn.classList.remove("pause");
        playBtn.classList.add("play");
        audio.pause();
      }
    },
    false
  );

  audioPlayer.querySelector(".volume-button").addEventListener("click", () => {
    const volumeEl = audioPlayer.querySelector(".volume-container .volume");
    audio.muted = !audio.muted;
    if (audio.muted) {
      volumeEl.classList.remove("icono-volumeMedium");
      volumeEl.classList.add("icono-volumeMute");
    } else {
      volumeEl.classList.add("icono-volumeMedium");
      volumeEl.classList.remove("icono-volumeMute");
    }
  });

  //turn 128 seconds into 2:08
  function getTimeCodeFromNum(num) {
    let seconds = parseInt(num);
    let minutes = parseInt(seconds / 60);
    seconds -= minutes * 60;
    const hours = parseInt(minutes / 60);
    minutes -= hours * 60;

    if (hours === 0) return `${minutes}:${String(seconds % 60).padStart(2, 0)}`;
    return `${String(hours).padStart(2, 0)}:${minutes}:${String(
      seconds % 60
    ).padStart(2, 0)}`;
  }
  };
  
  audioInit();

</script>

{% if settings.sticky_btn_countdown %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var countDownDate = new Date("{{ settings.sticky_btn_countdown_date | default: '2022-01-01T00:00:00' }}").getTime();
      var $countDown = document.querySelector("[data-sticky-btn='countdown']");

      function pad(n) {
        return (n < 10) ? ("0" + n) : n;
      }

      var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = pad(Math.floor(distance / (1000 * 60 * 60 * 24)));
        var hours = pad(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
        var minutes = pad(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
        var seconds = pad(Math.floor((distance % (1000 * 60)) / 1000));

        if (days > 0) {
          $countDown.innerHTML = "- " + days + "D " + hours + "H " + minutes + "M " + seconds + "S";
        } else {
          $countDown.innerHTML = "- " + hours + "H " + minutes + "M " + seconds + "S";
        }

        if (distance < 0) {
          clearInterval(x);
          $countDown.style.display = "none";
        }
      }, 1000);
    })
  </script>
{% endif %}

{% if settings.sticky_btn_on_click != blank %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var $stickyButton = document.querySelector("[data-sticky-btn='container']");

      $stickyButton.addEventListener("click", function(event) {
        event.preventDefault();
        window._klOnsite = window._klOnsite || [];
        window._klOnsite.push(['openForm', {{ settings.sticky_btn_on_click | json }}]);
      });
    })
  </script>
{% endif %}
