{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<aside class="blog-sidebar">
  {% if settings.blog_display_about %}
    <section class="about">
      <h3 class="section-title">{% comment %}ly_i18n_replace_for_[ 'blog.sidebar.about' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.sidebar.about' | t }}{% endcapture %}{% include 'ly-static-string' with '15133905' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

      <div class="rte">
        <p>{{ settings.blog_about_text }}</p>
      </div>
    </section>
  {% endif %}

  {% if settings.blog_display_recent_posts %}
    <section class="recent-articles">
      <h3 class="section-title">{% comment %}ly_i18n_replace_for_[ 'blog.sidebar.recent_articles' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.sidebar.recent_articles' | t }}{% endcapture %}{% include 'ly-static-string' with '15133906' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

      <ol class="unstyled-list">
        {% for article in blogs[blog.handle].articles limit:3 %}
          <li>
            <a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title | truncatewords: 4 ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | truncatewords: 4 }}{% comment %}ly_code_replace_end{% endcomment %}</a>
            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
          </li>
        {% endfor %}
      </ol>
    </section>
  {% endif %}

  {% capture blog_tags %}
    {% for tag in blog.tags %}
      {% assign count = 0 %}
      {% for article in blogs[blog.handle].articles %}
        {% if article.tags contains tag %}
          {% capture count %}{{ count | plus: 1 }}{% endcapture %}
        {% endif %}
      {% endfor %}

      <li>
        {{ tag | link_to_tag: tag }}
        <span class="tag-count">({{ count }})</span>
      </li>
    {% endfor %}
  {% endcapture %}

  {% if settings.blog_display_tags and blog_tags != blank %}
    <section class="tags">
      <h3 class="section-title">{% comment %}ly_i18n_replace_for_[ 'blog.sidebar.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.sidebar.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '15133907' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

      <ul>
        {{ blog_tags }}
      </ul>
    </section>
  {% endif %}

  {% if settings.blog_display_rss_feed %}
    <section class="rss-feed">
      <a href="{{ blog.url }}.atom">
        <i class="icon-rss"></i>{% comment %}ly_i18n_replace_for_[ 'blog.sidebar.rss_feed' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.sidebar.rss_feed' | t }}{% endcapture %}{% include 'ly-static-string' with '15133908' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </a>
    </section>
  {% endif %}
</aside>