{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.breadcrumb_enabled %}
  <nav class="breadcrumb" role="navigation">
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="name">{% comment %}ly_i18n_replace_for_[ 'general.breadcrumbs.home' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.breadcrumbs.home' | t }}{% endcapture %}{% include 'ly-static-string' with '15133909' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
        <meta itemprop="position" content="1">
      </li>

      {% if template == 'article' %}
        <li data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">{% comment %}ly_code_replace_for_[ blog.title | link_to: blog.url ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | link_to: blog.url }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          <meta itemprop="position" content="2">
        </li>

        <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          <meta itemprop="position" content="3">
        </li>

      {% elsif template contains 'product' %}
        {% if collection and collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <li data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">{% comment %}ly_code_replace_for_[ collection.title | link_to: url ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | link_to: url }}{% comment %}ly_code_replace_end{% endcomment %}</span>
            <meta itemprop="position" content="2">
          </li>

          <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
            <meta itemprop="position" content="3">
          </li>
        {% else %}
          <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
            <meta itemprop="position" content="2">
          </li>
        {% endif %}
      {% elsif template == 'customers/addresses' or template == 'customers/order' %}
        <li data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name"><a href="/account">{% comment %}ly_i18n_replace_for_[ 'general.breadcrumbs.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.breadcrumbs.account' | t }}{% endcapture %}{% include 'ly-static-string' with '15133910' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></span>
          <meta itemprop="position" content="2">
        </li>

        <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{ langify_title }}</span>
          <meta itemprop="position" content="3">
        </li>
      {% elsif template == 'collection' and current_tags %}
        <li data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name"><a href="{{ collection.url }}">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></span>
          <meta itemprop="position" content="2">
        </li>

        <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{ current_tags | first }}</span>
          <meta itemprop="position" content="3">
        </li>
      {% else %}
        <li data-breadcrumb-separator="/" class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if template contains 'collection' and collection.handle %}
            <span itemprop="name">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          {% elsif template == 'blog' %}
            <span itemprop="name">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          {% elsif template contains 'page' %}
            <span itemprop="name">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          {% else %}
            <span itemprop="name">{{ langify_title }}</span>
          {% endif %}

          <meta itemprop="position" content="2">
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}