{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.cart_shipping_estimator_enabled %}
  <div class="shipping-calculator" id="shipping-calculator">
    <h3>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_estimator.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_estimator.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15133920' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

    <div>
      <div class="form-control">
        <label for="address_country"><ly-as-15133917>Country</ly-as-15133917></label>
        <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
      </div>

      <div class="form-control" id="address_province_container" style="display:none;">
        <label for="address_province" id="address_province_label"><ly-as-15133918>Province</ly-as-15133918></label>
        <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
      </div>

      <div class="form-control">
        <label for="address_zip"><ly-as-15133919>Zip/Postal Code</ly-as-15133919></label>
        <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
      </div>

      <input type="button" class="get-rates button button-small button-primary" value="{% comment %}ly_i18n_replace_for_[ 'cart.shipping_estimator.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_estimator.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15133921' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
    </div>

    <div class="wrapper-response" id="wrapper-response"></div>
  </div>

  <script id="shipping-calculator-response-template" type="text/template">
    <p id="shipping-rates-feedback" <% if (success) { %> class="success" <% } else { %> class="error" <% } %>>
      <% if (success) { %>
      <% if (rates.length > 1) { %>
      {{ 'cart.shipping_estimator.multiple_results_html' | t }}
      <% } else if (rates.length == 1) { %>
      {{ 'cart.shipping_estimator.one_result_html' | t }}
      <% } else { %>
      {{ 'cart.shipping_estimator.no_ship' | t }}
      <% } %>
      <% } else { %>
      <%= errorFeedback %>
      <% } %>
    </p>

    <ul id="shipping-rates">
      <% for (var i=0; i < rates.length; i++) { %>
        <li><%= rates[i].name %> at <%= rates[i].price %></li>
      <% } %>
    </ul>
  </script>
{% endif %}