{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<table class="cart-items">
  <thead>
    <tr>
      <th>{% comment %}ly_i18n_replace_for_[ 'cart.labels.product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.product' | t }}{% endcapture %}{% include 'ly-static-string' with '15133911' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      <th>{% comment %}ly_i18n_replace_for_[ 'cart.labels.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.price' | t }}{% endcapture %}{% include 'ly-static-string' with '15133912' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      <th>{% comment %}ly_i18n_replace_for_[ 'cart.labels.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '15133913' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      <th>{% comment %}ly_i18n_replace_for_[ 'cart.labels.subtotal' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.subtotal' | t }}{% endcapture %}{% include 'ly-static-string' with '15133914' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for item in cart.items %}
      <tr data-variant-id="{{ item.variant.id }}">
        <td class="item-details">
          <a href="{{ item.url }}" class="item-thumbnail">
            <img src="{{ item | img_url: 'small' }}" alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
          </a>

          <div class="item-info">
            <p class="item-type">{% comment %}ly_code_replace_for_[ item.product.type ]_begin{% endcomment %}{% include 'ly-type' with item.product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
            <p class="item-title"><a href="{{ item.url }}">{% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></p>

            {% if item.product.variants.size > 1 %}
              {% for variant in item.product.variants %}
                {% if variant.id == item.variant.id %}
                  <p class="item-variant">{% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
                {% endif %}
              {% endfor %}
            {% endif %}
            
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% if forloop.first %}<br>{% endif %}
                  {% assign first_character_in_key = p.first | truncate: 1, '' %}
                  {% unless p.last == blank or first_character_in_key == '_' %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}
            
          </div>
        </td>

        <td class="item-price">
          <span class="show-mobile">{% comment %}ly_i18n_replace_for_[ 'cart.labels.unit_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.unit_price' | t }}{% endcapture %}{% include 'ly-static-string' with '15133915' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} :</span>
          <span class="money">{{ item.price | money }}</span>
        </td>

        <td class="item-quantity">
          <input type="number" pattern="[0-9]*" id="updates_{{item.variant.id}}" maxlength="4" value="{{ item.quantity }}" data-variant-id="{{ item.variant.id }}">
        </td>

        <td class="item-line-price">
          <span class="show-mobile">{% comment %}ly_i18n_replace_for_[ 'cart.labels.line_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.labels.line_price' | t }}{% endcapture %}{% include 'ly-static-string' with '15133916' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} :</span>
          <span class="money">{{ item.line_price | money }}</span>
        </td>

        <td class="item-remove">
          <a href="/cart/change/{{ item.id }}?quantity=0"><i class="icon-cross"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>