{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div>
  <a href="{{ collection.url }}">
    <figure>
      {% if template == 'index' %}
      <div class="overlay"></div>
      {% endif %}

      {% if collection.image %}
        {% if items_per_row == '2' %}
          <img class="collection-item-image" src="{{ collection.image.src | img_url: 'grande' }}">
        {% elsif items_per_row == '6' %}
          <img class="collection-item-image" src="{{ collection.image.src | img_url: 'medium' }}">
        {% else %}
          <img class="collection-item-image" src="{{ collection.image.src | img_url: 'grande' }}">
        {% endif %}
      {% else %}
        <img class="collection-item-image" src="{{ collection.products.first.image.featured_image | img_url: 'grande' }}">
      {% endif %}
    </figure>
  </a>

  <section class="collection-item-info">
    {% if show_collection_title %}
      <a href="{{ collection.url }}" class="collection-item-title">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
    {% endif %}

    {% if show_products_count %}
      <p class="product-count">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'product', 'products' }}</p>
    {% endif %}
  </section>
</div>