{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="styled-select currency-selector">
  <select id="currencies" name="currencies">
    {% capture codes %}USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{% endcapture %}
    {% assign supported_codes = settings.currency_conversion_supported_currencies | upcase | split: ' ' %}

    <option value="{{ shop.currency }}" selected="selected">&euro; {{ shop.currency }}</option>
    {% for code in supported_codes %}
      {% if code != shop.currency and codes contains code %}
        {% if code contains 'USD' %}
        <option value="{{ code }}">&#36; {{ code }}</option>
        {% endif %}
        {% if code contains 'GBP' %}
        <option value="{{ code }}">&pound; {{ code }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
</div>