{% comment %}
  Copyright (c) 2016 DPD 
  Made by Esign (www.esign.eu)
  Version: 1.0.0
{% endcomment %}

 <style>
  .sw-ajax-cart-snippet {
  	font-size: 14px;
  }
 
  .sw-ajax-cart-snippet label input[type="radio"]:checked+.sw-icon-radio:before, .sw-ajax-cart-snippet label input[type="checkbox"]:checked+.sw-icon-radio:before {
    opacity: 1;
  }
  .sw-icon-radio:before {
    content: ""; display: block; transition: 0.3s; position: absolute; top: 50%; left: 50%;
    opacity: 0; width: 10px; height: 10px; margin: -5px 0 0 -5px; border-radius: 100%; background: #1990c6;
  }
</style> 

<div class="sw-ajax-cart-snippet">
  <h3 style="font-size: 1.14286em;">Select shipping method</h3>
  <div class="sw-ajax-cart-snippet__shipping-methods" style="background: #fff; margin: 10px 0 20px; border: 1px solid #ebebeb; border-radius: 3px;">
    <div class="sw-ajax-cart-snippet__method" style="padding: 10px 15px;">
      <label for="sw-method-pickup-parcel" style="position: relative; display: inline-block; margin: 0; color: #333; padding-left: 35px;">
        <input type="radio" name="sw-ajax-method" id="sw-method-pickup-parcel" value="pickup-parcel" style="display:none;" />
        <i class="sw-icon-radio" style="position: absolute; top: 3px; left: 3px; margin: 0; display: block; width: 16px; height: 16px; border: 1px solid #d2d2d2; border-radius: 100%;"></i>
        Ship to DPD Pickup Parcelshop      </label>
    </div>
    <div class="sw-ajax-cart-snippet__method" style="padding: 10px 15px; border-top: 1px solid #ebebeb;">
      <label for="sw-method-address" style="position: relative; display: inline-block; margin: 0; color: #333; padding-left: 35px;">
        <input type="radio" name="sw-ajax-method" id="sw-method-address" value="address" style="display:none;" />
        <i class="sw-icon-radio" style="position: absolute; top: 3px; left: 3px; margin: 0; display: block; width: 16px; height: 16px; border: 1px solid #d2d2d2; border-radius: 100%;"></i>
		Send to an address      </label>
    </div>
	  </div>
</div>


