{% comment %}
  Copyright (c) 2016 DPD 
  Made by Esign (www.esign.eu)
  Version: 1.0.0
{% endcomment %}

<link rel="stylesheet" property="stylesheet" href="{{ 'dpd-plugin.scss.css' | asset_url }}" /> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrkXcGmFbg1ecFgfPWMtRj1VYdoRbQH-U&libraries=places"></script>
 
<div id="dpd-plugin" class="sw-snippet">
  <h2>Select shipping method</h2>
  
  <div class="sw-tabs">
    <ul role="tablist" class="sw-tabs__list">
      <li role="presentation">
        <a id="shipping-method-pickup-parcel-tab" role="tab" tabindex="" aria-selected="true" aria-controls="shipping-method-pickup-parcel"  href="#shipping-method-pickup-parcel" class="sw-tabs__panel-link active">
          <span>Ship to DPD Pickup Parcelshop</span>
        </a>
      </li>
      <li role="presentation">
        <a id="shipping-method-address-tab" role="tab" tabindex="-1" aria-selected="false" aria-controls="shipping-method-address" href="#shipping-method-address" class="sw-tabs__panel-link">
          <span>Send to an address</span>
        </a>
      </li>
	      </ul>
    
    <div id="sw-snippet-error-holder"></div>
    
    <div id="shipping-method-pickup-parcel" role="tabpanel" aria-labelledby="shipping-method-pickup-parcel-tab" class="sw-tabs__panel">
      <h3 class="sw-vh">Ship to DPD Pickup Parcelshop</h3>

      <div class="sw-tabs__panel__content">
		  <p><strong>Receive your parcels in a DPD Pickup parcelshop.</strong></p>

<p>You will always find a DPD Pickup parcelshop (newspaper shop, flower shop; wine shop; gas station; supermarket&hellip;) near you to receive your parcels.&nbsp;</p>

<p>Type your address in the input&nbsp;field below and find the nearest Parcelshop.</p>
        
      </div>

      <h4>Receive your order in a DPD Pickup Parcelshop:</h4>
     
      <div class="sw-grid">
        <div class="sw-grid__item sw-one-half">
          
          <div class="sw-input">
			  <label for="sw-method-pickup-parcel-address" class="sw-vh">Your address *</label>
			  <input type="text" name="sw-method-pickup-parcel-address" id="sw-method-pickup-parcel-address" placeholder="Your address" />
          </div>

			<button class="sw-btn--action sw-method-find-parcelshop sw-modal-button" data-target="#sw-dpd-parcelshop-finder">Find your ParcelShop</button>

        </div>
        <div class="sw-grid__item sw-one-half">
          <div id="sw-method-parcel-selected">
          </div>          
        </div>
      </div>

      <p class="sw-mb0"><img src="{{ 'dpd-plugin-logo-parcel-finder.jpg' | asset_url }}" alt="dpd Pickup Parcelshop Finder" /></p>      

    </div>
    
    <div id="shipping-method-address" role="tabpanel" aria-labelledby="shipping-method-address-tab" class="sw-tabs__panel" aria-hidden="true">
      <h3 class="sw-vh">Send to an address</h3>
      
      <div class="sw-tabs__panel__content">
		  <p>Ship your parcel to a&nbsp;(home) address.</p>
      </div>
      
    </div>
    
    <div id="shipping-method-store" role="tabpanel" aria-labelledby="shipping-method-store-tab" class="sw-tabs__panel" aria-hidden="true">
      <h3 class="sw-vh">Pick up in store</h3>
      
      <div class="sw-tabs__panel__content">
		  <p>Pick up your parcel in one of our stores.&nbsp;</p>
        
      </div>
      
      <h4>Pick up your order in one of our stores</h4>
      
      <div id="sw-stores-holder" class="sw-content" tabindex="0">
      </div>
      
    </div>
    
    <div class="sw-buttons">
		<input type="submit" name="checkout" class="sw-btn" value="Check Out">
    </div>
    
  </div>
  
</div>

<div style="display:none">
  <span id="sw-select-country-placeholder">--- Select your country ---</span>
  <span id="sw-error-general">Something went wrong. Please try again.</span>
  <span id="sw-error-select-pickup-point">Please select a Pickup Parcelshop.</span>
  <span id="sw-error-select-store">Please select a store.</span>
  <span id="sw-error-address">Please select your address.</span>
  <span id="sw-error-dpd-country">We are not shipping to parcelshops in this country.</span>
  <span id="sw-modal-title">DPD Pickup Parcelshop Finder</span>
  <span id="sw-modal-address-label">Your address</span>
  <span id="sw-modal-search">Search</span>
  <span id="sw-modal-close">Close this window</span>
  <span id="sw-modal-btn-details">Details</span>
  <span id="sw-modal-btn-select">Deliver here</span>
  <span id="sw-infowindow-opening-hours">Opening hours</span>
  <span id="sw-infowindow-closed">closed</span>
  <span id="sw-infowindow-monday">Monday</span>
  <span id="sw-infowindow-tuesday">Tuesday</span>
  <span id="sw-infowindow-wednesday">Wednesday</span>
  <span id="sw-infowindow-thursday">Thursday</span>
  <span id="sw-infowindow-friday">Friday</span>
  <span id="sw-infowindow-saturday">Saturday</span>
  <span id="sw-infowindow-sunday">Sunday</span>
</div>

<script id="sw-modal-template" type="text/template">
  <div id="sw-dpd-parcelshop-finder" class="sw-modal" tabindex="-1" role="dialog">
    <div class="sw-modal__content">
      <h2 class="sw-vh" id="sw-modal-title-field">DPD Pickup Parcelshop Finder</h2>
      <div id="dpd-map" class="sw-modal-map">&nbsp;</div>
      
      <div class="sw-modal-sidebar">
        
        <div class="sw-modal-sidebar__header">
          
           <form id="sw-dpd-search-form" action="/cart" method="get">
            <div class="sw-input">
              <label for="sw-search-parcel-address"><span id="sw-modal-address-label-field">Your address</span> *</label>
              <div class="sw-input-group">
                <input type="search" id="sw-search-parcel-address" name="sw-search-parcel-address" />
                <button type="submit" class="sw-input-group-btn">
                  <i class="sw-icon">
                    <svg viewBox="0 0 10 10">
                      <use xlink:href="#sw-icon-search"></use>
                    </svg>
                  </i>
                  <span class="sw-vh" id="sw-modal-search-field">Search</span>
                </button>
              </div>
            </div>
          </form>
                   
        </div>
        
        <div id="sw-parcelshops-holder" class="sw-content sw-scrollable-content" tabindex="0">
        </div>
      </div>      
    </div>

    <button class="sw-modal-close sw-modal-close-trigger">
      <i class="sw-icon">
        <svg viewBox="0 0 15 15">
          <use xlink:href="#sw-icon-close"></use>
        </svg>
      </i>
      <span class="sw-vh" id="sw-modal-close-field">Close this window</span>
    </button>
  </div>
  <div class="sw-modal-overlay"></div>
</script>

<script id="store-pickup-template" type="text/template">
{% raw %}
<ul class="sw-stores-list">
  {{#stores}}
  <li>
    <label for="sw-method-store-{{@index}}">
      <input type="radio" name="sw-method-store" id="sw-method-store-{{@index}}" value="{{ id }}" />
      <i class="sw-icon-radio"></i>
      <strong>{{ company }}</strong>
      {{ address1 }}{{#if address2}} {{ address2 }}{{/if}}, {{ zip }} {{ city }}{{#if province}}, {{ province }}{{/if}}{{#if country}}, {{ country }}{{/if}}
    </label>
  </li>
  {{/stores}}
</ul>
{% endraw %}
</script>

<script id="parcelshops-template" type="text/template">
{% raw %}
<ul class="sw-parcelshops-list">
  {{#locations}}
  <li id="parcelshop{{@index}}" class="sw-parcelshop__item">
    <div class="sw-grid">
      <div class="sw-grid__item">
        <h3>{{ company }}</h3>
      </div>
    </div>
  
    <p>{{ address1 }}{{#if address2}} {{ address2 }}{{/if}}<br/> {{ zip }} {{ city }}{{#if province}}, {{ province }}{{/if}}</p>
        
    <div class="sw-buttons">
      <button class="sw-btn--secondary small sw-parcelshop-details sw-modal-btn-details-field">Details</button>
      <button class="sw-btn small sw-parcelshop-select sw-modal-btn-select-field">Deliver here</button>
    </div>
  </li>
  {{/locations}}
  </ul>
{% endraw %}
</script>

<script id="parcelshops-infowindow-template" type="text/template">
{% raw %}
  <div class="gm-style-iw__content">
    <h3>{{ company }}</h3>
    <p>{{ address1 }}{{#if address2}} {{ address2 }}{{/if}}<br/> {{ zip }} {{ city }}{{#if province}}, {{ province }}{{/if}}</p>
        
    <div class="sw-buttons">
        <button class="sw-btn small sw-parcelshop-select sw-modal-btn-select-field" data-item-index="{{ itemIndex }}">Deliver here</button>
    </div>
    <hr/>
    <h4 class="sw-infowindow-opening-hours-field">Opening hours:</h4>
    <table class="sw-parcelshop__opening-hours">
      {{#openingshours}}
        <tr class="">
          <td class="sw-infowindow-{{ toLowerCase weekday }}-field">{{ weekday }}</td>
          <td>
            {{#ifCond closeMorning '==' '00:00'}}
              <span class="sw-infowindow-closed-field">closed</span>
            {{else}}
              {{ openMorning }}-{{ closeMorning }}
            {{/ifCond}}
          </td>
          <td>
            {{#ifCondAnd closeMorning '00:00' openAfternoon '00:00'}}
            &nbsp;
            {{else}}
              {{#ifCond openAfternoon '==' '00:00'}}
                <span class="sw-infowindow-closed-field">closed</span>
              {{else}}
                {{ openAfternoon }}-{{ closeAfternoon }}
              {{/ifCond}}
            {{/ifCondAnd}}
          </td>
        </tr>
      {{/openingshours}}
    </table>
  </div> 
{% endraw %}
</script>

<script id="parcelshop-selected-template" type="text/template">
{% raw %}
<div class="sw-box--space success">
  <h4>{{ company }}</h4>
  <p>{{ address1 }}{{#if address2}} {{ address2 }}{{/if}}<br/> {{ zip }} {{ city }}{{#if province}}, {{ province }}{{/if}}</p>
</div>
{% endraw %}
</script>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
  <defs>
    <g id="sw-icon-checkmark">
      <path class="path1" d="M8.5,0L10,1.2c0.1,0,0.1,0.1,0,0.2l-5.8,7c0,0-0.1,0.1-0.1,0c0,0-0.1,0-0.1,0L0,5.1C0,5.1,0,5,0,4.9l1.2-1.4c0-0.1,0.1-0.1,0.2,0l2.4,2L8.3,0C8.4,0,8.5,0,8.5,0z"></path>
    </g>
    <g id="sw-icon-search">
      <path d="M8.7,9.9L6.3,7.5C5.7,7.9,4.9,8.2,4.1,8.2C1.8,8.2,0,6.4,0,4.1C0,1.8,1.8,0,4.1,0c2.3,0,4.1,1.8,4.1,4.1c0,0.8-0.2,1.5-0.6,2.2l2.4,2.4c0.1,0.1,0,0.4-0.2,0.7L9.4,9.6C9.1,9.9,8.8,10,8.7,9.9z M6.8,4.1c0-1.5-1.2-2.7-2.7-2.7c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7C5.6,6.8,6.8,5.6,6.8,4.1z"></path>
    </g>
    <g id="sw-icon-close">
      <path d="M2.1,0C2,0,1.9,0,1.8,0.1L0.1,1.8C-0.1,2,0,2.2,0.2,2.4l5.1,5.1l-5.1,5.1c-0.2,0.2-0.2,0.5-0.1,0.6l1.7,1.7
               c0.2,0.2,0.4,0.1,0.6-0.1l5.1-5.1l5.1,5.1c0.2,0.2,0.5,0.2,0.6,0.1l1.7-1.7c0.1-0.2,0.1-0.4-0.1-0.6L9.7,7.5l5.1-5.1C15,2.2,15.1,2,14.9,1.8l-1.7-1.7C13-0.1,12.8,0,12.6,0.2L7.5,5.3L2.4,0.2C2.3,0.1,2.2,0,2.1,0z"/>
    </g>
  </defs>
</svg> 

<script>
  var dpdHandlebars = '{{ "dpd-handlebars.min.js" | asset_url }}',
      dpdMarker = '{{ "dpd-marker.png" | asset_url }}',
      dpdMarkerLocation = '{{ "dpd-marker-location.png" | asset_url }}';
</script>
{{ 'dpd-plugin.js' | asset_url | script_tag }}