{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

<footer role="contentinfo" class="foooter">
  <div class="container">
    <div class="inner">
      <div class="footer-row">

<table class="footerCustomMenu" style="width:75%; float:left;">
<tbody>
<tr>
  <td style="width:33%;"><a href="/pages/delivery"><ly-as-14656054>Delivery</ly-as-14656054></a></td>
  <td style="width:33%;padding-left:0px"><a href="/pages/stockists"><ly-as-14656055>Stores</ly-as-14656055></a></td>
  <td style="width:33%;"><a href="/search"><ly-as-14656056>Search</ly-as-14656056></a></td>
</tr>
<tr>
  <td style="width:33%;"><a href="/pages/returns"><ly-as-14656057>Returns</ly-as-14656057></a></td>
  <td style="width:33%;padding-left:0px"><a href="/pages/about"><ly-as-14656058>About</ly-as-14656058></a></td>
  <td style="width:33%;"><a href="/pages/careers"><ly-as-14656059>Careers</ly-as-14656059></a></td>
</tr>
<tr>
  <td style="width:33%;"><a href="/pages/payment"><ly-as-14656060>Payment</ly-as-14656060></a></td>
  <td style="width:33%;padding-left:0px"><a href="https://fillesapapa.com"><ly-as-14656061>Website</ly-as-14656061></a></td>
  <td style="width:33%;"><a href="/pages/privacy"><ly-as-14656062>Privacy</ly-as-14656062></a></td>
</tr>
<tr>
  <td style="width:33%;"><a href="/pages/faqs"><ly-as-14656063>FAQs</ly-as-14656063></a></td>
  <td style="width:33%;padding-left:0px"><a href="/pages/contact"><ly-as-14656064>Contact</ly-as-14656064></a></td>
  <td style="width:33%;"><a href="/pages/terms-conditions"><ly-as-14656065>Conditions</ly-as-14656065></td>
</tr>
</tbody>
</table>

<table class="footerCustomMenu2" style="width:25%; float:left; margin-bottom: 20px; padding:0;">
<tbody>
<tr class="socialTD">
  <td  class="socialTD">
        {% if settings.footer_social_enabled %}
          {% capture footer_social_links %}
            {% include 'social-networks' %}
          {% endcapture %}

          {% if footer_social_links != blank %}
            <section class="footer-module footer-social">
              <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656068' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

              <ul>
                {{ footer_social_links }}
              </ul>
            </section>
          {% endif %}
        {% endif %}
  </td>
</tr>
<tr  class="newsletterTD">
  <td class="newsletterTD">
    {% if settings.footer_newsletter_enabled and settings.newsletter_form_action != blank %}
          <section class="footer-module footer-newsletter">
            <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656069' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

            <form action="{{ settings.newsletter_form_action }}" method="post">
              <input type="email" name="EMAIL" placeholder="{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14656070' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
              <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_submit' | t }}{% endcapture %}{% include 'ly-static-string' with '14656071' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            </form>
          </section>
      {% endif %}
  </td>
</tr>
</tr>
</tbody>
</table>
<!--
        {% if settings.footer_logo_enabled %}
          <section class="footer-module footer-logo">
            {% if settings.header_use_logo %}
              <a href="/">
                <img class="logo-image" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}">
              </a>
            {% else %}
              <a href="/">{{ langify_shop_name }}</a>
            {% endif %}
          </section>
        {% endif %}

        {% if settings.footer_about_my_shop_enabled %}
          <section class="footer-module footer-about-my-shop">
            <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.about_my_shop_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.about_my_shop_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656072' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

            <p>{% comment %}ly_i18n_replace_for_[ 'layout.footer.about_my_shop_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.about_my_shop_content' | t }}{% endcapture %}{% include 'ly-static-string' with '14656073' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
          </section>
        {% endif %}

        {% assign linklist = linklists[settings.footer_links_linklist] %}

        {% if settings.footer_links_enabled and linklist.links != empty %}
          <section class="footer-module footer-links">
            <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.link_list_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.link_list_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656074' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

            <ul>
              {% for link in linklist.links %}
                <li><a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      </div>

      <div class="footer-row">
        {% if settings.footer_social_enabled %}
          {% capture footer_social_links %}
            {% include 'social-networks' %}
          {% endcapture %}

          {% if footer_social_links != blank %}
            <section class="footer-module footer-social">
              <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656068' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

              <ul>
                {{ footer_social_links }}
              </ul>
            </section>
          {% endif %}
        {% endif %}

        {% if settings.footer_contact_enabled %}
          <section class="footer-module footer-contact">
            <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.contact_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.contact_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656075' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>
            <p>
              {% if settings.footer_contact_phone != blank %}
                {% comment %}ly_i18n_replace_for_[ 'layout.footer.contact_phone' | t: phone_number: settings.footer_contact_phone ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.contact_phone' | t: phone_number: settings.footer_contact_phone }}{% endcapture %}{% include 'ly-static-string' with '14656077' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = settings.footer_contact_phone  %}{% assign ly_template = ly_template | replace: '[[phone_number]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <br>
              {% endif %}
              {% if settings.footer_contact_email != blank %}
                <a href="mailto:{% comment %}ly_new_settings_replace_for_[ settings.footer_contact_email ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id14656066"] %}{% assign ly_translation = shop.metafields[namespace]["id14656066"] %}{% else %}{% assign ly_translation = settings.footer_contact_email %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}">{% comment %}ly_new_settings_replace_for_[ settings.footer_contact_email ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id14656066"] %}{% assign ly_translation = shop.metafields[namespace]["id14656066"] %}{% else %}{% assign ly_translation = settings.footer_contact_email %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}</a>
              {% endif %}
            </p>
          </section>
        {% endif %}

        {% if settings.footer_newsletter_enabled and settings.newsletter_form_action != blank %}
          <section class="footer-module footer-newsletter" style="padding-left=14px;">
            <h3 class="footer-title">{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_title' | t }}{% endcapture %}{% include 'ly-static-string' with '14656069' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

            <form action="{{ settings.newsletter_form_action }}" method="post">
              <input type="email" name="EMAIL" placeholder="{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14656070' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
              <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'layout.footer.newsletter_submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.newsletter_submit' | t }}{% endcapture %}{% include 'ly-static-string' with '14656071' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            </form>
          </section>
        {% endif %}
      </div>
    -->

      <div class="footer-misc">
        <p class="copyright">
          <ly-as-14656067>copyright 2015-2018. FILLESAPAPA. web by AE</ly-as-14656067>
        </p>

        <ul class="payment-methods">
          {% assign payment_types = shop.enabled_payment_types %}

          {% if payment_types contains 'visa' %}<li><i class="icon-visa" title="Visa"></i></li>{% endif %}
          {% if payment_types contains 'master' %}<li><i class="icon-mastercard" title="MasterCard"></i></li>{% endif %}
          {% if payment_types contains 'american_express' %}<li><i class="icon-amex" title="AMEX"></i></li>{% endif %}
          {% if payment_types contains 'jcb' %}<li><i class="icon-jcb" title="JCB"></i></li>{% endif %}
          {% if payment_types contains 'discover' %}<li><i class="icon-discover" title="Discover"></i></li>{% endif %}
          {% if payment_types contains 'diners_club' %}<li><i class="icon-diners-club" title="Diners"></i></li>{% endif %}
          {% if payment_types contains 'maestro' %}<li><i class="icon-maestro" title="Maestro"></i></li>{% endif %}
          {% if payment_types contains 'stripe' %}<li><i class="icon-stripe" title="Stripe"></i></li>{% endif %}
          {% if payment_types contains 'paypal' %}<li style="display:none;"><i class="icon-paypal" title="PayPal"></i></li>{% endif %}
          {% if payment_types contains 'google_wallet' %}<li><i class="icon-google-wallet" title="Google Wallet"></i></li>{% endif %}
          {% if payment_types contains 'bitcoin' %}<li><i class="icon-bitcoin" title="BitCoin"></i></li>{% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
