{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<ul class="header-nav-links">

  <li class="search-link">
    <a href="#mega-search" class="search-toggle fancybox">
      {% include 'icon-search' %}
      <!-- <i class="icon-search" title="Search"></i> -->
    </a>
  </li>
  
  {% for link in linklists[settings.main_linklist].links %}
  {% comment %}
  Create a dropdown menu by naming a linklist the same as a link in the parent nav

  More info on dropdowns:
  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
  {% endcomment %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}
  <li class="is-nested {% if link.active and is_mobile_navigation != true %}active{% endif %}" aria-haspopup="true">
    <a href="{{ link.url }}" class="link-item-{{ forloop.index }}">{% comment %}ly_code_replace_for_[ link.title | link_to: link.url ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
     {% if is_mobile_navigation %}
    <a href="#" class="see-more"><i class="icon-plus"></i></a>
    {% endif %}
    <ul class="dropdown-level-1">
      {% for childlink in linklists[child_list_handle].links %}
      <li class="{% if childlink.active and is_mobile_navigation != true %}active{% endif %}">
        {% comment %}ly_code_replace_for_[ link.title | link_to: link.url ]_begin{% endcomment %}{% include 'ly-title' with childlink %}{{ ly_translation | link_to: childlink.url }}{% comment %}ly_code_replace_end{% endcomment %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="{% if link.active and is_mobile_navigation != true %} active{% endif %}">
    <a href="{{ link.url }}" class="link-item-{{ forloop.index }}">{% comment %}ly_code_replace_for_[ link.title | link_to: link.url ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
  </li>
  {% endif %}
  {% endfor %}
 

</ul>