{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="top-header-container">
  <header role="banner" class="header {% if push_header != blank %}has-push{% endif %}">
    <div class="container">
      <div class="header-toolbar">
        {% if settings.currency_conversion_enabled %}
          {% include 'currency-selector' %}
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li><a href="/account">{% comment %}ly_i18n_replace_for_[ 'layout.header.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.account' | t }}{% endcapture %}{% include 'ly-static-string' with '15133922' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
            <!--<li>{% comment %}ly_i18n_replace_for_[ 'layout.header.logout' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.logout' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '15133923' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</li>-->
          {% else %}
            <li><a href="/account/login">{% comment %}ly_i18n_replace_for_[ 'layout.header.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.login' | t }}{% endcapture %}{% include 'ly-static-string' with '15133924' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
          {% endif %}
        {% endif %}
        <li>{% include 'iwish_v2' with 'iwishlink' %}</li>
        <li><a href="/cart">{% comment %}ly_i18n_replace_for_[ 'layout.header.cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.cart' | t }}{% endcapture %}{% include 'ly-static-string' with '15133925' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} (<span class="cart-item-count">{{ cart.item_count }}</span>)</a></li>
        <li class="lySwitch">{% include 'ly-languages-switcher' %}</li>     
      </div>
      <h1 class="header-logo">
        {% if settings.header_use_logo %}
          <a href="/">
            <img class="logo-image" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}">
          </a>
        {% else %}
          <a href="/">{{ langify_shop_name }}</a>
        {% endif %}
      </h1>

      <nav class="header-nav header-desktop-nav" role="navigation">
        {% assign is_mobile_navigation = false %}
        {% include 'header-nav-links' %}

        <div id="mega-search" class="header-search" style="display: none">
          <form action="/search" method="get" class="header-search-form" role="search">
            <input type="hidden" name="type" value="product">
            <input type="search" id="search-autocomplete" name="q" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15133926' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms | escape }}" autofocus="autofocus" autocomplete="off">
          </form>
        </div>
      </nav>

      <nav class="header-nav header-mobile-nav" role="navigation">
        <ul class="mobile-nav-tabs">
          <li class="mobile-menu">
            <a href="#" class="tab-icon"><i class="icon-menu"></i></a>

            <div class="tab-content">
              {% assign is_mobile_navigation = true %}
              {% include 'header-nav-links' %}
            </div>
          </li>

          {% if shop.customer_accounts_enabled %}
            <li class="mobile-customer-links">
              <a href="#" class="tab-icon"><i class="icon-user"></i></a>

              <div class="tab-content">
                {% if customer %}
                  <a href="/account" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'layout.header.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.account' | t }}{% endcapture %}{% include 'ly-static-string' with '15133922' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                  <a href="/account/logout" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'layout.header.logout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.logout' | t }}{% endcapture %}{% include 'ly-static-string' with '15133927' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>

                {% else %}
                  <a href="/account/login" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'layout.header.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.login' | t }}{% endcapture %}{% include 'ly-static-string' with '15133924' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                  <a href="/account/register" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'layout.header.register' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.register' | t }}{% endcapture %}{% include 'ly-static-string' with '15133928' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                {% endif %}

                
                {% include 'mobile-languages-switcher' %}
                

                
                {% include 'currency-selector' %}
                

              </div>
            </li>
          {% endif %}
			
          <li>
            {% include 'iwish_v2' with 'iwishmobilelink' %}
          </li>
          
          <li {% if template == 'cart' %}class="active"{% endif %}>
            <a href="/cart" class="tab-icon">
              <i class="icon-cart"></i>
              {% if cart.item_count > 0 %}<span class="cart-count">{{ cart.item_count }}</span>{% endif %}
            </a>
          </li>

          <li>
            <a href="#" class="tab-icon search-link"><i class="icon-search"></i></a>

            <div class="tab-content">
              <form action="/search" method="get" class="search-form" role="search">
                <input type="hidden" name="type" value="product">
                <input type="search" name="q" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15133926' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms | escape }}">
              </form>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    {% if push_header != blank %}
      {{ push_header }}
    {% endif %}
  </header>

  {% if template == 'index' %}
    {% include 'slider' %}
  {% endif %}
</div>