<div class="home-modal-video">
  <iframe src="//player.vimeo.com/video/{{ settings.video_url.id }}?loop=1" width="1400" height="100%" frameborder="0" allow="autoplay" allowfullscreen></iframe>
  {% include 'icon-close' %}
</div>