{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title><ly-as-15133931>Fill 6</ly-as-15133931></title>
    <desc><ly-as-15133932>Created with Sketch.</ly-as-15133932></desc>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile-Menu" transform="translate(-340.000000, -31.000000)" fill="#4A4A4A">
            <path d="M340.198405,45.8018208 C340.330675,45.9340907 340.503574,46 340.676924,46 C340.850275,46 341.023625,45.9340907 341.155895,45.8018208 L347.499887,39.4578286 L353.843879,45.8018208 C353.976149,45.9340907 354.1495,46 354.32285,46 C354.4962,46 354.669099,45.9340907 354.801369,45.8018208 C355.065909,45.5377323 355.065909,45.1084192 354.801369,44.8443308 L348.457377,38.5003386 L354.801369,32.155895 C355.065909,31.8918065 355.065909,31.4629448 354.801369,31.1984049 C354.536829,30.933865 354.108419,30.933865 353.843879,31.1984049 L347.499887,37.5428485 L341.155895,31.1984049 C340.891355,30.933865 340.462945,30.933865 340.198405,31.1984049 C339.933865,31.4629448 339.933865,31.8918065 340.198405,32.155895 L346.542397,38.5003386 L340.198405,44.8443308 C339.933865,45.1084192 339.933865,45.5377323 340.198405,45.8018208" id="Fill-6"></path>
        </g>
    </g>
</svg>