{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title><ly-as-15133933>Fill 3</ly-as-15133933></title>
    <desc><ly-as-15133934>Created with Sketch.</ly-as-15133934></desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons/icon-search" transform="translate(0.000000, -1.000000)" fill="#000000">
            <path d="M18.301,3.985 C26.441,3.985 33.063,10.607 33.063,18.746 C33.063,26.887 26.441,33.509 18.301,33.509 C10.161,33.509 3.539,26.887 3.539,18.746 C3.539,10.607 10.161,3.985 18.301,3.985 Z M18.301,36.509 C22.659,36.509 26.65,34.925 29.744,32.31 L39.313,41.879 C39.605,42.172 39.989,42.319 40.373,42.319 C40.757,42.319 41.141,42.172 41.434,41.879 C42.02,41.294 42.02,40.344 41.434,39.758 L31.865,30.189 C34.479,27.096 36.063,23.105 36.063,18.746 C36.063,8.953 28.095,0.985 18.301,0.985 C8.507,0.985 0.539,8.953 0.539,18.746 C0.539,28.54 8.507,36.509 18.301,36.509 Z" id="Fill-3"></path>
        </g>
    </g>
</svg>