{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title><ly-as-14811554>002-magnifying-glass</ly-as-14811554></title>
    <desc><ly-as-14811555>Created with Sketch.</ly-as-14811555></desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="mobile-menu-button" transform="translate(-10.000000, -13.000000)" fill="#33333A">
            <g id="002-magnifying-glass">
                <g transform="translate(10.000000, 13.000000)">
                    <rect id="line-1" class="line" x="0" y="0" width="20" height="1.5" rx="0.75"></rect>
                    <rect id="line-2" class="line" x="0" y="12" width="10" height="1.5" rx="0.75"></rect>
                    <rect id="line-3" class="line" x="0" y="6" width="15" height="1.5" rx="0.75"></rect>
                </g>
            </g>
        </g>
    </g>
</svg>