{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="13px" height="17px" viewBox="0 0 13 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title><ly-as-15133929>shopping-bag</ly-as-15133929></title>
    <desc><ly-as-15133930>Created with Sketch.</ly-as-15133930></desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shopping-bag" transform="translate(-14.000000, -12.000000)" fill="#000000">
            <path d="M25.6958445,26.5517898 C25.6958445,27.3064417 25.0819027,27.9203836 24.3272508,27.9203836 L16.4482102,27.9203836 C15.6935583,27.9203836 15.0796164,27.3064417 15.0796164,26.5517898 L15.0796164,17.4840915 L25.6958445,17.4840915 L25.6958445,26.5517898 Z M18.0957048,15.3720019 C18.0957048,14.108131 19.1238595,13.0796164 20.3877305,13.0796164 C21.6516014,13.0796164 22.6797561,14.108131 22.6797561,15.3720019 L22.6797561,16.4044751 L18.0957048,16.4044751 L18.0957048,15.3720019 Z M17.0160884,15.3720019 L17.0160884,16.4044751 L14.5398082,16.4044751 C14.2414742,16.4044751 14,16.6463092 14,16.9442833 L14,26.5517898 C14,27.9016702 15.0983298,29 16.4482102,29 L24.3272508,29 C25.6771312,29 26.775461,27.9016702 26.775461,26.5517898 L26.775461,16.9442833 C26.775461,16.6463092 26.5339867,16.4044751 26.2356527,16.4044751 L23.7593726,16.4044751 L23.7593726,15.3720019 C23.7593726,13.5129025 22.2468299,12 20.3877305,12 C18.528631,12 17.0160884,13.5129025 17.0160884,15.3720019 Z" id="shopping-bag"></path>
        </g>
    </g>
</svg>