{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="article-list-item-meta">
  <time datetime="{{ article.published_at | date: '%Y-%m-%dT%T' }}" itemprop="dateCreated">{{ article.published_at | date: format: 'month_day_year' }}</time>
  <a class="article-list-item-title" href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
</div>

<div class="article-list-item-content rte">
  {% assign excerpt_or_content = article.excerpt_or_content %}

  {% if excerpt_or_content contains "<img" %}
    {% assign src = excerpt_or_content | split: 'src="' %}
    {% assign src_final = src[1] | split: '"' %}

    <a href="{{ article.url }}">
      <img src="{{ src_final[0] }}">
    </a>
  {% endif %}

  <p>{{ excerpt_or_content | strip_html | truncatewords: 20 }}</p>
</div>

{% if settings.index_latest_posts_read_more_enabled %}
  <div class="read-more">
    <a href="{{ article.url }}" class="button button-small">{% comment %}ly_i18n_replace_for_[ 'blog.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '15133935' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  </div>
{% endif %}