{%- liquid
  assign show_notify_me = false

  if product.tags contains "notifyme"
    assign show_notify_me = true
  endif
-%}

{% if show_notify_me %}
  <div class="klaviyo-notify-me" data-component="NotifyMe">
    <div class="space-y-5" data-notify-me-form>
      <p class="text-green-300 mb-2" data-notify-me-success style="display: none;">
        {{ 'products.notify_me.success' | t }}
      </p>

      <div class="space-y-2 mb-4">
        <div>
          <input type="text" placeholder="{{ 'products.notify_me.name' | t }}" name="name" required>
        </div>

        <div>
          <input type="email" placeholder="{{ 'products.notify_me.email' | t }}" name="email" required>
        </div>
      </div>

      <button type="button" class="button button-full button-notify-me" data-notify-me-submit>
        {{ 'products.notify_me.submit' | t }}
      </button>
    </div>
  </div>
{% endif %}
