{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.marketing_popup_enabled %}
  {% unless settings.marketing_popup_only_on_index and template != 'index' %}
    {% unless settings.marketing_popup_only_visitors and customer %}
      {% assign page = pages[settings.marketing_popup_page_handle] %}

      {% comment %}
      We use a script tag to manually open the Fancybox element. The reason is that script tag is the only HTML tag
      that never takes space visually
      {% endcomment %}

      <script id="marketing-modal-toggle" class="fancybox" data-fancybox-href="#marketing-modal"></script>

      <div id="marketing-modal" class="modal marketing-modal">
        <div class="modal-header">
          <h4 class="modal-title headline">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
        </div>

        <div class="modal-body rte">
          {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>

        {% if settings.newsletter_form_action != blank %}
          <section class="marketing-modal-newsletter">
            <form action="{{ settings.newsletter_form_action }}" method="post">
              <div class="newsletter-email">
                <input type="email" name="EMAIL" placeholder="{% comment %}ly_i18n_replace_for_[ 'layout.promotions.newsletter_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.promotions.newsletter_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15133944' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                <input type="submit" class="button button-small button-primary" value="{% comment %}ly_i18n_replace_for_[ 'layout.promotions.newsletter_submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.promotions.newsletter_submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15133945' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
              </div>
            </form>
          </section>
        {% endif %}
      </div>
    {% endunless %}
  {% endunless %}
{% endif %}