{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign current_language = cart.attributes["language"] %}{% if current_language == nil %}{% assign current_language = shop.metafields["languages"]["default"] %}{% endif %}
<select id="mobile-languages-switcher">
  {% for language in shop.metafields.languages %}
  {% assign key = language | first %}
  {% assign value = language | last %}
  {% if key != "default" %}
  <option value="{{ key }}"{% if key == current_language %} selected="selected"{% endif %}>{{ value }}</option>
  {% endif %}
  {% endfor %}
</select>
<script>
  $('#mobile-languages-switcher').change(function() {
    if(langify.helper.changeLanguage) {
  	  langify.helper.changeLanguage($(this).val());
    } else if(langify.helper.saveLanguage) {
      langify.helper.saveLanguage($(this).val());
    }
  });
</script>