{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="home-blocks block-section-{{block.id}} page-section">
  <div class="blocks flexy">
    {% for i in (1..4) %}
    {% capture block_image %}block_{{i}}_image{% endcapture %}
    {% capture block_hover_image %}block_{{i}}_hover_image{% endcapture %}
    {% capture block_title %}block_{{i}}_title{% endcapture %}
    {% capture block_link %}block_{{i}}_link{% endcapture %}
    {% capture block_title %}block_{{i}}_title{% endcapture %}
    {% capture block_hide_mobile %}block_{{i}}_hide_mobile{% endcapture %}
    {% if block.settings[block_image] != blank %}
    <div class="block-item {{ block.settings.item_per_row }} {{ block.settings.item_per_row_mb }} {% if block.settings[block_title] == blank %}no-text{% endif %}{% if block.settings[block_hide_mobile] %} hide-mobile{% endif %}">
      <a {% if section.settings.popup_replacement %}class="nlt_link" {% endif %}
         {% if section.settings.popup_replacement %}
         	href="#page-newsletter__section-{{ page.id }}"
         {% else %}
         	{% if block.settings[block_link] != blank %}href="{{ block.settings[block_link] }}"{% endif %}
         {% endif %}
         >
        
      <div class="block-item-wrap {% if block.settings[block_hover_image] != blank %}glitch fillesapapa-glitch--style{% endif %}">
        {% if block.settings[block_image] != blank %}
        <div class="image {% if block.settings[block_hover_image] != blank %}glitch-first glitch__img{% endif %}">{{ block.settings[block_image] | img_url: '1024x1024', crop: 'center' | img_tag }}</div>
        {% endif %}
        {% if block.settings[block_hover_image] != blank %}
        <div class="image {% if block.settings[block_hover_image] != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings[block_hover_image] | img_url: '1024x1024', crop: 'center' }});"></div>
        {% endif %}
        {% if block.settings[block_hover_image] != blank %}
        <div class="image {% if block.settings[block_hover_image] != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings[block_image] | img_url: '1024x1024', crop: 'center' }});"></div>
        {% endif %}
        {% if block.settings[block_hover_image] != blank %}
        <div class="image {% if block.settings[block_hover_image] != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings[block_hover_image] | img_url: '1024x1024', crop: 'center' }});"></div>
        {% endif %}
        {% if block.settings[block_hover_image] != blank %}
        <div class="image {% if block.settings[block_hover_image] != blank %}glitch-last glitch__img{% endif %}" style="background-image: url({{ block.settings[block_hover_image] | img_url: '1024x1024', crop: 'center' }});"></div>
        {% endif %}

        {% if block.settings[block_title] != blank %}
        <div class="text text-{{ block.settings.font_size }}">{{ block.settings[block_title]  }}</div>
        {% endif %}
      </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<style>
  .block-section-{{block.id}} .fillesapapa-glitch--style {
  --gap-horizontal: 50px;
  --gap-vertical: 100px;
    --time-anim: {{ block.settings.time_anim | append: 's' }};
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: overlay;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: transparent;
}
</style>