{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="home-video page-video__section-{{ block.id }} page-section">
  <div class="video-site">
    <div class="element-with-video-bg jquery-background-video-wrapper">
      {% if block.settings.video_url.type != "vimeo" %}
      <video class="my-background-video jquery-background-video" loop muted playsinline 
             {% if block.settings.autoplay %}autoplay muted{% endif %}
             poster="{{block.settings.image | img_url: '2048x2048'}}">
        <source src="{{block.settings.mp4}}" type="video/mp4">
        <source src="{{block.settings.webm}}" type="video/webm">
        <source src="{{block.settings.ogg}}" type="video/ogg">
      </video>
      {% elsif block.settings.video_url.type == "vimeo" %}
      <div class="vimeo-video-block" data-vimeo-id="{{ block.settings.video_url.id }}">
        {% unless block.settings.autoplay %}<iframe class="vimeo-video-frame" src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=1&muted=1&loop=1" width="1040" height="460" frameborder="0" allow="autoplay" allowfullscreen></iframe>{% endunless %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .page-video__section-{{ block.id }} .element-with-video-bg {
    padding-bottom: 50%;
  }
  
  @media only screen and (max-width: 640px) {
    .page-video__section-{{ block.id }} .element-with-video-bg {
      padding-bottom: 94.4%;
    }
  }
</style>

<script>
  $(document).ready(function(){
    $('.page-video__section-{{ block.id }} .my-background-video').bgVideo();
    
    //
    $('.page-video__section-{{ block.id }} .jquery-background-video-pauseplay').removeClass('pause');
    $('.page-video__section-{{ block.id }} .jquery-background-video-pauseplay').addClass('play');
    
    $('.page-video__section-{{ block.id }} .my-background-video').click(function() {
      $('.page-video__section-{{ block.id }} .jquery-background-video-pauseplay').toggleClass('pause');
      $('.page-video__section-{{ block.id }} .jquery-background-video-pauseplay').toggleClass('play');
      $('.page-video__section-{{ block.id }} .jquery-background-video-pauseplay').trigger( "click" );
    });
  });
</script>

{% if block.settings.video_url.type == "vimeo" and block.settings.autoplay %}
	<script>
      document.addEventListener("DOMContentLoaded", function(){
        vimeoBlock = $(".page-video__section-{{ block.id }} .vimeo-video-block");
        vimeoID = vimeoBlock.data('vimeo-id');
        video = `<iframe src="https://player.vimeo.com/video/${vimeoID}?title=0&loop=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>`;
        vimeoBlock.append(video);
        iframe = vimeoBlock.find('iframe');
        var player_{{ block.id | replace: '-', '_' }} = new Vimeo.Player(iframe);

        if ($(window).width() < 768){
          player_{{ block.id | replace: '-', '_' }}.setVolume(0);
        } else {
          player_{{ block.id | replace: '-', '_' }}.setVolume(1);
        };

        player_{{ block.id | replace: '-', '_' }}.play();
      }); 
  </script>
{% endif %}
