{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="home-slideshow page-section">
  <div class="slideshow slider-{{block.id}}">
    {% for i in (1..4) %}
    {% capture block_image %}image_{{i}}{% endcapture %}
    {% capture block_mb_image %}image_mb_{{i}}{% endcapture %}
    {% capture block_title %}title_{{i}}{% endcapture %}
    {% capture block_subtitle %}subtitle_{{i}}{% endcapture %}
    {% capture block_btn_label %}btn_label_{{i}}{% endcapture %}
    {% capture block_btn_link %}btn_link_{{i}}{% endcapture %}
    {% capture block_layout %}layout_{{i}}{% endcapture %}
    {% capture block_text_color %}text_color_{{i}}{% endcapture %}
    {% if block.settings[block_image] != blank %}
    <div class="slide-item slide-item-{{ forloop.index }}">
      
      <a {% if section.settings.popup_replacement %}class="nlt_link"{% endif %} 
         {% if section.settings.popup_replacement %}
         href="#page-newsletter__section-{{ page.id }}"
         {% else %}
         href="{{ block.settings[block_btn_link] }}"
         {% endif %}
         >
        
        {% if block.settings[block_mb_image] != blank %}
        <div class="image image-desk">{{ block.settings[block_image] | img_url: '2048x2048', scale: 2 | img_tag }}</div>
        <div class="image image-mb">{{ block.settings[block_mb_image] | img_url: '1024x1024', scale: 2 | img_tag }}</div>
        {% else %}
        <div class="image">{{ block.settings[block_image] | img_url: '2048x2048', scale: 2 | img_tag }}</div>
        {% endif %}
        <div class="text-wrap">
          <div class="text-item text-{{ block.settings[block_layout] }}">
            <h2 class="title">{{ block.settings[block_title] }}</h2>
            {% if block.settings[block_subtitle] != blank %}
            <div class="subtitle">{{ block.settings[block_subtitle] }}</div>
            {% endif %}
            {% if block.settings[block_btn_link] != blank and block.settings[block_btn_label] != blank %}
            <div class="button-wrap">
              <button class="btn">{{ block.settings[block_btn_label] }}</button>
            </div>
            {% endif %}
          </div>
        </div>
        
      </a>

      {% if block.settings[block_text_color] == 'white' %}
      <style>
        .slide-item-{{ forloop.index }} .title, .slide-item-{{ forloop.index }} .subtitle {
          color: #fff;
        }

        .slide-item-{{ forloop.index }} .btn {
          color: #fff;
          border: 1px solid #fff !important;
        }

        .home-slideshow .slideshow .slide-item-{{ forloop.index }} .text-wrap .btn {
          color: #fff;
          border: 1px solid #fff !important;
        }

        .home-slideshow .slideshow .slide-item-{{ forloop.index }} .text-wrap .btn:hover {
          background: #fff;
          color: #000;
          border: 1px solid #000 !important;
        }
      </style>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<script>
  $(document).ready(function() {
    $(".slider-{{block.id}}").slick({
      arrows: false,
      dots: true,
      {% if block.settings.autoplay %}autoplay: true,{% endif %}
      autoplaySpeed: {{ block.settings.autoplay_timeout }}000,
      pauseOnHover: false,
      
      responsive: [{
        breakpoint: 1024,
        settings: {
        }
      }, {
        breakpoint: 600,
        settings: {
        }
      }]
    });
  });
</script>