{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div id="page-newsletter__section-{{ block.id }}" class="home-newsletter {% if block.settings.hide_on_mobile %}mobile-hide{% endif %} page-section">
  <div class="home-newsletter-wrap">
    {% if block.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-title">{{ block.settings.title }}</h2>
      <div class="section-subtitle">{{ block.settings.subtitle }}</div>
    </div>
    {% endif %}

    {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    <div class="input-group">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '15133953' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="contact[email]" id="Email" class="input-group-field" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '15133953' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <span class="input-group-btn">
        <button type="submit" class="subscribe-btn btn" name="subscribe" id="subscribe">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15133954' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
      </span>
    </div>
    {% endif %}
    {% endform %}

  </div>
  
  <style>
    #page-newsletter__section-{{ block.id }}{
      width: 100%;
      max-width: 500px;
      background: #fff;
      margin: 0 auto;
      padding: 60px 50px;
      position: relative;
    }
    
    @media screen and (max-width: 767px){
      #page-newsletter__section-{{ block.id }}{
        padding: 30px;
      }
    }

    @media screen and (max-width: 767px){
      #page-newsletter__section-{{ block.id }}{
        padding: 30px 20px;
      }
    }
  </style>
    
</div>