{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign product_count = 0 %}
{% for i in (1..3) %}
{% capture block_product %}product_item_{{i}}{% endcapture %}
{% capture block_product_img %}product_image_{{i}}{% endcapture %}
{% capture block_product_title %}block_title_{{i}}{% endcapture %}
{% capture block_product_link %}block_link_{{i}}{% endcapture %}
{% capture block_hide_on_mobile %}hide_on_mobile_{{i}}{% endcapture %}
{% if block.settings[block_product_img] != blank %}
{% assign product_count = product_count | plus : 1 %}
{% endif %}
{% endfor %}

<div class="home-products page-section">
  <div class="products products-{{ product_count }}__items">
    {% for i in (1..3) %}
    {% capture block_product %}product_item_{{i}}{% endcapture %}
    {% capture block_product_img %}product_image_{{i}}{% endcapture %}
    {% capture block_product_title %}block_title_{{i}}{% endcapture %}
	{% capture block_product_link %}block_link_{{i}}{% endcapture %}
    {% capture block_hide_on_mobile %}hide_on_mobile_{{i}}{% endcapture %}
    {% if block.settings[block_product_img] != blank %}

      {% assign product_handle = block.settings[block_product] %}
      {% assign product = all_products[product_handle] %}
      {% assign image = product.images[0] | product_img_url: '1024x' | img_tag %}

      {% if block.settings[block_product_img] != blank %}
          {% assign image = block.settings[block_product_img] | img_url: '1024x' | img_tag %}
      {% endif %}

      <div class="product-item {% if block.settings[block_hide_on_mobile] == true %}product-item--hide-mobile{% endif %}">
        {% if product_handle != blank or block.settings[block_product_link] != blank  %}
        <a {% if section.settings.popup_replacement %}class="nlt_link"{% endif %} 
           {% if section.settings.popup_replacement %}
           href="#page-newsletter__section-{{ page.id }}"
           {% elsif product_handle != blank %}
           href="{{ product.url }}"
           {% elsif block.settings[block_product_link] != blank %}
           href="{{ block.settings[block_product_link] }}"
           {% endif %}>
          {% endif %}
          <div class="image">
            {{ image }}
          </div>
          <div class="text-wrap">
            {% if product.title != blank %}
            <h2 class="title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
            {% elsif block.settings[block_product_title] != blank %}
            <h2 class="title">{{ block.settings[block_product_title] }}</h2>
            {% endif %}
            <div class="type">{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
            {% if product.compare_at_price > product.price %}
            <div class="price">
              <span class="original-price">{{ product.price | money }}</span> <span class="compare-price">{{ product.compare_at_price | money }}</span>
            </div>
            {% else %}
            <div class="price">
              <span class="">{{ product.price | money }}</span>
            </div>
            {% endif %}
          </div>
          {% if product_handle != blank or block.settings[block_product_link] != blank  %}
        </a>
        {% endif %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>