{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<nav class="pagination" role="navigation">
  <ul>
    {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}"><i class="icon-arrow-left"></i></a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>
          <a href="{{ part.url }}" title="">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a> 
        </li>
      {% else %}
        {% if part.title == paginate.current_page %}
          <li class="active"><span>{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span></li>
        {% else %}
          <li><span>{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li><a href="{{ paginate.next.url }}"><i class="icon-arrow-right"></i></a></li>
    {% endif %}
  </ul>
</nav>