{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% assign hide_form = false %}
{% for collection in product.collections %}    
  {% if collection.handle == 'sale' %}   
    {% assign hide_form = true %}
  {% endif %}
{% endfor %}

{% if settings.product_back_in_stock_enabled and hide_form == false %}

  <div class="back-in-stock" style="{% if selected_or_first_available_variant.available %}display: none{% endif %}">
    <div class="alert-box alert-error" style="display: none">
      <h3 class="alert-title">{{ 'general.forms.oops' | t }}</h3>
      <p class="message"></p>
    </div>

    <div class="alert-box alert-success" style="display: none">
      <h3 class="alert-title">{% comment %}ly_i18n_replace_for_[ 'products.back_in_stock.thank_you' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.back_in_stock.thank_you' | t }}{% endcapture %}{% include 'ly-static-string' with '15133955' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>
      <p class="message"></p>
    </div>

    <form action="#" class="back-in-stock-form" method="post">
      <p>{{ 'products.back_in_stock.notify' | t }}</p>

      <input type="email" name="email" class="bis-email-input" placeholder="{% comment %}ly_i18n_replace_for_[ 'products.back_in_stock.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.back_in_stock.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15133956' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
      <button type="submit" class="button button-primary button-small bis-submit">{% comment %}ly_i18n_replace_for_[ 'products.back_in_stock.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.back_in_stock.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15133957' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
    </form>
  </div>
{% endif %}