{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign first_page = pages[settings.product_tab_page_1_handle] %}
{% assign second_page = pages[settings.product_tab_page_2_handle] %}
{% assign first_custom_page = '' %}

{% comment %}
If either first_page and second_page does not exist, we do not render any tabs at all
{% endcomment %}

{% comment %}
We allow to add two tabs that are extracted using the tag system. To add such a tag, simply create a page and
note the handle somewhere.
Next, add a tag to your product in this form: __tab1:page-handle or __tab2:page-handle
The theme will automatically link the tab to the page
{% endcomment %}

{% for tag in product.tags %}
  {% if tag contains '__tab1' %}
    {% assign first_custom_page = tag | split: ':' | last %}
    {% assign first_custom_page = pages[first_custom_page] %}
  {% endif %}
{% endfor %}

{% if first_page.handle == blank and second_page.handle == blank and first_custom_page.handle == blank %}
  <div class="product-description">
    <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'products.product.description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.description' | t }}{% endcapture %}{% include 'ly-static-string' with '14811938' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <div class="rte">
      {% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
  </div>
{% else %}
  <ul class="tabs">
    <li class="active">
      <a href="#product-description-{{ product.id }}" role="tab" data-toggle="tab">{% comment %}ly_i18n_replace_for_[ 'products.product.description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.description' | t }}{% endcapture %}{% include 'ly-static-string' with '14811938' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    </li>

    {% if first_custom_page != blank and first_custom_page.handle != blank %}
      <li>
        <a href="#product-custom-tab-{{ product.id }}" role="tab" data-toggle="tab">{% comment %}ly_code_replace_for_[ first_custom_page.title ]_begin{% endcomment %}{% include 'ly-title' with first_custom_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
      </li>
    {% endif %}

    {% if first_page.handle != blank %}
      <li>
        <a href="#product-second-tab-{{ product.id }}" role="tab" data-toggle="tab">{% comment %}ly_code_replace_for_[ first_page.title ]_begin{% endcomment %}{% include 'ly-title' with first_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
      </li>
    {% endif %}

    {% if second_page.handle != blank %}
      <li>
        <a href="#product-third-tab-{{ product.id }}" role="tab" data-toggle="tab">{% comment %}ly_code_replace_for_[ second_page.title ]_begin{% endcomment %}{% include 'ly-title' with second_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
      </li>
    {% endif %}
  </ul>

  <div class="tabs-content">
    <div role="tabpanel" class="tab-pane active rte" id="product-description-{{ product.id }}">
      {% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>

    {% if first_custom_page.handle != blank %}
      <div role="tabpanel" class="tab-pane rte" id="product-custom-tab-{{ product.id }}">
        {% comment %}ly_code_replace_for_[ first_custom_page.content ]_begin{% endcomment %}{% include 'ly-content' with first_custom_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    {% endif %}

    {% if first_page.handle != blank %}
      <div role="tabpanel" class="tab-pane rte" id="product-second-tab-{{ product.id }}">
        {% comment %}ly_code_replace_for_[ first_page.content ]_begin{% endcomment %}{% include 'ly-content' with first_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    {% endif %}

    {% if second_page.handle != blank %}
      <div role="tabpanel" class="tab-pane rte" id="product-third-tab-{{ product.id }}">
        {% comment %}ly_code_replace_for_[ second_page.content ]_begin{% endcomment %}{% include 'ly-content' with second_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    {% endif %}
  </div>
{% endif %}
