{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}

<div {% if product.available == false %} class="sold-out" {% endif %}>
  <figure>
    <a href="{{ product.url | within: collection }}" title="{% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"  class="hoverMe">
      {% comment %}We select the smallest image possible for the given items per row %}{% endcomment %}

      {% capture product_item_labels %}
        {% if product.available and selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price %}
          <span class="product-label on-sale-label">{% comment %}ly_i18n_replace_for_[ 'products.product.on_sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.on_sale' | t }}{% endcapture %}{% include 'ly-static-string' with '14811900' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endif %}

        {% if product.tags contains '__new' %}
          <span class="product-label new-label">{% comment %}ly_i18n_replace_for_[ 'products.product.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.new' | t }}{% endcapture %}{% include 'ly-static-string' with '14811901' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endif %}

        {% if product.tags contains '__pre-order' %}
          <span class="product-label pre-order-label">{% comment %}ly_i18n_replace_for_[ 'products.product.pre_order' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.pre_order' | t }}{% endcapture %}{% include 'ly-static-string' with '14811902' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endif %}

        {% unless product.available %}
          <span class="product-label sold-out-label">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '14811903' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endunless %}
      {% endcapture %}

      {% if product_item_labels != blank %}
        <div class="product-labels">
          {{ product_item_labels }}
        </div>
      {% endif %}

      <div class="overlay-container">
        <div class="overlay"></div>
        
        {% assign sizes = '' %}

        {% for option in product.options %}
            {% assign option_name_downcased = option | downcase %}

            {% if option_name_downcased == 'size' %}
                {% assign size_option = 'option' | append: forloop.index %}
            {% endif %}
        {% endfor %}

        {% for variant in product.variants %}
            {% unless sizes == variant[size_option] %}   
				{% if variant[size_option] %}
                	{% assign sizes = sizes | append: variant[size_option] | append: ":" | append: variant.available | append: "," %}
                {% endif %}
            {% endunless %}
        {% endfor %}

        {% assign sizes = sizes | split: "," | uniq %}
        
        {% if sizes.size > 0 %}
          <div class="product-item-options">
              {% for size in sizes %}
          		{% assign size_name = size | split: ":" | first %}
                {% assign size_available = size | split: ":" | last %}
                <span class="product-item-option {% if size_available == 'false' %}disabled{% endif %}">{{ size_name }}</span>
              {% endfor %}
          </div>
        {% endif %}

          <div class="product-images-block">
                {% if items_per_row == '2' %}
              <img class="product-item-image" src="{{ product.images[0] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                  <img class="product-item-image" src="{% if product.images.size == 1 %}{{ product.images[0] | product_img_url: '2048x2048' }}{% endif %}{{ product.images[1] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                {% elsif items_per_row == '6' %}
              <img class="product-item-image" src="{{ product.images[0] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                  <img class="product-item-image" src="{% if product.images.size == 1 %}{{ product.images[0] | product_img_url: 'grande' }}{% endif %}{{ product.images[1] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                
                {% else %}
                  <img class="product-item-image" src="{{ product.images[0] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                  <img class="product-item-image" src="{% if product.images.size == 1 %}{{ product.images[0] | product_img_url: '2048x2048' }}{% endif %}{{ product.images[1] | product_img_url: '2048x2048' }}" alt="{% comment %}ly_code_replace_for_[ product.title | escape  ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape  }}{% comment %}ly_code_replace_end{% endcomment %}" />
                  <!--<img class="product-item-image" src="{{ product.featured_image.src | img_url: '2048x2048' }}">-->
                {% endif %}
          </div>
      </div>
    </a>

    {% if product.available and settings.quick_shop_enabled %}
      <a href="{{ product.url | within: collection }}?view=quick-shop" class="button button-small quick-shop-button fancybox" rel="product-{{ product.id }}" data-fancybox-type="ajax">
        {% comment %}ly_i18n_replace_for_[ 'collection.general.quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.general.quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '14811904' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </a>
    {% endif %}
  </figure>

  <section class="product-item-info">
    {% if settings.collection_product_show_brand %}
      <a href="{% comment %}ly_code_replace_for_[ product.vendor | url_for_vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation | url_for_vendor }}{% comment %}ly_code_replace_end{% endcomment %}" class="product-item-brand">{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
    {% endif %}
    
    
    {% comment %}
    ###############
    DISPLAY SALE PERCENTAGE IN RED NEXT TO PRODUCT TITLE IF PRODUCT IS ON SALE - tagged 'sale'
    ###############
    {% endcomment %}
    

    {% if settings.collection_product_show_title %}
      <a href="{{ product.url | within: collection }}" class="product-item-title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% if product.tags contains 'sale' %}<span class="sale-percent" style="display:none; color:red!important;font-family:'font-family:'AndaleMono-Bold'!important;'">-{{ selected_or_first_available_variant.compare_at_price | minus: product.price | times: 100.0 | divided_by: selected_or_first_available_variant.compare_at_price | round }}%</span>{% endif %}</a>
    {% endif %}



    <p class="productTypeListItem">{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
    {% if settings.collection_product_show_price %}
      {% unless product.tags contains '__hide-price-in-collection' %}
        {% if selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price %}
          <span class="price old-price money">{{ product.compare_at_price | money }}</span>
          <span class="price new-price money">{{ product.price_min | money }}</span>
          
          {% if settings.collection_product_show_discount_percent %}
            {% assign t = product.compare_at_price | minus: product.price_min | times: 100.0 %}
            {% assign discountPercent = t | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' %}
            <span class="discount-percent">(-{{ discountPercent }}%)</span>
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {% capture price_min %}<span class="price money">{{ product.price_min | money_without_currency }}</span>{% endcapture %}
            {% capture price_max %}<span class="price money">{{ product.price_max || money_without_currency }}</span>{% endcapture %}

            <span class="price-between">{% comment %}ly_i18n_replace_for_[ 'products.product.price_between_html' | t: price_min: price_min, price_max: price_max ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.price_between_html' | t: price_min: price_min, price_max: price_max }}{% endcapture %}{% include 'ly-static-string' with '14811907' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = price_min %}{% assign ly_template = ly_template | replace: '[[price_min]]', replacement %}{% assign replacement = price_max  %}{% assign ly_template = ly_template | replace: '[[price_max]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% else %}
            <span class="price money">{{ product.price_min | | money }}</span>
          {% endif %}
        {% endif %}
      {% endunless %}
    {% endif %}
  </section>
</div>
