{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="add-to-cart" style="padding-bottom: 0!important;">
  <form id="add-to-cart-form" action="/cart/add" method="POST">
    <div class="product-variants">
      {% for tag in product.tags %}
      {% if tag contains 'color-' %}

      {% for option in product.options %}
      {% if option == 'color' or option == 'Color' %}
      
      <div class="form-control {% if product.options.size > 1 %}multi-options{% endif %}">
        <div class="selector-wrapper">
        <span class="similar-product-select-label" for="similar-product-select"><ly-as-14811908>Color</ly-as-14811908></span>

        <select class="product-single-option-selector" id="similar-product-select">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}">{% comment %}ly_code_replace_for_[ variant.option1 ]_begin{% endcomment %}{% include 'ly-option1' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</option>
          {% if forloop.first == true %}
          {% break %}
          {% endif %}
          {% endfor %}

          {% assign has_similar_product = false %}
          {% for tag in product.tags %}
          {% if tag contains 'color-' %}
          {% assign has_similar_product = true %}
          {% endif %}
          {% endfor %}

          {% if has_similar_product %}

          
          {% assign similar_products = '' %}
          {% assign tempList = '' %}
          {% for tag in product.tags %}
          {% if tag contains 'color-' %}
          {% assign similar_product_handle = tag | split: '--' | last %}
          {% assign similar_product_name = tag | split: 'color-' | last | split: '--' | first | upcase %}
          {% capture tempList %}
          {{similar_products | append: similar_product_handle | append: ' ' }}
          {% endcapture %}
          {% assign similar_products = tempList %}

          {% assign similar_products = similar_products | split:' ' %}

          {% if has_similar_product %}
          <option value="{{ similar_product_handle }}">{{ similar_product_name | upcase }}</option>
          {% endif %}
          {% endif %}
          {% endfor %}


          {% endif %}

        </select>
        </div>
      </div>
      {% break %}
      {% endif %}
      {% endfor %}
      
      {% break %}
      {% endif %}
      {% endfor %}

      {% if product.variants.size > 1 %}
      <div class="form-control {% if product.options.size > 1 %}multi-options{% endif %}">
        {% if product.options.size == 1 %}
        <label class="product-option__label" for="product-select-option-0">{{ product.options[0] }}</label>
        {% endif %}

        <select id="product-select-{{ product.id }}" name="id" style="display: none">
          {% for variant in product.variants %}
          <option {% if variant == selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
        {% if settings.product_swatch_enabled %}
        {% include 'product-swatch' %}
        {% endif %}
      </div>
      {% else %}
      <select id="product-select-{{ product.id }}" style="display: none"></select>
      <input type="hidden" name="id" value="{{ selected_or_first_available_variant.id }}">
      {% endif %}
    </div>
    
    <div class="product-help-popup">
        {% if product.tags contains 'shoes' or product.tags contains 'SHOES' %}
          {% if settings.shoe_product_size_guide != blank %}
          <div class="product-size-guide {{ product.collections }}">
            <a href="#data-size-guide" class="text-link">{% comment %}ly_i18n_replace_for_[ 'products.product.view_size_guide' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view_size_guide' | t }}{% endcapture %}{% include 'ly-static-string' with '14811911' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </div>
          <div style="display:none"><div id="data-size-guide">{{ settings.shoe_product_size_guide | img_url: '2048x2048' | img_tag }}</div></div>
          {% endif %}
        {% else %}
          {% if settings.product_size_guide != blank %}
          <div class="product-size-guide {{ product.collections }}">
            <a href="#data-size-guide" class="text-link">{% comment %}ly_i18n_replace_for_[ 'products.product.view_size_guide' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view_size_guide' | t }}{% endcapture %}{% include 'ly-static-string' with '14811911' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </div>
          <div style="display:none"><div id="data-size-guide">{{ settings.product_size_guide | img_url: '1024x1024' | img_tag }}</div></div>
          {% endif %}
        {% endif %}

        <div class="product-may-we-help">
          <a href="#data-may-we-help" class="text-link">{% comment %}ly_i18n_replace_for_[ 'products.product.may_we_help' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.may_we_help' | t }}{% endcapture %}{% include 'ly-static-string' with '14811912' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
        </div>
      </div>

    <script>
      $(document).ready(function() {
        $('.product-size-guide .text-link').fancybox();
        $('.product-may-we-help .text-link').fancybox();
      });
    </script>
    
    {% comment %}
    {% if product.available %}
    {% else %}
      <input type="hidden" name="id" value="{{ selected_or_first_available_variant.id }}">
    {% endif %}
    {% endcomment %}
    
    {% render "product-count-down", product: product %}

    <div class="button-add-to-cart-container hide" style="{% unless selected_or_first_available_variant.available %}display: none{% endunless %}">
      <!--<div class="form-control">
        <label class="quantity-label" for="quantity">{% comment %}ly_i18n_replace_for_[ 'products.product.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '14811913' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
        <input type="number" pattern="[0-9]*" name="quantity" class="quantity-input" min="1" value="1" required="required">
      </div>-->

      {% if template == 'product.pre-order' %}
        <button type="submit" class="button button-full button-add-to-cart">
          {% comment %}ly_i18n_replace_for_[ 'products.product.add_to_preorder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_preorder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811914' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </button>
      {% else %}
        <button type="submit" class="button button-full button-add-to-cart">
          {% comment %}ly_i18n_replace_for_[ 'products.product.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '14811915' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </button>
      {% endif %}



      {% comment %}
          Include the Wishlist button
        {% endcomment %}



      {% if settings.product_add_to_cart_behaviour == 'ajax_call' %}
        {% comment %}
          This link is only shown when the user click on "Add to cart" button and properly added the product
        {% endcomment %}

        <div class="added-to-cart-links" style="display: none">
          {% capture continue_to_shop %}
            {% if collection and collection.handle %}
              <a href="/collections/{{ collection.handle }}"><b>{% comment %}ly_i18n_replace_for_[ 'products.product.continue_to_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.continue_to_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '14811916' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</b></a>
            {% else %}
              <a href="/"><b>{% comment %}ly_i18n_replace_for_[ 'products.product.continue_to_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.continue_to_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '14811916' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</b></a>
            {% endif %}
          {% endcapture %}

          {% capture checkout %}
            <a href="/cart"><b>{% comment %}ly_i18n_replace_for_[ 'products.product.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '14811917' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</b></a>
          {% endcapture %}

          <p>{% comment %}ly_i18n_replace_for_[ 'products.product.continue_to_shop_or_checkout_html' | t: continue_to_shop: continue_to_shop, checkout: checkout ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.continue_to_shop_or_checkout_html' | t: continue_to_shop: continue_to_shop, checkout: checkout }}{% endcapture %}{% include 'ly-static-string' with '14811920' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = continue_to_shop %}{% assign ly_template = ly_template | replace: '[[continue_to_shop]]', replacement %}{% assign replacement = checkout  %}{% assign ly_template = ly_template | replace: '[[checkout]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        </div>

      {% endif %}
      
      {% if settings.product_more_info_text != blank %}
      {% comment %}
        <a href="{{ image.src | img_url: '1024x1024' }}" class="fancybox image-showcase" rel="group" data-id="{{ image.id }}" data-fancybox-title="{{ image.alt }}" data-fancybox-type="image" data-thumbnail="{{ image.src | img_url: thumbnail_size }}">
        <p class="product-more-info">{{ settings.product_more_info_text }}</p>
      </a>
      {% endcomment %}
      {% endif %}
    </div>
    {% comment %}
      {% include 'iwish_v2' with 'iwishproduct' %}
     {% endcomment %}
  </form>
  
  <div style="display:none">
    <div id="data-may-we-help">
      <div class="form-wrap">
        {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="alert-box alert-success">
          <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'contact.form.thank_you' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.thank_you' | t }}{% endcapture %}{% include 'ly-static-string' with '14811921' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          <p>{% comment %}ly_i18n_replace_for_[ 'contact.form.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.success' | t }}{% endcapture %}{% include 'ly-static-string' with '14811922' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        </div>
        {% endif %}

        <div class="form-control">
          <label for="contact[name]">{% comment %}ly_i18n_replace_for_[ 'contact.form.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name' | t }}{% endcapture %}{% include 'ly-static-string' with '14811923' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" name="contact[name]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811924' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.name | escape }}" {% if form.errors.messages.name %}class="error"{% endif %} required="required">

          {% if form.errors.messages.name %}
          <span class="input-error">{{ form.errors.messages.name }}</span>
          {% endif %}
        </div>

        <div class="form-control">
          <label for="contact[email]">{% comment %}ly_i18n_replace_for_[ 'contact.form.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email' | t }}{% endcapture %}{% include 'ly-static-string' with '14811925' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="email" name="contact[email]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811926' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.email | escape }}" {% if form.errors.messages.email %}class="error"{% endif %} required="required">

          {% if form.errors.messages.email %}
          <span class="input-error">{{ form.errors.messages.email }}</span>
          {% endif %}
        </div>
        
        <div class="form-control">
          <label for="contact[product name]">{% comment %}ly_i18n_replace_for_[ 'contact.form.product_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.product_name' | t }}{% endcapture %}{% include 'ly-static-string' with '14811927' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" name="contact[product name]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.product_name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.product_name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811928' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="">

          {% if form.errors.messages.name %}
          <span class="input-error">{{ form.errors.messages.name }}</span>
          {% endif %}
        </div>

        <div class="form-control">
          <label for="contact[body]">{% comment %}ly_i18n_replace_for_[ 'contact.form.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message' | t }}{% endcapture %}{% include 'ly-static-string' with '14811929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <textarea rows="5" cols="75" name="contact[body]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.message_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811930' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" {% if form.errors.messages.body %}class="error"{% endif %} required="required">{{ form.body }}</textarea>

          {% if form.errors.messages.body %}
          <span class="input-error">{{ form.errors.messages.body }}</span>
          {% endif %}
        </div>

        <button type="submit" class="button button-primary" id="contactFormSubmit">{% comment %}ly_i18n_replace_for_[ 'contact.form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '14811931' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<style>
  {% comment %}
  If we only have one variant, it is useless to display the selector wrapper
  {% endcomment %}

  {%if product.variants.size == 1 %}
    .selector-wrapper {
      display: none;
    }
  {%endif%}
</style>


<script>
  $(document).ready(function() {
    var selectCallback{{ product.id }} = function(variant, selector) {
      window.maestroooProduct({
        moneyFormat: "{{ shop.money_format }}",
        shopCurrency: "{{ shop.currency }}",
        enableZoom: {% if settings.product_showcase_zoom_enabled%}true{% else %}false{% endif %},
        productId: {{ product.id | json }},
        variant: variant,
        selector: selector
      });
      
      var tagss = {{ product.tags | json }};
      
      if (tagss.indexOf('pre-order') < 0) {
         
        var soldOut,
            oneRemaining;

        {% if cart.attributes.language == 'ly9232' %}
          soldOut = 'Épuisé';
          oneRemaining = 'Dernière pièce';
        {% else %}
          soldOut = 'Sold out';
          oneRemaining = 'Last piece';
        {% endif %}


      {% assign product_options_size = product.options | size %}

      {% if product_options_size == 1 %}

        {% assign downcased_option = product.options[0] | downcase %}

          {% if downcased_option contains 'size' or downcased_option contains 'taille' %}


                {% for variant in product.variants %}

                         var option = '{{ variant.options[0] }}',
                         selectOption = $('#product-select-{{ product.id }}-option-0 option[value="' + option + '"]'),
                         optionText = selectOption.text().replace(' - Sold out', '').replace(' - Last piece', '').replace(' - Dernière pièce', '').replace(' - Épuisé', '');    

//                         selectOption.text(optionText);


                        {% if variant.inventory_quantity == 0 %}
                        selectOption.text(optionText + ' - ' + soldOut);
                        {% elsif variant.inventory_quantity == 1 %}
                        selectOption.text(optionText + ' - ' + oneRemaining);
                        {% endif %}

              {% endfor %}

          {% endif %}
      {% endif %}

      {% if product_options_size == 2 %}  
      {% for option in product.options %}

          {% assign optionIndex = forloop.index0 %}

          {% assign downcased_option = option | downcase %}


          {% if downcased_option contains 'size' or downcased_option contains 'taille' %}

                {% for variant in product.variants %}


                    if({{ optionIndex }} == 0) {


                      if(variant.options[1] == '{{ variant.options[1] }}') {

                         var option = '{{ variant.options[optionIndex] }}',
                         selectOption = $('#product-select-{{ product.id }}-option-{{ optionIndex }} option[value="' + option + '"]'),
                         optionText = selectOption.text().replace(' - Sold out', '').replace(' - Last piece', '').replace(' - Dernière pièce', '').replace(' - Épuisé', '');    

                        //selectOption.text(optionText);



                        {% if variant.inventory_quantity == 0 %}
                        selectOption.text(optionText + ' - ' + soldOut);
                        {% elsif variant.inventory_quantity == 1 %}
                        selectOption.text(optionText + ' - ' + oneRemaining);
                              {% endif %}
                        } 
                    } else {

                      if(variant.options[0] == '{{ variant.options[0] }}') {


                              var option = '{{ variant.options[optionIndex] }}',
                                  selectOption = $('#product-select-{{ product.id }}-option-{{ optionIndex }} option[value="' + option + '"]'),
                                  optionText = selectOption.text().replace(' - Sold out', '').replace(' - Last piece', '').replace(' - Dernière pièce', '').replace(' - Épuisé', '');    

                              //selectOption.text(optionText);



                                {% if variant.inventory_quantity == 0 %}
                                selectOption.text(optionText + ' - ' + soldOut);
                                {% elsif variant.inventory_quantity == 1 %}
                                selectOption.text(optionText + ' - ' + oneRemaining);
                                {% endif %}

                        }  
                    }


                {% endfor %}

          {% endif %}


      {% endfor %}
      {% endif %}
      
    } 
                    
    };

    {% include 'variant-translations' with product %}
    var optionSelectors = new Shopify.OptionSelectors('product-select-{{ product.id }}', {
      product: {{ product | json }},
      onVariantSelected: selectCallback{{ product.id }},
      enableHistoryState: {% if template == 'product.quick-shop' %}false{%else%}true{%endif%}
    });
    
    
    {% if product.tags contains 'sale' %}
    
    {% if product.options.size > 1 %}
        Shopify.linkOptionSelectors({{ product | json }});
      optionSelectors.selectVariant({{ selected_or_first_available_variant.id }});
    {% endif %}

    {% endif %}
    
    
    // This make sure that images are preloaded and avoid flickering
    Shopify.Image.preload({{ product.images | json }}, 'grande');
    
    
    


  {% for tag in product.tags %}
  {% if tag contains 'color-' %}
  // Hide option selectors with only one option.
  //   $('.single-option-selector').each( function() { 
  //     if (this.length===1) {
  //       $(this).parent().hide();
  //     }
  //   });
  
  $( "label:contains('color'), label:contains('Color')" ).parent().hide();

  
  $(function() {
    $('#similar-product-select').bind('change', function() {
      location.href = jQuery(this).val();
    });
  });
  {% break %}
  {% endif %}
  {% endfor %}
  
  
    $( "label:contains('size'), label:contains('Size')" ).parent().hide();

  });
  
  
</script>

{% comment %}
We include the size chart only if it has a page called "size-chart"
{% endcomment %}

{% assign size_chart_page = pages['size-chart'] %}

{% if size_chart_page.handle != blank %}
  {% include 'product-size-chart' %}
{% endif %}
