{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
	if combine_pretext is false, the text before the first <h6> will be shown above all tabs, otherwise added to the first tab
{% endcomment %}


{% assign combine_pretext = false %}


{% capture description %}{% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
{% if description contains "<h6>" %}
	{% assign tab_heads = '' %}
	{% assign tab_texts = '' %}
	{% assign pretext = '' %}

	{% assign chunks = description | strip | split: "<h6>" %}
	{% for c in chunks %}
		{% if c contains "</h6>" %}
			{% assign chunk = c | split: "</h6>" %}
			{% assign tab_heads = tab_heads | append: ",," | append: chunk.first %}
			{% assign tab_texts = tab_texts | append: ",," %}
			{% if pretext != blank  and combine_pretext %}
				{% assign tab_texts = tab_texts | append: pretext | append: "<br>" %}
				{% assign pretext = '' %}
			{% endif %}
			{% assign tab_texts = tab_texts | append: chunk.last  %}
		{% elsif forloop.first %}
			{% assign pretext =  c %}
		{% endif %}
	{% endfor %}

	{% assign tab_heads = tab_heads | remove_first: ",," | split: ",," %}
	{% assign tab_texts = tab_texts | remove_first: ",," | split: ",," %}

	{% assign index =  2  %}
  <div id="productTabs">
    {% comment %}
    {% if pretext != blank and combine_pretext == false %}
    <span class="non-tabbed-content">{{ pretext }}</span>
    {% endif %}
    {% endcomment %}
    <ul class="resp-tabs-list vert">
      <li><a><ly-as-14811898>Description</ly-as-14811898></a></li>
      {% for head in tab_heads %}
      {% assign headDowncase = head | downcase %}
      {% unless headDowncase contains 'delivery' or headDowncase contains 'livraison' %}
      <li><a>{{ head }}</a></li>
      {% endunless %}
      {% assign index =  index | plus: 1  %}
      {% endfor %}
      <li><a><ly-as-14811899>Delivery/Return</ly-as-14811899></a></li>
			{% for tag in product.tags %}
				{% if tag contains 'green' %}
				<li><a>GREEN LABEL</a></li>
				{% endif %}
			{% endfor %}
    </ul>
    {% assign index = 2 %}
    <div class="resp-tabs-container vert">
      <div class="tab--1">{{ pretext }}</div>
      {% for text in tab_texts %}
      {% assign textDowncase = text | downcase %}
      {% unless textDowncase contains 'delivery' or textDowncase contains 'livraison' %}
      <div class="tab--{{ index }}">{{ text }}</div>
      {% endunless %}
      {% assign index =  index | plus: 1  %}
      {% endfor %}

      {% assign page = pages.delivery-return %}




      <div class="tab--4">{% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>

			{% assign label = 'green-label' %}

			{% for tag in product.tags %}
				{% if tag contains 'green' %}
				<div class="tab--5">{% comment %}ly_code_replace_for_[ pages[label].content ]_begin{% endcomment %}{% include 'ly-content' with pages[label] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
				{% endif %}
			{% endfor %}

    </div>
  </div>


<script>
  $(document).ready(function(){

    $('#productTabs').easyResponsiveTabs({
      type: 'accordion',
      width: 'auto',
      fit: true,
      closed: false,
      activate: function() {},  // Callback function, gets called if tab is switched
      tabidentify: 'vert',
      activetab_bg: '#fff',
      inactive_bg: '#fff',
      active_border_color: '#9C905C',
      active_content_border_color: '#9C905C'
    });


    /*================ Product tabs scroll =================*/
    if ($(window).width() < 641) {
      $('#productTabs').click(function() {
        $('html, body').animate({scrollTop : $('#productTabs').offset().top - 70},500);
      });
    }

  });
</script>


{% else %}
	{{ description }}
{% endif %}
