{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}


<section class="product-showcase">
  <ul class="featured-image-list">
    {% assign featured_image = selected_or_first_available_variant.featured_image | default: product.featured_image %}
    {% assign thumbnail_size = settings.product_showcase_thumbnails_size %}

    {% if template == 'product.quick-shop' %}
      {% assign is_quick_shop = true %}
    {% else %}
      {% assign is_quick_shop = false %}
    {% endif %}

    {% for image in product.images %}
      <li class="{% if image.id == featured_image.id %}active{% endif %}" data-image-id="{{ image.id }}">
        {% comment %}
        We allow to have thumbnails that link to video. In order to do that, people must add the link to the video using
        the embed URL. We therefore detect that

        Also note that we remove the fancybox class when the template is "product.quick-shop" because it would open two
        modals, which is problematic
        {% endcomment %}

        {% if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' %}
          <a href="{{ image.alt }}" class="{% unless is_quick_shop %}fancybox{% endunless %} image-showcase image-featured" rel="featured" data-fancybox-type="iframe" data-thumbnail="{{ image.src | img_url: thumbnail_size }}">
            <iframe src="{{ image.alt }}" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </a>
        {% else %}
          <a href="{{ image.src | img_url: '2048x2048' }}" class="{% unless is_quick_shop %}fancybox{% endunless %} image-showcase image-featured" rel="featured" data-fancybox-title="{{ image.alt }}" data-fancybox-type="image" data-thumbnail="{{ image.src | img_url: thumbnail_size }}">
            <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt }}">
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <ul class="thumbnail-list">
    {% for image in product.images %}
      <li>
        {% if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' %}
          <a href="{{ image.alt }}" class="{% unless is_quick_shop %}fancybox{% endunless %} image-showcase" rel="group" data-id="{{ image.id }}" data-fancybox-type="iframe" data-thumbnail="{{ image.src | img_url: 'large' }}">
            <img src="{{ image.src | img_url: 'large' }}">
          </a>
        {% else %}
          <a href="{{ image.src | img_url: '1024x1024' }}" class="{% unless is_quick_shop %}fancybox{% endunless %} image-showcase" rel="group" data-id="{{ image.id }}" data-fancybox-title="{{ image.alt }}" data-fancybox-type="image" data-thumbnail="{{ image.src | img_url: 'large' }}">
            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt }}">
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

{% endcomment %} <!--  -->

<section class="product-showcase">


  <div class="product-single__photos featured-image-list" id="ProductPhoto">
    {% for image in product.images %}
    {% unless image contains featured_image %}
    <div class="product-single__photo-wrapper" index="{{ forloop.index }}">
      <a href="{{ image.src | img_url: '2048x2048' }}" class="{% unless is_quick_shop %}fancybox{% endunless %} image-showcase image-featured" rel="featured" data-fancybox-title="{{ image.alt }}" data-fancybox-type="image" data-thumbnail="{{ image.src | img_url: thumbnail_size }}">
      <img class="product-single__photo" src="{{ image.src | img_url: '2048x2048' }}"
           alt="{{ image.alt | escape }}"
           data-image-id="{{ image.id }}">
      </a>
    </div>
    {% endunless %}
    {% endfor %}
  </div>

  {% if product.images.size > 1 %}
  <ul class="product-single__thumbnails thumbnail-list" id="ProductThumbs">

    {% for image in product.images %}
    <li class="product-single__thumbnail-item">
        <a href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail image-showcase" rel="group" data-id="{{ image.id }}" data-fancybox-title="{{ image.alt }}" data-fancybox-type="image" data-thumbnail="{{ image.src | img_url: 'large' }}">
        <img data-image-id="{{ image.id }}" class="product-single__photo" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
      </a>
    </li>
    {% endfor %}

  </ul>
  {% endif %}


  <script>

    $('#ProductPhoto').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: false,
      adaptiveHeight: true,
      infinite: true,
      useTransform: true,
      speed: 400,
      asNavFor: '#ProductThumbs',
      responsive: [
          {
              breakpoint: 9999,
              settings: "unslick"
          },
          {
              breakpoint: 767,
               settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1,
                      infinite: true
                  }
          }
      ]
    });

    $('#ProductThumbs')
    .on('init', function(event, slick) {
      $('#ProductThumbs .slick-slide.slick-current').addClass('is-active');
    })
    .slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      focusOnSelect: true,
      infinite: true,
      vertical: true,
      verticalSwiping: true,
      asNavFor: '#ProductPhoto',
      responsive: [{
        breakpoint: 1100,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4,
        }
      }, {
        breakpoint: 940,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
        }
      }, {
        breakpoint: 641,
        settings: {
          slidesToShow: 7,
          slidesToScroll: 7,
          vertical: false,
          verticalSwiping: false
        }
      }, {
        breakpoint: 500,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 5,
          vertical: false,
          verticalSwiping: false
        }
      }, {
        breakpoint: 400,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4,
          vertical: false,
          verticalSwiping: false
        }
      }]
    });

    // $('#ProductPhoto').on('afterChange', function(event, slick, currentSlide) {
    //   $('#ProductThumbs').slick('slickGoTo', currentSlide);
    //   var currrentNavSlideElem = '#ProductThumbs .slick-slide[data-slick-index="' + currentSlide + '"]';
    //   $('#ProductThumbs .slick-slide.is-active').removeClass('is-active');
    //   $(currrentNavSlideElem).addClass('is-active');
    // });

    $('#ProductThumbs').on('click', '.slick-slide', function(event) {
      event.preventDefault();
      // var goToSingleSlide = $(this).data('slick-index');
      // $('#ProductPhoto').slick('slickGoTo', goToSingleSlide);
    });

  </script>
</section>











