{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="product-offer" itemprop="offers" itemscope itemtype="//schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ selected_or_first_available_variant.price | money }}">

  {% if settings.product_show_inventory_quantity and selected_or_first_available_variant.inventory_management != blank %}
    <span class="variant-inventory-quantity">{% comment %}ly_i18n_replace_for_[ 'products.product.inventory_html' | t: count: selected_or_first_available_variant.inventory_quantity ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.inventory_html' | t: count: selected_or_first_available_variant.inventory_quantity }}{% endcapture %}{% include 'ly-static-string' with '14811933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = selected_or_first_available_variant.inventory_quantity  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
  {% endif %}

  {% if product.available %}
    <link itemprop="availability" href="//schema.org/InStock">
  {% else %}
    <link itemprop="availability" href="//schema.org/OutOfStock">
  {% endif %}

  {% comment %}
  This container is used to display various labels, like "new", "sold-out", "pre-order"...
  {% endcomment %}
  <div class="product-labels">
    {% if selected_or_first_available_variant.available == false or product.available == false %}
      <span class="product-label sold-out-label">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '14811934' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% else %}
      <span class="product-label sold-out-label" style="display: none">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '14811934' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% endif %}

    {% if product.tags contains '__new' %}
      <span class="product-label new-label">{% comment %}ly_i18n_replace_for_[ 'products.product.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.new' | t }}{% endcapture %}{% include 'ly-static-string' with '14811935' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% endif %}

    {% if product.tags contains '__pre-order' %}
      <span class="product-label pre-order-label">{% comment %}ly_i18n_replace_for_[ 'products.product.pre_order' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.pre_order' | t }}{% endcapture %}{% include 'ly-static-string' with '14811936' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% endif %}

    {% comment %}
    We always display the unavailable label, but it's hidden by default. We then display it dynamically only if user switches to an unavailable variant
    {% endcomment %}
    <span class="product-label unavailable-label" style="display: none">{% comment %}ly_i18n_replace_for_[ 'products.product.unavailable' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.unavailable' | t }}{% endcapture %}{% include 'ly-static-string' with '14811937' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
  </div>

  {% if product.available %}
    <p class="product-type">{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
    <div class="product-prices">
      {% if selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price %}
        <span class="old-price price money">{{ selected_or_first_available_variant.compare_at_price | money }}</span>
        <span class="new-price price money">{{ selected_or_first_available_variant.price | money }}</span>
        {% if settings.product_show_discount_percent %}
        <span class="sale-percent" style="font-family: 'AndaleMono-Bold'">({{ selected_or_first_available_variant.compare_at_price | minus: product.price | times: 100.0 | divided_by: selected_or_first_available_variant.compare_at_price | round }}%)</span>
        {% endif %}
      {% else %}
        <span class="price money">{{ selected_or_first_available_variant.price | money }}</span>
      {% endif %}
    </div>
  {% endif %}
</div>