{% assign show_countdown = false %}
{% if settings.countdown_enabled and product.tags contains "countdown" %}
  {% assign show_countdown = true %}
{% endif %}

{% if show_countdown %}
  <div class="product-countdown js-countdown" data-minutes="{{ settings.countdown_minutes }}"></div>

  <script>
    var countDownDate = new Date("{{ settings.countdown_date | default: '2022-01-01T00:00:00' }}").getTime();
    var $countDown = document.querySelector(".js-countdown");

    function pad(n) {
      return (n < 10) ? ("0" + n) : n;
    }

    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;

      var days = pad(Math.floor(distance / (1000 * 60 * 60 * 24)));
      var hours = pad(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
      var minutes = pad(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
      var seconds = pad(Math.floor((distance % (1000 * 60)) / 1000));

      $countDown.innerHTML = days + ":" + hours + ":"
      + minutes + ":" + seconds;

      if (distance < 0) {
        clearInterval(x);
        $countDown.style.display = "none";
      }
    }, 1000);
  </script>
{% endif %}