{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="product-live-chat">
  <a href="#data-live-chat" class="text-link">{% comment %}ly_i18n_replace_for_[ 'products.product.live_chat' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.live_chat' | t }}{% endcapture %}{% include 'ly-static-string' with '16694247' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  <a href="https://api.whatsapp.com/send?phone={{ settings.product_live_chat_phone_number }}&text={{ settings.product_live_chat_pre_filled_message }}" class="text-link-whatsapp">{% comment %}ly_i18n_replace_for_[ 'products.product.live_chat' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.live_chat' | t }}{% endcapture %}{% include 'ly-static-string' with '16694247' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
</div>

<div style="display:none">
  <div id="data-live-chat">
    <div class="popup-message">{% comment %}ly_new_settings_replace_for_[ settings.product_live_chat_popup_message ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id16694246"] %}{% assign ly_translation = shop.metafields[namespace]["id16694246"] %}{% else %}{% assign ly_translation = settings.product_live_chat_popup_message %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}</div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('.product-live-chat .text-link').fancybox();
  });
</script>