{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign found_color_option = false %}
{% assign is_color = false %}
{% assign color_color_option_index = 0 %}
{% assign color_color_option_name = '' %}

{% for option in product.options %}
  {% assign downcased_option = option | downcase %}

  {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
    {% assign found_color_option = true %}
    {% assign color_option_name = option %}
    {% assign color_option_index = forloop.index0 %}
    {% assign is_color = true %}

    <style>
      label[for="product-select-option-{{ color_option_index }}"],
      .selector-wrapper:nth-child({{ forloop.index }}),
      #product-select-option-{{ color_option_index }} {
        display: none !important;
      }
    </style>

    <script>$(window).load(function() { $('.selector-wrapper:eq({{ color_option_index }})').hide(); });</script>
  {% endif %}
{% endfor %}

{% if found_color_option %}
  <div class="selector-wrapper swatch" data-option-index="{{ color_option_index }}">
    <label for="color">{{ color_option_name }}</label>
    {% assign values = '' %}

    <div class="color-container">
      {% for variant in product.variants %}
        {% assign value = variant.options[color_option_index] %}

        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %}
          {% assign values = values | split: ',' %}

          <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}unavailable{% endif %}">
            <input id="swatch-{{ color_option_index }}-{{ value | handle }}" type="radio" name="option-{{ color_option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
            {% if is_color %}
              <label for="swatch-{{ color_option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({% comment %}ly_asset_replace_for_[ value | handle | append: '.' | append: file_extension | asset_url ]_begin{% endcomment %}{% assign ly_asset = value | handle | append: '.' | append: file_extension %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %})"></label>
            {% else %}
              <label for="swatch-{{ color_option_index }}-{{ value | handle }}">{{ value }}</label>
            {% endif %}
          </div>
        {% endunless %}
      {% endfor %}
    </div>

    <script>
      $('.swatch-element').on('click', function() {
        $('.swatch-element').removeClass('active'); // The active class will be read on the right element by the Variant Selector
      });
    </script>
  </div>
{% endif %}