{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign found_size_option = false %}
{% assign size_size_option_index = 0 %}
{% assign size_size_option_name = '' %}

{% for option in product.options %}
  {% assign downcased_option = option | downcase %}

  {% if downcased_option contains 'size' or downcased_option contains 'taille' %}
    {% assign found_size_option = true %}
    {% assign size_option_name = option %}
    {% assign size_option_index = forloop.index0 %}

    {% assign size_chart_page = pages['size-chart'] %}

    {% if size_chart_page.handle != blank %}
      <div id="size-chart" style="display: none">
        <div class="rte">
          {% comment %}ly_code_replace_for_[ size_chart_page.content ]_begin{% endcomment %}{% include 'ly-content' with size_chart_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      </div>

      <script>
        // We add a small link next to the corresponding option
        $(document).ready(function() {
          $('label[for=product-select-option-' + {{ size_option_index | json }} + ']')
            .after('<a href="#" class="size-chart-link fancybox">{{ 'products.product.size_chart_link' | t }}</a>');

          $('.fancybox.size-chart-link').fancybox({
            type: 'html',
            content: $('#size-chart')
          });
        });
      </script>
    {% endif %}
  {% endif %}
{% endfor %}

