{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% if settings.product_related_products_enabled %}
  {% assign number_of_related_products_to_show = settings.product_related_products_number_of_rows | times: settings.product_related_products_items_per_row %}
  {% assign image_size = 'large' %}

  {% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}

  {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
      {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
        {% assign found_a_collection = true %}
        {% assign collection = c %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if collection and collection.products_count > 1 %}
    <aside class="related-products">
      <div class="container">
        <h3 class="section-title">{% comment %}ly_i18n_replace_for_[ 'products.related_products.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.related_products.title' | t }}{% endcapture %}{% include 'ly-static-string' with '14811980' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

        <ul class="product-list">
          {% for product in collection.products %}
            <li class="product-list-item grid-item" style="display: none">
              {% include 'product-list-item' %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  {% endif %}
{% endif %}