{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<link rel="stylesheet" href="{% comment %}ly_asset_replace_for_[ 'sca-quick-view.css' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sca-quick-view.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
<link rel="stylesheet" href="{% comment %}ly_asset_replace_for_[ 'sca-jquery.fancybox.css' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sca-jquery.fancybox.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">

{{ "option_selection.js" | shopify_asset_url | script_tag }}
