{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div id="sca-qv-showqv" class="sca-bm" style="display: none !important;">  
 <div>
	<!--START PRODUCT-->
	 <div class="quick-view-container fancyox-view-detail">
	    <div id="sca-qv-left" class="sca-left">
            <div id="sca-qv-sale"  class="sca-qv-sale sca-qv-hidden"><ly-as-15134018>Sale</ly-as-15134018></div>
			<!-- START ZOOM IMAGE-->
			 <div class="sca-qv-zoom-container">
                    <div class="zoomWrapper">
					  <div id="sca-qv-zoomcontainer" class='sqa-qv-zoomcontainer'>
                              <!-- Main image  ! DON'T PUT CONTENT HERE! -->     
                      </div>
                       
                    </div>
             </div>
			<!-- END ZOOM IMAGE-->
          
            <!-- START GALLERY-->
            <div id="sca-qv-galleryid" class="sca-qv-gallery"> 
              		<!-- Collection of image ! DON'T PUT CONTENT HERE!-->
            </div>	
            <!-- END GALLERY-->
        </div>

		<!--START BUY-->
		<div id ="sca-qv-right" class="sca-right">
          	<!-- -------------------------- -->
			<div id="sca-qv-title" class="name-title" >
					<!-- Title of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div id ="sca-qv-price-container" class="sca-qv-price-container"  >
					<!-- price information of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div id="sca-qv-des" class="sca-qv-row">
					<!-- description of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div class="sca-qv-row">
				<a id="sca-qv-detail"  href="" > 	<ly-as-15134019>View full product details →</ly-as-15134019> </a>
			</div>
		<!-- ----------------------------------------------------------------------- -->
            <div id='sca-qv-cartform'>
	          <form id="sca-qv-add-item-form"  method="post">     
                <!-- Begin product options ! DON'T PUT CONTENT HERE!-->
                <div class="sca-qv-product-options">
                  <!-- -------------------------- -->
                  <div id="sca-qv-variant-options" class="sca-qv-optionrow">
							<!-- variant options  of product  ! DON'T PUT CONTENT HERE!-->
		          </div>  
                  <!-- -------------------------- -->
                  <div class="sca-qv-optionrow">	    
                    <label><ly-as-15134021>Quantity</ly-as-15134021></label>
          	        <input id="sca-qv-quantity" min="1" type="number" name="quantity" value="1"  />
                  </div>
				  <!-- -------------------------- -->
                  <div class="sca-qv-optionrow">
                     <p id="sca-qv-unavailable" class="sca-sold-out sca-qv-hidden"><ly-as-15134022>Unavailable</ly-as-15134022></p>
                     <p id="sca-qv-sold-out" class="sca-sold-out sca-qv-hidden"><ly-as-15134024>Sold Out</ly-as-15134024></p>
                     <input type="submit" class="sca-qv-cartbtn sca-qv-hidden" value="ADD TO CART" />
                     
                  </div>
                  <!-- -------------------------- -->
                </div>
               <!-- End product options -->
                {% include 'iwish_v2' with 'iwishproduct' %}
            </form>
         </div>
	   </div>
	   <!--END BUY-->
    </div>
	<!--END PRODUCT-->
 </div>
</div>


<div id="scaqv-metadata" 
autoconfig = "yes" 
noimage = "{% comment %}ly_asset_replace_for_[ 'sca-qv-no-image.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sca-qv-no-image.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" 
moneyFormat = '{{ shop.money_format }}' 
jsondata = "{% comment %}ly_code_replace_for_[ shop.metafields.sca-np-qv.settings ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign ns = language | append: 'sca-np-qv' %}{% assign key = 'settings' %}{% if shop.metafields[ns][key] %}{% assign ly_translation = shop.metafields[ns][key] %}{% else %}{% assign ly_translation =  shop.metafields.sca-np-qv.settings  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" ></div>
{% comment %}ly_asset_replace_for_[ 'sca-qv-scripts-noconfig.js' | asset_url  | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'sca-qv-scripts-noconfig.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation   | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %} 