{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div style="display: none !important" ><a class="sca-qv-button"  href="#sca-qv-showqv"title="Quick View" handle="{{product.handle}}" ></a></div>



{% if is_loaded_settings %}
{% else %}
{% assign is_loaded_settings = true  %}
<div id='sca-qv-metadata' style="display: none !important" jsondata='{% comment %}ly_code_replace_for_[ shop.metafields.sca-np-qv.settings]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign ns = language | append: 'sca-np-qv' %}{% assign key = 'settings' %}{% if shop.metafields[ns][key] %}{% assign ly_translation = shop.metafields[ns][key] %}{% else %}{% assign ly_translation =  shop.metafields.sca-np-qv.settings %}{% endif %}{{ ly_translation}}{% comment %}ly_code_replace_end{% endcomment %}' moneyFormat="{{ shop.money_format }}" noimage="{% comment %}ly_asset_replace_for_[ 'sca-qv-no-image.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sca-qv-no-image.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"></div>
{% endif %}
