
<div class="product-item-options">
{% assign sizes = '' %}
{% for variant in product.variants %}
{% if variant.inventory_quantity != 0 %}
{% assign sizes = sizes | append: variant.options[1] | append: '_' %}
{% endif %}
{% endfor %}

{% if product.options.size > 1 %}
{% assign sizesArr = sizes | split: '_' | join: ", "| uniq %}
{% for size in sizesArr %}
<span class="product-item-option">{{ size }}</span>
{% endfor %}
{% endif %}
</div>


