{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.slider_enabled %}
    <div class="slider">
      <div class="flexslider">
        <ul class="slides">
          {% for i in (1..6) %}
            {% assign is_enabled = 'slider_slide_' | append: i | append:'_enabled' %}

            {% if settings[is_enabled] %}
              {% assign content_type = 'slider_slide_' | append: i | append:'_content_type' %}

              {% assign content_position = 'slider_slide_' | append: i | append: '_position' %}
              {% assign subtitle = 'slider_slide_' | append: i | append: '_subtitle' %}
              {% assign title = 'slider_slide_' | append: i | append: '_title' %}
              {% assign button = 'slider_slide_' | append: i | append: '_button' %}
              {% assign button_link = 'slider_slide_' | append: i | append: '_button_link' %}

              {% capture slide_content %}
                <div class="cover-text">
                  <div class="container" style="text-align: {{ settings[content_position] }}">
                    {% if settings[subtitle] != blank %}
                      <h2 class="slider-subtitle">{{ settings[subtitle] }}</h2>
                      <br>
                    {% endif %}

                    {% if settings[title] != blank %}
                      <h1 class="slider-title">{{ settings[title] }}</h1>
                      <br>
                    {% endif %}

                    {% if settings[button] != blank %}
                      <a href="{{ settings[button_link] }}" class="button button-large slider-button">{{ settings[button] }}</a>
                    {% endif %}
                  </div>
                </div>
              {% endcapture %}

              {% assign image = 'slider_slide_' | append: i | append:'_image.jpg' %}
              {% assign image_alt = 'slider_slide_' | append: i | append: '_image_alt' %}

              <li>
                <div class="cover-image" style="background: url({% comment %}ly_asset_replace_for_[ image | asset_url ]_begin{% endcomment %}{% assign ly_asset = image %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}) top center no-repeat"></div>
                <img class="cover-image-alternate" src="{% comment %}ly_asset_replace_for_[ image | asset_url ]_begin{% endcomment %}{% assign ly_asset = image %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ image.alt }}">

                {% if settings[title] != blank or settings[subtitle] != blank or settings[button] != blank %}
                  {{ slide_content }}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="flex-controls"></div>
      </div>
    </div>
{% endif %}
