{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
            <style type='text/css'>
  
  #insta-carousel-prev, #insta-carousel-next {
    width: 45px;
    height: 50px;
    position:relative;
    top:-105px;
  }
  #insta-carousel-next {
    background: url('{% comment %}ly_asset_replace_for_[ 'slider-right.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'slider-right.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}') no-repeat transparent;
    float:right;
    left:6px;
  }
  #insta-carousel-prev{
    background: url('{% comment %}ly_asset_replace_for_[ 'slider-left.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'slider-left.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}') no-repeat transparent;
    float: left;
    left:-40px;
  }
  
  #insta-carousel{
    margin-top: 5px; 
    padding: 15px 0 15px 40px; 
    background-image: url({% comment %}ly_asset_replace_for_[ 'insta_bg_image.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'insta_bg_image.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %});
    background-repeat: repeat;
  }
  
  #insta-carousel-header{
    text-align:center; 
    color:white; 
    font-size:larger; 
    margin-left: -15px;
    margin-right: 30px;
  }
  
  footer{
    padding-top: 0px;
  }
  
  .insta-clearfix {
    float: none;
    clear: both;
  }
</style>

<div id='insta-carousel' data-campaignid='56185bd2ab8a2529841c676b'><div  id='insta-carousel-header'>{{ settings.insta_header_text }}</div></div>