{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.social_twitter != blank %}
  <li>
    <a href="{{ settings.social_twitter }}"><i class="icon-twitter" title="Twitter"></i></a>
  </li>
{% endif %}

{% if settings.social_facebook != blank %}
  <li>
    <a href="{{ settings.social_facebook }}"><i class="icon-facebook" title="Facebook"></i></a>
  </li>
{% endif %}

{% if settings.social_google_plus != blank %}
  <li>
    <a href="{{ settings.social_google_plus }}"><i class="icon-google-plus" title="Google+"></i></a>
  </li>
{% endif %}

{% if settings.social_pinterest != blank %}
  <li>
    <a href="{{ settings.social_pinterest }}"><i class="icon-pinterest" title="Pinterest"></i></a>
  </li>
{% endif %}

{% if settings.social_instagram != blank %}
  <li>
    <a href="{{ settings.social_instagram }}"><i class="icon-instagram" title="Instagram"></i></a>
  </li>
{% endif %}

{% if settings.social_vimeo != blank %}
  <li>
    <a href="{{ settings.social_vimeo }}"><i class="icon-vimeo" title="Vimeo"></i></a>
  </li>
{% endif %}

{% if settings.social_tumblr != blank %}
  <li>
    <a href="{{ settings.social_tumblr }}"><i class="icon-tumblr" title="Tumblr"></i></a>
  </li>
{% endif %}

{% if settings.social_youtube != blank %}
  <li>
    <a href="{{ settings.social_youtube }}"><i class="icon-youtube" title="YouTube"></i></a>
  </li>
{% endif %}