{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
var langify = langify || {};
var translated = [];
langify.translate_variants = function() {
$('body').bind('DOMSubtreeModified', function(e) {
	var selectors = $('.single-option-selector');
	var num_selectors = selectors.length;
	for(var i = 0; i < num_selectors; i++) {
		var current_selector = $(selectors[i]);
		var options = current_selector.find('option');
		var num_options = options.length;
		for(var j = 0; j < num_options; j++) {
			var current_option = $(options[j]);
			var current_option_content = current_option.text();
			var hash = i + '-' + j;
			if(!translated[hash] || translated[hash] < 3) {
			  if(!translated[hash]) {
				translated[hash] = 0;
			  } else {
				translated[hash] = translated[hash] + 1;
			  }
              {% for variant in variant-translations.variants %}
              {% include 'ly-title' with variant %}
              {% if ly_translation %}
			  {% assign variant_title = variant.title %}
			  if(current_option_content == '{% comment %}ly_code_replace_for_[ variant.title | replace: '/', '\/' | replace: "'", "\'" ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation | replace: '/', '\/' | replace: "'", "\'" }}{% comment %}ly_code_replace_end{% endcomment %}') {
                current_option_content = current_option_content.replace('{{ variant_title | replace: '/', '\/' | replace: "'", "\'" }}', '{{ ly_translation | replace: '/', '\/' | replace: "'", "\'" }}');
                
			  }
              {% endif %}

              {% include 'ly-option1' with variant %}
              {% if ly_translation %}
			  {% assign variant_option1 = variant.option1 %}
                                                         
			  if(current_option_content == '{{ variant_option1 | replace: '/', '\/' | replace: "'", "\'" }}') {
                current_option_content = current_option_content.replace('{{ variant_option1 | replace: '/', '\/' | replace: "'", "\'" }}', '{{ ly_translation | replace: '/', '\/' | replace: "'", "\'" }}');            
              }
              {% endif %}

              {% include 'ly-option2' with variant %}
              {% if ly_translation %}
			  {% assign variant_option2 = variant.option2 %}
			  if(current_option_content == '{{ variant_option2 | replace: '/', '\/' | replace: "'", "\'" }}') {
                current_option_content = current_option_content.replace('{{ variant_option2 | replace: '/', '\/' | replace: "'", "\'" }}', '{{ ly_translation | replace: '/', '\/' | replace: "'", "\'" }}');                                  
			  }
              {% endif %}

              {% include 'ly-option3' with variant %}
              {% if ly_translation %}
			  {% assign variant_option3 = variant.option3 %}
			  if(current_option_content == '{{ variant_option3 | replace: '/', '\/' | replace: "'", "\'" }}') {
                current_option_content = current_option_content.replace('{{ variant_option3 | replace: '/', '\/' | replace: "'", "\'" }}', '{{ ly_translation | replace: '/', '\/' | replace: "'", "\'" }}');
			  }
			  {% endif %}
              {% endfor %}
                                                         
              if(current_option.text() != current_option_content) {  
			    current_option.text(current_option_content);
			  }
			}
		}
	}
});
};
langify.translate_variants();