{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div style="text-align: center; margin: {% if settings.index_marketing_module_enabled %}165px{% else %}45px{% endif %} 0 20px 0;">
  <p>{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.thank_you' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.thank_you' | t }}{% endcapture %}{% include 'ly-static-string' with '15134453' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
  <p>{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.no_products' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.no_products' | t }}{% endcapture %}{% include 'ly-static-string' with '15134454' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
</div>

<br/>

<section class="index-module new-products">
  <div class="container">
    <h2 class="index-section-title">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.featured_products' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.featured_products' | t }}{% endcapture %}{% include 'ly-static-string' with '15134455' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <div class="inner">
      <ul class="product-list">
        <li class="product-list-item grid-item first">
          <div>
            <figure>
              <a href="#" title="#">
                <img class="product-item-image" src="//placehold.it/280x280">
              </a>
            </figure>

            <section class="product-item-info">
              <a href="#" class="product-item-brand">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.brand_1' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.brand_1' | t }}{% endcapture %}{% include 'ly-static-string' with '15134456' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a href="#" class="product-item-title">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.product_1' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.product_1' | t }}{% endcapture %}{% include 'ly-static-string' with '15134457' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <span class="price money"><ly-as-15134452>€395.00</ly-as-15134452></span>
            </section>
          </div>
        </li>

        <li class="product-list-item grid-item">
          <div>
            <figure>
              <a href="#" title="#">
                <img class="product-item-image" src="//placehold.it/280x280">
              </a>
            </figure>

            <section class="product-item-info">
              <a href="#" class="product-item-brand">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.brand_2' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.brand_2' | t }}{% endcapture %}{% include 'ly-static-string' with '15134458' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a href="#" class="product-item-title">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.product_2' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.product_2' | t }}{% endcapture %}{% include 'ly-static-string' with '15134459' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <span class="price money"><ly-as-15134452>€395.00</ly-as-15134452></span>
            </section>
          </div>
        </li>

        <li class="product-list-item grid-item">
          <div>
            <figure>
              <a href="#" title="#">
                <img class="product-item-image" src="//placehold.it/280x280">
              </a>
            </figure>

            <section class="product-item-info">
              <a href="#" class="product-item-brand">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.brand_3' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.brand_3' | t }}{% endcapture %}{% include 'ly-static-string' with '15134460' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a href="#" class="product-item-title">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.product_3' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.product_3' | t }}{% endcapture %}{% include 'ly-static-string' with '15134461' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <span class="price money"><ly-as-15134452>€395.00</ly-as-15134452></span>
            </section>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="index-module featured-collections">
  <div class="container">
    <h2 class="index-section-title">{% comment %}ly_i18n_replace_for_[ 'index.on_boarding.featured_collections' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.on_boarding.featured_collections' | t }}{% endcapture %}{% include 'ly-static-string' with '15134462' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <div class="inner">
      <ul class="collection-list">
        <li class="collection-list-item grid-item first">
          <div>
            <a href="#">
              <figure>
                <div class="overlay"></div>
                <img class="collection-item-image" src="//placehold.it/510x290">
              </figure>
            </a>
          </div>
        </li>

        <li class="collection-list-item grid-item">
          <div>
            <a href="#">
              <figure>
                <div class="overlay"></div>
                <img class="collection-item-image" src="//placehold.it/510x290">
              </figure>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% if settings.index_latest_posts_blog_handle %}
  <section class="index-module latest-posts">
    <div class="container">
      {% if settings.index_latest_posts_show_title %}
        <h2 class="index-section-title">{% comment %}ly_i18n_replace_for_[ 'index.modules.blog_posts_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.blog_posts_title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134463' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
      {% endif %}

      <div class="inner">
        <ul class="article-excerpt-list">
          {% assign items_per_row = settings.index_latest_posts_items_per_row %}

          {% for article in blogs[settings.index_latest_posts_blog_handle].articles limit: settings.index_latest_posts_number_of_articles %}
            {% capture modulo %}{{ forloop.index | modulo:settings.index_latest_posts_items_per_row }}{% endcapture %}

            <li class="article-excerpt-list-item grid-item {% if modulo == '1' %}first{%endif%}">
              {% include 'index-article-list-item' %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}