{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="account push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customer.account.details' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.account.details' | t }}{% endcapture %}{% include 'ly-static-string' with '15134582' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
      </header>
    </div>
  </div>

<div class="account">
  <div class="container">
    <div class="inner">
      <section class="customer-latest-orders">
        {% if customer.orders.size == 0 %}
          <div class="alert-box alert-error">
            <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'customer.orders.none' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.none' | t }}{% endcapture %}{% include 'ly-static-string' with '15134583' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          </div>
        {% else %}
          <table>
            <thead>
              <tr>
                <th>{% comment %}ly_i18n_replace_for_[ 'customer.orders.order_number' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.order_number' | t }}{% endcapture %}{% include 'ly-static-string' with '15134584' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
                <th>{% comment %}ly_i18n_replace_for_[ 'customer.orders.date' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.date' | t }}{% endcapture %}{% include 'ly-static-string' with '15134585' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
                <th>{% comment %}ly_i18n_replace_for_[ 'customer.orders.payment_status' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.payment_status' | t }}{% endcapture %}{% include 'ly-static-string' with '15134586' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
                <th>{% comment %}ly_i18n_replace_for_[ 'customer.orders.fulfillment_status' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.fulfillment_status' | t }}{% endcapture %}{% include 'ly-static-string' with '15134587' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
                <th>{% comment %}ly_i18n_replace_for_[ 'customer.orders.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.orders.total' | t }}{% endcapture %}{% include 'ly-static-string' with '15134588' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
              </tr>
            </thead>

            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </section>

      <section class="customer-address customer-main-address">
        <h3 class="customer-name" style="font-weight:700!important;">{{ customer.name }}</h3>
        <p class="customer-email">{{ customer.email }}</p>

        <div class="address-details">
          {% if customer.default_address != nil %}
            <p class="limitOpac">{{ customer.default_address.address1 }}</p>

            {% if customer.default_address.address2 != "" %}
              <p class="limitOpac">{{ customer.default_address.address2 }}</p>
            {% endif %}

            <p class="limitOpac">{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
            <p class="limitOpac">{{ customer.default_address.zip}}</p>
            <p class="limitOpac">{{ customer.default_address.phone }}</p>
          {% endif %}
          </div>
          <div class="miniSpaceAcc"></div>
        <a href="../account/addresses" style="margin-top:1em;">{% comment %}ly_i18n_replace_for_[ 'customer.account.view_addresses' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.account.view_addresses' | t }}{% endcapture %}{% include 'ly-static-string' with '15134589' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} ({{ customer.addresses_count }})</a>

          <p></p>
        <a href="../pages/return-service"> <ly-as-15134580>> Returns</ly-as-15134580></a>
          <p></p>
        > {% include 'iwish_v2' with 'iwishlink' %}
          <p></p>
        <a href="../pages/change-password"> <ly-as-15134581>> Change password</ly-as-15134581></a>
          <p></p>
        <p class="logout-link">
        {% comment %}ly_i18n_replace_for_[ 'layout.header.logout' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.logout' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '15134590' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </p>

      </section>
    </div>
    <br><br><br>
    <div id="sd_partialpay"></div>
    <br><br><br>
  </div>
</div>

<style>
  div#sd_partialpay h1 {
   margin: 0px 0px 15px 0px !important;
   color: #000 !important;
   text-transform: uppercase !important;
   font-family: Conduit ITC Bold,serif !important;
  }
  
  div.payment-container th {
   color: #0c0c0c !important;
   font-size: 15px !important;
  }
  
  div#sd_partialpay table {
   box-shadow: 0px 0px 0px #fff !important;
  }
  
  
  button#bulk_pay {
   background: #0c0c0c !important;
  }
</style>