{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="spacer"></div>

<div class="register">
  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
    </div>

    <header class="page-header">
      <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customer.activate_account.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.activate_account.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134591' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
    </header>

    <div class="inner">
      <section class="register-form">
        {% form 'activate_customer_password' %}
          {% if form.errors %}
            <div class="alert-box alert-error">
              <span class="alert-title">{{ 'general.forms.oops' | t }}</span>
              <p>{{ form.errors | default_errors | strip_html }}</p>
            </div>
          {% endif %}

          <div class="form-control">
            <label for="customer[password]">{% comment %}ly_i18n_replace_for_[ 'customer.activate_account.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.activate_account.password' | t }}{% endcapture %}{% include 'ly-static-string' with '15134592' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="password" name="customer[password]" required="required">
          </div>

          <div class="form-control">
            <label for="customer[password_confirmation]">{% comment %}ly_i18n_replace_for_[ 'customer.activate_account.password_confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.activate_account.password_confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '15134593' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="password" name="customer[password_confirmation]" required="required">
          </div>

          <button type="submit" class="button button-primary button-submit">{% comment %}ly_i18n_replace_for_[ 'customer.activate_account.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.activate_account.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15134594' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        {% endform %}
      </section>
    </div>
  </div>
</div>
