{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="login push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customer.login.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134614' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
      </header>
    </div>
  </div>


<div class="login">
  <div class="container">
    <div class="inner">
      <section class="recover-password-form" style="display: none;">
        {% form 'recover_customer_password' %}
        
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <p class="alert-box alert-success">
              <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'customer.login.sent_password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.sent_password' | t }}{% endcapture %}{% include 'ly-static-string' with '15134615' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            </p>
          {% endif %}

          <div class="form-control">
            <label for="email">{% comment %}ly_i18n_replace_for_[ 'customer.recover_password.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.recover_password.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15134616' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="email" name="email" value="" {% if form.errors.messages.email %}class="error"{% endif %} required="required">

            {% if form.errors.messages.email %}
              <span class="input-error">{{ form.errors.messages.email }}</span>
            {% endif %}
          </div>

          <button type="submit" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'customer.recover_password.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.recover_password.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15134617' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>

          <div class="new-customer">
            <p>
              {% comment %}ly_i18n_replace_for_[ 'customer.recover_password.already_have_account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.recover_password.already_have_account' | t }}{% endcapture %}{% include 'ly-static-string' with '15134618' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              <b><a href="/account/login">{% comment %}ly_i18n_replace_for_[ 'customer.recover_password.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.recover_password.login' | t }}{% endcapture %}{% include 'ly-static-string' with '15134619' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></b>
            </p>
          </div>
        {% endform %}
      </section>

      <section class="login-form">
        {% form 'customer_login' %}
          {% if form.errors %}
            <div class="alert-box alert-error">
              <span class="alert-title">{{ 'general.forms.oops' | t }}</span>
              <p>{{ form.errors | default_errors | strip_html }}</p>
            </div>
          {% endif %}

          <div class="form-control">
            <label for="customer[email]">{% comment %}ly_i18n_replace_for_[ 'customer.login.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15134620' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="email" name="customer[email]" value="" tabindex="1" {% if form.errors.messages.email %}class="error"{% endif %} required="required">
          </div>

          <div class="form-control">
            <label for="customer[password]">{% comment %}ly_i18n_replace_for_[ 'customer.login.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.password' | t }}{% endcapture %}{% include 'ly-static-string' with '15134621' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <a href="#recover" class="forgot-password-link">({% comment %}ly_i18n_replace_for_[ 'customer.login.forgot_password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.forgot_password' | t }}{% endcapture %}{% include 'ly-static-string' with '15134622' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %})</a></label>
            <input type="password" name="customer[password]" tabindex="2" {% if form.errors.messages.password %}class="error"{% endif %} required="required">
          </div>

          <button type="submit" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'customer.login.sign_in' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.sign_in' | t }}{% endcapture %}{% include 'ly-static-string' with '15134623' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        {% endform %}

        <div class="new-customer">
          {% if shop.checkout.guest_login %}
            {% form 'guest_login' %}
              <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'customer.login.guest_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.guest_title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134624' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% endform %}
          {% else %}
            <p>
              {% comment %}ly_i18n_replace_for_[ 'customer.login.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.new' | t }}{% endcapture %}{% include 'ly-static-string' with '15134625' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              <b><a href="/account/register">{% comment %}ly_i18n_replace_for_[ 'customer.login.register' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.login.register' | t }}{% endcapture %}{% include 'ly-static-string' with '15134626' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></b>
            </p>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</div>
