{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}ly_static_code_begin{% endcomment %}{% capture ly_content %}{% comment %}ly_static_code_end{% endcomment %}



<!doctype html>

<!--[if IE 8 ]>    <html class="ie8"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% if shop.metafields.languages_dir[language] == 'rtl' %} dir="rtl" {% endif %}{% comment %}ly_dir_replace_end{% endcomment %}> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% if shop.metafields.languages_dir[language] == 'rtl' %} dir="rtl" {% endif %}{% comment %}ly_dir_replace_end{% endcomment %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% if shop.metafields.languages_dir[language] == 'rtl' %} dir="rtl" {% endif %}{% comment %}ly_dir_replace_end{% endcomment %}> <!--<![endif]-->

  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

    {% if template == 'index' %}
      <title>{{ langify_shop_name }} | {{ langify_title }}</title>
    {% elsif custom_page_title != blank %}
      <title>{{ langify_shop_name }} | {{ custom_page_title }}</title>
    {% else %}
      <title>{{ langify_title }} | {{ langify_shop_name }}</title>
    {% endif %}
    
    {% if langify_description %}
      <meta name="description" content="{{ langify_description | escape }}">
    {% endif %}
    
    <link rel="canonical" href="{{ canonical_url }}"/>


    {% if settings.favicon_enabled %}
      <link rel="shortcut icon" href="{% comment %}ly_asset_replace_for_[ 'favicon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'favicon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" type="image/png">
    {% endif %}

    {% if settings.apple_touch_icon_enabled %}
      <link rel="apple-touch-icon" sizes="144x144" href="{% comment %}ly_asset_replace_for_[ 'apple_touch_icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'apple_touch_icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}
    
    {% assign google_font_url = '' %}
    {% assign websafe_fonts = 'Helvetica, Impact, Lucida Grande, Trebuchet MS, Verdana, Garamond, Georgia' | split: ', ' %}

    {% if settings.header_logo_font == 'custom' %}
      {% assign header_logo_font = settings.header_logo_custom_font | default: settings.header_logo_font %}
    {% else %}
      {% assign header_logo_font = settings.header_logo_font %}
    {% endif %}
    {% assign words = header_logo_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endunless %}

    {% if settings.header_nav_font == 'custom' %}
      {% assign header_nav_font = settings.header_nav_custom_font | default: settings.header_nav_font %}
    {% else %}
      {% assign header_nav_font = settings.header_nav_font %}
    {% endif %}
    {% assign words = header_nav_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':400,700' %}
    {% endunless %}

    {% if settings.main_content_font == 'custom' %}
      {% assign main_content_font = settings.main_content_custom_font | default: settings.main_content_font %}
    {% else %}
      {% assign main_content_font = settings.main_content_font %}
    {% endif %}
    {% assign words = main_content_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':400,600,700' %}
    {% endunless %}

    {% if settings.headline_font == 'custom' %}
      {% assign headline_font = settings.headline_custom_font | default: settings.headline_font %}
    {% else %}
      {% assign headline_font = settings.headline_font %}
    {% endif %}
    {% assign words = headline_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endunless %}

    {% if settings.slider_title_font == 'custom' %}
      {% assign slider_title_font = settings.slider_title_custom_font | default: settings.slider_title_font %}
    {% else %}
      {% assign slider_title_font = settings.slider_title_font %}
    {% endif %}
    {% assign words = slider_title_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endunless %}

    {% if settings.slider_subtitle_font == 'custom' %}
      {% assign slider_subtitle_font = settings.slider_subtitle_custom_font | default: settings.slider_subtitle_font %}
    {% else %}
      {% assign slider_subtitle_font = settings.slider_subtitle_font %}
    {% endif %}
    {% assign words = slider_subtitle_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endunless %}

    {% if settings.index_section_title_font == 'custom' %}
      {% assign index_section_title_font = settings.index_section_title_custom_font | default: settings.index_section_title_font %}
    {% else %}
      {% assign index_section_title_font = settings.index_section_title_font %}
    {% endif %}
    {% assign words = index_section_title_font | split: ',' %}
    {% unless websafe_fonts contains words.first %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endunless %}

    {% if google_font_url != blank %}
      {{ google_font_url | remove_first : '|' | prepend: '//fonts.googleapis.com/css?family=' | stylesheet_tag }}
    {% endif %}

    {% comment %}ly_asset_replace_for_[ 'theme.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    
    {% comment %}ly_asset_replace_for_[ 'plugin.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'plugin.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'awepify-custom.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'awepify-custom.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

    <link rel="stylesheet" href="{{ 'custom-theme.css' | asset_url }}" media="print" onload="this.media='all'">

    <!--[if IE 8]>
      {% comment %}ly_asset_replace_for_[ 'ie8.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'ie8.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
      {% comment %}ly_asset_replace_for_[ 'ie8-polyfills.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'ie8-polyfills.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    <![endif]-->

    <!--[if lte IE 9]>
      {% comment %}ly_asset_replace_for_[ 'ie9.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'ie9.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    <![endif]-->

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
    
    {% comment %}ly_asset_replace_for_[ 'plugin.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'plugin.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'awepify-custom.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'awepify-custom.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

    <script>
      _BISConfig = { button: { visible: false } };

      // This allows to expose several variables to the global scope, to be used in scripts
      window.shop = {
        template: {{ template | json }},
        currentPage: {{ current_page }},
        customerIsLogged: {% if customer %}true{% else %}false{% endif %},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | strip_html | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | strip_html | json }},
        collectionDefaultSortBy: {{ collection.default_sort_by | json }}
      }
    </script>
  {% include 'sca-quick-view-init' %}

{% comment %}ly_dir_styles_begin{% endcomment %}
{% assign language = cart.attributes["language"] %}
{% if language == nil %}
  {% assign language = shop.metafields["languages"]["default"] %}
{% endif %}
{% if shop.metafields.languages_dir[language] == 'rtl' %}
{% comment %}ly_asset_replace_for_[ 'ly-rtl.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}
{% assign ly_asset = 'ly-rtl.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}
{% comment %}ly_asset_replace_end{% endcomment %}
{% endif %}
{% comment %}ly_dir_styles_end{% endcomment %}

<script src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=UCEhBs"></script>
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "UCEhBs",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "button button-full button-add-to-cart",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: true
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('{{ 'klaviyo.css' | asset_url }}');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#000",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>

{% include 'limoniapps-discountninja-header' %}
  <script src="https://player.vimeo.com/api/player.js"></script>
</head>




<style>
#tabs > div, .custom-product-description-tabs > div, #tabs-app-accordion > div {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffffff !important;
</style>



<body itemscope itemtype="http://schema.org/WebPage" {% if template == 'index' %}class="index {% if settings.slider_enabled %}has-slider{% endif %}"{% endif %}>
    <div class="page-wrapper">
      {% section 'informational-bar' %}
      {% section 'header' %}

      <div role="main" class="main-content">
        {{ content_for_layout }}
      </div>

      {% if settings.back_to_top_enabled %}
        <a href="#" id="back-to-top" class="back-to-top" title="Back to the top">{% comment %}ly_i18n_replace_for_[ 'general.page.back_to_top' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.page.back_to_top' | t }}{% endcapture %}{% include 'ly-static-string' with '14811718' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      {% endif %}
    </div>

    {% section 'footer' %}

  	{% comment %}
    {% if settings.currency_conversion_enabled %}
      {{ '//cdn.shopify.com/s/javascripts/currencies.js' | script_tag }}
    {% endif %}
  	{% endcomment %}
  {{ '//cdn.shopify.com/s/javascripts/currencies.js' | script_tag }}

    {% if template contains 'product' or settings.quick_shop_enabled %}
      {{ '//www.youtube.com/player_api' | script_tag }}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    {% if template contains 'cart' and settings.cart_shipping_estimator_enabled %}
      {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js' | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'countries.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {% comment %}ly_asset_replace_for_[ 'libs.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'libs.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {% comment %}ly_asset_replace_for_[ 'script.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'script.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />
{% comment %}ly_asset_replace_for_[ "4mkapps.insta.min.js" | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = "4mkapps.insta.min.js" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}{% comment %}ly_asset_replace_for_[ "4mkapps.insta.min.js" | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = "4mkapps.insta.min.js" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  
 {% if product %}
<script>
  var boosterParams = boosterParams || {};
  boosterParams.customer = {};
  boosterParams.product = {{ product | json }};
  {% if  customer %}
    boosterParams.customer.email = "{{ customer.email }}";
  {% endif %}
</script>
{% endif %}
  
  <script src="{{ 'vimeo-video-control.js' | asset_url }}" defer="defer"></script>
  
{% comment %}ly_asset_replace_for_[ 'theme.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
{% comment %}ly_static_code_begin{% endcomment %}{% include 'ly-languages' %}{% comment %}ly_static_code_end{% endcomment %}{% include 'limoniapps-discountninja-body' %}

  <script src="{{ 'custom-theme.js' | asset_url }}" defer="defer"></script>
  
  {% include 'home-modal-video' %}
</body>
</html>
{% comment %}ly_static_code_begin{% endcomment %}{% endcapture %}{% include 'ly-static' with ly_content %}{% comment %}ly_static_code_end{% endcomment %}
