{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign ml_custom_ns = 'ml_custom_def' %}{% if cart.attributes['ml_lang'] %}{% include 'ml_def_lang' %}{% assign ml_lang = cart.attributes['ml_lang'] %}{% assign ml_ns = 'ml_' | append: ml_lang %}{% assign ml_links_ns = 'ml_links_' | append: ml_lang %}{% assign ml_sections_ns = 'ml_sections_' | append: ml_lang %}{% assign ml_blocks_ns = 'ml_blocks_' | append: ml_lang %}{% assign ml_include = 'ml_theme_vars_' | append: ml_lang %}{% if ml_lang != ml_def_lang %}{% include ml_include %}{% assign ml_custom_ns = 'ml_custom_' | append: ml_lang %}{% endif %}{% endif %}

<footer class="site-footer" role="contentinfo" style="background-color: {{ section.settings.bg_color }};">
<div class="site-footer-wrap">
  
  {% if section.blocks.size > 0 %}
  <div class="footer-grid-wrap">
    {% for block in section.blocks %}
      {% case block.type %}

        {% when 'newsletter' %}
          <div class="grid-item footer-newsletter">
            <div class="newsletter-wrap">
              <h3>{{ block.settings.title }}</h3>
              {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
              <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
              <div class="input-group">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '14656052' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="contact[email]" id="Email" class="input-group-field" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '14656052' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <span class="input-group-btn">
                  <button type="submit" class="subscribe-btn btn" name="subscribe" id="subscribe">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '14656053' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
                </span>
              </div>
              {% endif %}
              {% endform %}


              <div class="footer-social">
                <ul>
                  {% include 'social-networks' %}
                </ul>
              </div>
            </div>
          </div>

        {% when 'menu' %}
          <div class="grid-item footer-menu">
            <ul class="footer-menu-links">
              {% for link in linklists[block.settings.menu].links %}
              <li>
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

      {% endcase %}
    {% endfor %}
  </div>
  {% endif %}

  <div class="footer-bottom">
    {% if section.settings.menu != blank %}
  <div class="footer-main-menu">
    <ul class="footer-menu-links">
      {% for link in linklists[section.settings.menu].links %}
      <li>
        <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
    
    <div class="copyright">
      <div class="text">© Copyright {{ 'now' | date: "%Y" }}. {{ langify_shop_name }}.</div>
    </div>

    <div class="payment hide">
    {% if section.settings.show_methods_of_payment %}
      <ul class="payment-methods">
        {% assign payment_types = shop.enabled_payment_types %}

        {% if payment_types contains 'visa' %}<li><i class="icon-visa" title="Visa"></i></li>{% endif %}
        {% if payment_types contains 'master' %}<li><i class="icon-mastercard" title="MasterCard"></i></li>{% endif %}
        {% if payment_types contains 'american_express' %}<li><i class="icon-amex" title="AMEX"></i></li>{% endif %}
        {% if payment_types contains 'jcb' %}<li><i class="icon-jcb" title="JCB"></i></li>{% endif %}
        {% if payment_types contains 'discover' %}<li><i class="icon-discover" title="Discover"></i></li>{% endif %}
        {% if payment_types contains 'diners_club' %}<li><i class="icon-diners-club" title="Diners"></i></li>{% endif %}
        {% if payment_types contains 'maestro' %}<li><i class="icon-maestro" title="Maestro"></i></li>{% endif %}
        {% if payment_types contains 'stripe' %}<li><i class="icon-stripe" title="Stripe"></i></li>{% endif %}
        {% if payment_types contains 'paypal' %}<li style="display:none;"><i class="icon-paypal" title="PayPal"></i></li>{% endif %}
        {% if payment_types contains 'google_wallet' %}<li><i class="icon-google-wallet" title="Google Wallet"></i></li>{% endif %}
        {% if payment_types contains 'bitcoin' %}<li><i class="icon-bitcoin" title="BitCoin"></i></li>{% endif %}
      </ul>
    {% endif %}
    </div>
  </div>
  
</div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#fafafa"
      },
      {
        "type": "checkbox",
        "id": "show_methods_of_payment",
        "label": "Payment icons"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"	
      }
    ],
    "blocks": [
      {
        "type": "newsletter",
        "name": "Newsletter signup",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Sign up for our newsletter!"
          }
		]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ]
  }
{% endschema %}
