{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="top-header-container {% unless template == 'index' %}non-index{% else %}index{% endunless %}">

  <header role="banner" class="header {% if push_header != blank %}has-push{% endif %} {% unless settings.informational_bar_enabled %}non-topbar{% endunless %}">
    <div class="header-wrap">

      
      <nav class="header-nav header-mobile-nav" role="navigation">
        <ul class="mobile-nav-tabs">
          <li class="mobile-menu">
            <a href="#" class="tab-icon">
              {% include "icon-mobile-menu" %}
              <!-- <i class="icon-menu"></i> -->
            </a>

            <div class="tab-content">
              
              <div class="tab-content-header">
                <div class="header-logo">
                  {% if settings.header_use_logo %}
                  <a href="/">
                    <img class="logo-image" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}">
                  </a>
                  {% else %}
                  <a href="/">{{ langify_shop_name }}</a>
                  {% endif %}
                </div>
                
                <ul class="text-links">
                  {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                  <li class="account"><a href="/account">{% comment %}ly_i18n_replace_for_[ 'layout.header.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.account' | t }}{% endcapture %}{% include 'ly-static-string' with '14811628' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
                  <!--<li>{% comment %}ly_i18n_replace_for_[ 'layout.header.logout' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.logout' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '14811629' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</li>-->
                  {% else %}
                  <li class="account"><a href="/account/login">{% comment %}ly_i18n_replace_for_[ 'layout.header.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.login' | t }}{% endcapture %}{% include 'ly-static-string' with '14811630' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
                  {% endif %}
                  {% endif %}
                </ul>
                <div class="icon-close">{% include 'icon-close' %}</div>
              </div>

              <form action="/search" method="get" class="search-form" role="search">
                <div class="input-group">
                  <input type="hidden" name="type" value="product">
                  <input type="search" name="q" class="input-group-field" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms | escape }}">
                  <span class="input-group-btn">
                    <button type="submit">
                      {% include "icon-search" %}
                    </button>
                  </span>
                </div>
              </form>

              {% assign is_mobile_navigation = true %}
              {% include 'header-nav-links' %}
              
              <div class="tab-content-social">
                <ul>
                {% include 'social-networks' %}
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      
      <h1 class="header-logo">
        {% if settings.header_use_logo %}
          <a href="/">
            <img class="logo-image" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}">
          </a>
        {% else %}
          <a href="/">{{ langify_shop_name }}</a>
        {% endif %}
      </h1>
      
      {% if template == 'index' %}
      {% include 'audio-player' %}
      {% endif %}

      
      <nav class="header-nav header-desktop-nav" role="navigation">
        {% assign is_mobile_navigation = false %}
        {% include 'header-nav-links' %}

        <div id="mega-search" class="header-search" style="display: none">
          <form action="/search" method="get" class="header-search-form" role="search">
            <input type="hidden" name="type" value="product">
            <input type="search" id="search-autocomplete" name="q" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '14811627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms | escape }}" autofocus="autofocus" autocomplete="off">
          </form>
        </div>
        
        <div class="header-toolbar">
          {% if settings.currency_conversion_enabled %}
          {% include 'currency-selector' %}
          {% endif %}

          {% if shop.customer_accounts_enabled %}
          {% if customer %}
          <li class="account"><a href="/account">{% comment %}ly_i18n_replace_for_[ 'layout.header.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.account' | t }}{% endcapture %}{% include 'ly-static-string' with '14811628' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
          <!--<li>{% comment %}ly_i18n_replace_for_[ 'layout.header.logout' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.logout' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '14811629' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</li>-->
          {% else %}
          <li class="account"><a href="/account/login">{% comment %}ly_i18n_replace_for_[ 'layout.header.login' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.login' | t }}{% endcapture %}{% include 'ly-static-string' with '14811630' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></li>
          {% endif %}
          {% endif %}
          <li class="cart cart-desktop"><a href="/cart">{% comment %}ly_i18n_replace_for_[ 'layout.header.cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.cart' | t }}{% endcapture %}{% include 'ly-static-string' with '14811631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}(<span class="cart-item-count">{{ cart.item_count }}</span>)</a></li>
          <li class="cart cart-mobile"><a href="/cart">{% include 'icon-cart' %}{% if cart.item_count > 0 %}<span>{{ cart.item_count }}</span>{% endif %}</a></li>
          {% if settings.social_instagram != blank %}
          <li class="instagram">
            <a href="{{ settings.social_instagram }}">{{ 'tomboy-insta-red.png' | asset_url | img_tag }}</a>
          </li>
          {% endif %}
        </div>

        
      </nav>
      

     
      
    </div>
    {% if push_header != blank %}
      {{ push_header }}
    {% endif %}
  </header>
  
  {% unless template == 'index' or template contains 'page.shoes' %}
  <div class="spacer"></div>
  {% endunless %}
  

  {% comment %}
  {% if template == 'index' %}
    {% include 'slider' %}
  {% endif %}
  {% endcomment %}
</div>


{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
