{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
<div class="home-slideshow">
  <div class="slideshow slider-{{section.id}}">
    {% for block in section.blocks %}
    <div class="slide-item" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '2048x2048', scale: 2 }});"{% endif %}>
      <a {% if block.settings.btn_link != blank %}href="{{ block.settings.btn_link }}"{% endif %}>
        <div class="text-wrap">
          <div class="text-item text-{{ block.settings.layout }}">
            <h2 class="title">{{ block.settings.title }}</h2>
            {% if block.settings.subtitle != blank %}
            <div class="subtitle">{{ block.settings.subtitle }}</div>
            {% endif %}
            {% if block.settings.btn_link != blank and block.settings.btn_label != blank %}
            <div class="button-wrap">
              <button class="btn">{{ block.settings.btn_label }}</button>
            </div>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endcomment %}

<div class="home-slideshow">
  
  <div class="slideshow slider-{{section.id}}">
    {% for block in section.blocks %}
    {% if block.settings.image != blank %}
    <div class="slide-item slide-item-{{block.id}}">
      
        {% if block.settings.image_mb != blank %}
        <div class="image image-desk">{{ block.settings.image | img_url: '2048x2048', scale: 2 | img_tag }}</div>
        <div class="image image-mb">{{ block.settings.image_mb | img_url: '1024x1024', scale: 2 | img_tag }}</div>
        {% else %}
        <div class="image">{{ block.settings.image | img_url: '2048x2048', scale: 2 | img_tag }}</div>
        {% endif %}
        <div class="text-wrap">
          <div class="text-item text-{{ block.settings.layout }}">
            <h2 class="title">{{ block.settings.title }}</h2>
            {% if block.settings.subtitle != blank %}
            <div class="subtitle">{{ block.settings.subtitle }}</div>
            {% endif %}
            {% if block.settings.btn_link != blank and block.settings.btn_label != blank %}
            <div class="button-wrap">
              <a class="btn" {% if block.settings.btn_link != blank %}href="{{ block.settings.btn_link }}"{% endif %}>
                {{ block.settings.btn_label }}
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      

      {% if block.settings.text_color == 'white' %}
      <style>
        .slide-item-{{block.id}} .title, .slide-item-{{block.id}} .subtitle {
          color: #fff;
        }

        .slide-item-{{block.id}} .btn {
          color: #fff;
          border: 1px solid #fff !important;
        }

      </style>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<script>
  $(document).ready(function() {
    $(".slider-{{section.id}}").slick({
      arrows: false,
      dots: true,
      {% if section.settings.autoplay %}autoplay: true,{% endif %}
      autoplaySpeed: {{ section.settings.autoplay_timeout }}000,
      pauseOnHover: false,
      
      responsive: [{
        breakpoint: 1024,
        settings: {
        }
      }, {
        breakpoint: 600,
        settings: {
        }
      }]
    });
    
    $( "a.btn" ).scrollTop( 300 );
  });


</script>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [
      {
        "id": "autoplay",
        "type": "checkbox",
        "label": "Autoplay",
        "default": true
      },
      {
        "id": "autoplay_timeout",
        "type": "text",
        "label": "Change slides every (seconds)",
        "default": "5"
      }
	],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_mb",
            "type": "image_picker",
            "label": "Image (mobile)"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle",
            "type": "textarea",
            "label": "Subtitle"
          },
          {
            "id": "btn_label",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "btn_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "center",
                "label": "Text center"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text and button color",
            "default": "black",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
