{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="home-blocks">
  <div class="blocks {% if section.blocks.size < 3 %}flexy{% endif %}">
    {% for block in section.blocks %}
    <div class="block-item {{ section.settings.item_per_row_mb }} {% if block.settings.title == blank %}no-text{% endif %}{% if block.settings.hide_mobile %} hide-mobile{% endif %}">
      <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
      <div class="block-item-wrap {% if block.settings.video_url != blank %}custom-vimeo-wrap {% endif %}{% if block.settings.hover_image != blank %}glitch fillesapapa-glitch--style{% endif %}" id="video-{{ block.id }}">
        {% if block.settings.video_url == blank and block.settings.mp4 == blank %}
          {% if block.settings.image != blank %}
          <div class="image {% if block.settings.hover_image != blank %}glitch-first glitch__img{% endif %}">{{ block.settings.image | img_url: '1024x1024', crop: 'center' | img_tag }}</div>
          {% endif %}
          {% if block.settings.hover_image != blank %}
          <div class="image {% if block.settings.hover_image != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings.hover_image | img_url: '1024x1024', crop: 'center' }});"></div>
          {% endif %}
          {% if block.settings.hover_image != blank %}
          <div class="image {% if block.settings.hover_image != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings.image | img_url: '1024x1024', crop: 'center' }});"></div>
          {% endif %}
          {% if block.settings.hover_image != blank %}
          <div class="image {% if block.settings.hover_image != blank %}glitch__img{% endif %}" style="background-image: url({{ block.settings.hover_image | img_url: '1024x1024', crop: 'center' }});"></div>
          {% endif %}
          {% if block.settings.hover_image != blank %}
          <div class="image {% if block.settings.hover_image != blank %}glitch-last glitch__img{% endif %}" style="background-image: url({{ block.settings.hover_image | img_url: '1024x1024', crop: 'center' }});"></div>
          {% endif %}
        {% else %}
          {% if block.settings.mp4 != blank %}

            <video width="100%" loop playsinline 
                   {% if block.settings.autoplay %}muted autoplay{% endif %}
                   {% if block.settings.image != blank %}poster="{{block.settings.image | img_url: '2048x2048'}}"{% endif %}>

              <source src="{{block.settings.mp4}}" type="video/mp4">
              <source src="{{block.settings.webm}}" type="video/webm">
              <source src="{{block.settings.ogg}}" type="video/ogg">
            </video>

            <button class="button-unmute"><svg class="icon" fill="currentColor" viewBox="0 0 469.333 469.333"><path d="M206.885 43.544c-3.875-1.698-8.448-.896-11.542 2.042L85.49 149.336H10.667A10.66 10.66 0 000 160.002v149.333a10.66 10.66 0 0010.667 10.667H85.49l109.854 103.75a10.631 10.631 0 007.323 2.917c1.427 0 2.865-.281 4.219-.875a10.644 10.644 0 006.448-9.792V53.336a10.647 10.647 0 00-6.449-9.792zM192 391.252l-94.948-89.667a10.653 10.653 0 00-7.323-2.917H21.333v-128h68.396c2.719 0 5.344-1.042 7.323-2.917L192 78.086v313.166zM372.063 44.7c-4.813-3.469-11.469-2.385-14.896 2.375-3.458 4.771-2.396 11.438 2.375 14.896C414.938 102.096 448 166.659 448 234.669s-33.063 132.573-88.458 172.698c-4.771 3.458-5.833 10.125-2.375 14.896a10.658 10.658 0 008.646 4.406c2.167 0 4.354-.656 6.25-2.031 60.906-44.125 97.271-115.146 97.271-189.969-.001-74.823-36.365-145.844-97.271-189.969z"/><path d="M314.01 108.304c-4.948-3.125-11.563-1.635-14.708 3.354-3.135 4.979-1.635 11.563 3.354 14.708 37.573 23.646 60.01 64.135 60.01 108.302s-22.438 84.656-60.01 108.302c-4.99 3.146-6.49 9.729-3.354 14.708a10.66 10.66 0 009.042 4.99c1.938 0 3.906-.531 5.667-1.635C357.833 333.45 384 286.221 384 234.669c0-51.552-26.167-98.781-69.99-126.365z"/><path d="M272.75 183.45c-4.729-3.531-11.406-2.531-14.927 2.177-3.521 4.729-2.542 11.417 2.177 14.927 11.021 8.208 17.333 20.635 17.333 34.115 0 13.479-6.313 25.906-17.333 34.115-4.719 3.51-5.698 10.198-2.177 14.927a10.634 10.634 0 008.563 4.292c2.208 0 4.448-.688 6.365-2.115 16.469-12.26 25.917-30.937 25.917-51.219s-9.449-38.958-25.918-51.219z"/></svg></button>
            <script>
              var videoContainer = document.querySelector('#video-{{ block.id }}');
              var video = videoContainer.querySelector('video');
              var buttonUnmute = videoContainer.querySelector('button');

              var muted = {% if block.settings.autoplay %}true{% else %}false{% endif %};
              buttonUnmute.addEventListener("click", function() {
                this.classList.toggle('muted');
                video.muted = !muted;
                muted = !muted;
              })
            </script>

          {% elsif block.settings.video_url.type == "vimeo" %}
            <div class="vimeo-video-block" id="video-{{ section.id }}">
              <iframe class="vimeo-video-frame" src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?loop=1{% if block.settings.autoplay %}&autoplay=1&muted=1{% endif %}" width="1040" height="460" frameborder="0" allow="autoplay" allowfullscreen></iframe>
            </div>
          {% endif %}
        {% endif %}

        {% if block.settings.title != blank %}
        <div class="text text-{{ section.settings.font_size }}">{{ block.settings.title }}</div>
        {% endif %}
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} .fillesapapa-glitch--style {
  --gap-horizontal: 50px;
  --gap-vertical: 100px;
    --time-anim: {{ section.settings.time_anim | append: 's' }};
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: overlay;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: transparent;
}
</style>


{% schema %}
  {
    "name": "Blocks",
    "settings": [
      {
        "type": "select",
        "id": "font_size",
        "label": "Font size",
        "default": "normal",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
		  {
            "value": "normal",
            "label": "Normal"
          }
        ]
      },
      {
        "type": "select",
        "id": "item_per_row_mb",
        "label": "Items per row (mobile)",
        "default": "one",
        "options": [
          {
            "value": "one",
            "label": "1"
          },
		  {
            "value": "two",
            "label": "2"
          }
        ]
      },
      {
        "type":      "header",
        "content":   "Glitch Effect Settings"
      },
      {
        "type":      "range",
        "id":        "time_anim",
        "min":       0.1,
        "max":        2,
        "step":       0.1,
        "unit":       "s",
        "label":     "Time Anim (Speed)",
        "default":   0.4
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "hover_image",
            "type": "image_picker",
            "label": "Hover Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "mp4",
            "type": "text",
            "label": "MP4"
          },
          {
            "id": "webm",
            "type": "text",
            "label": "WEBM"
          },
          {
            "id": "ogg",
            "type": "text",
            "label": "OGG"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Vimeo",
            "accept": ["vimeo"]
          },
		  {
			"id": "portrait_on_mobile",
			"type": "checkbox",
            "label": "Portrait on Mobile",
			"default": false
		  },
          {
            "id": "autoplay",
            "type": "checkbox",
            "label": "Autoplay"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blocks",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
