{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if section.settings.instagram_widget_id != blank %}
  <div class="home-instagram ">
    {% assign url = '{{link}}' %}
    {% assign img = '{{image}}' %}
    {% assign cap = '{{caption}}' %}
    {% assign pid = '{{id}}' %}
    {% assign orientation = '{{orientation}}' %}

    {% assign likes = '{{likes}}' %}
    {% assign comments = '{{comments}}' %}

    <div id="instagram-card" class="clearfix">
      <div id="vue">
        <a class="insta-title" href="{{ section.settings.title_link }}" target="_blank">
          <h3 v-html="hashtagText"></h3>
        </a>

        <a :href="link" class="vue-slider owl-carousel" style="display: block">
          <div class="slide" v-for="image in slides">
            <img class="slide-image portrait lazyOwl" :src="image.Url" @error="imageOnError($event)" />
          </div>
        </a>
      </div>
    </div>

    <script async>
      // Authentipix
      (function ($) {
        var rootUrl = "https://authentipix-shopify.azurewebsites.net/";
        var widgetID = "{{ section.settings.instagram_widget_id }}";
        var instagramTag = "{{ section.settings.instagram-tag }}";
        var imagesCount = document.documentElement.classList.contains("touch") ? 30 : 80;

        var instagramWidget = new Vue({
          el: "#vue",
          created: function () {
            var url = rootUrl + 'api/TempWidget';

            $.getJSON(url + '/' + widgetID, function (data) {
              if (data.Campaign) {
                instagramWidget.images = data.Campaign.Images;
                instagramWidget.hashtag = data.Campaign.Parameter;
                instagramWidget.link = data.Campaign.Link;
              }
            });
          },
          updated: function () {
            var slider = $('.vue-slider');

            slider.owlCarousel({
              loop: true,
              autoplay: true,
              autoplayTimeout: 1000,
              responsiveClass: true,
              responsive: {
                0: {
                  items: 1
                },
                641: {
                  items: 2
                },
                992: {
                  items: 3
                },
                1200: {
                  items: 4
                }
              }
            });
          },
          data: function () {
            return {
              url: rootUrl + 'api/TempWidget' + '/' + widgetID,
              images: [],
              hashtag: "",
              pages: 1,
              currentPosition: 0,
              link: ''
            }
          },
          methods: {
            imageOnError: function (event) {
              var image = event.currentTarget;
              $(image).parents('.owl-item').remove();
            }
          },
          computed: {
            slides: function () {
              return this.images.filter(slide => slide.IsApproved).splice(0, imagesCount);
            },
            hashtagText: function () {
              return instagramTag ?  instagramTag : '#' + this.hashtag;
            }
          }
        });

        $('.vue-slider').on('initialized.owl.carousel resized.owl.carousel', function () {
          var slideItem = $(this).find('.owl-item');

          slideItem.each( function () {
            var owlItemWidth = $(this).width();
            var imgParent = $(this).find('.slide');

            imgParent.css({ height: owlItemWidth + 'px',})
          });
        });
      })(jQuery);
    </script>
  </div>
{% endif %}

{% schema %}
  {
  "name": "Instagram",
  "settings": [
  {
  "type": "text",
  "id": "instagram-tag",
  "label": "Instagram Button text"
  },
  {
  "type": "url",
  "id": "title_link",
  "label": "Instagram Button link"
  },
  {
  "type": "text",
  "id": "instagram_widget_id",
  "label": "Instagram Widget ID"
  }
  ],
  "presets": [
  {
  "name": "Instagram",
  "category": "Social"
  }
  ]
  }
{% endschema %}