{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% assign product_count = 0 %}
{% for i in (1..3) %}
{% capture block_product %}product_item_{{i}}{% endcapture %}
{% capture block_product_img %}product_image_{{i}}{% endcapture %}
{% capture block_hide_on_mobile %}hide_on_mobile_{{i}}{% endcapture %}
{% if block.settings[block_product_img] != blank %}
{% assign product_count = product_count | plus : 1 %}
{% endif %}
{% endfor %}

<div class="home-products products-{{ product_count }}__items">
  <div class="products">
    {% for block in section.blocks %}
        {% if block.type == 'product' %}
            {% assign product = all_products[block.settings.product_item] %}
            {% assign image = product.images[0] | product_img_url: '1024x' | img_tag %}
            {% assign hide_on_mobile = block.settings.hide_on_mobile %}

            {% if block.settings.product_image != blank %}
                {% assign image = block.settings.product_image | img_url: '1024x' | img_tag %}
            {% endif %}

            <div class="product-item {% if hide_on_mobile == true %}product-item--hide-mobile{% endif %}">
              <a href="{{ product.url }}">
                <div class="image">
                    {{ image }}
                </div>
                <div class="text-wrap">
                  <h2 class="title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
                  <div class="type">{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
                    {% if product.compare_at_price > product.price %}
                      <div class="price">
                        <span class="original-price">{{ product.price | money }}</span> <span class="compare-price">{{ product.compare_at_price | money }}</span>
                      </div>
                    {% else %}
                      <div class="price">
                        <span class="">{{ product.price | money }}</span>
                      </div>
                    {% endif %}
                </div>
              </a>
            </div>
        {% endif %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Products",
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "id": "product_item",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "product_image",
            "type": "image_picker",
            "label": "Product Image",
            "info": "Leave empty for default image"
          },
          {
            "id": "hide_on_mobile",
            "type": "checkbox",
            "label": "Hide On Mobile"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products",
  "category": "Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
