{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.informational_bar_enabled %}
  <section class="informational-bar">
    <div class="container">
      <p class="centerMe">
        <span class="message">{{ section.settings.message }}</span>
      </p>
      <!--<span class="contact">
        {% if settings.informational_bar_social_networks_enabled %}
          {% capture informational_bar_social_links %}
            {% include 'social-networks' %}
          {% endcapture %}
        {% endif %}

        {% if settings.informational_bar_contact_phone != blank or settings.informational_bar_contact_email != blank or informational_bar_social_links != blank %}
          {% comment %}ly_i18n_replace_for_[ 'layout.informational_bar.contact' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.informational_bar.contact' | t }}{% endcapture %}{% include 'ly-static-string' with '15133881' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}

          {% if settings.informational_bar_contact_phone != blank %}
            <span class="separator">|</span> <strong>{{ settings.informational_bar_contact_phone }}</strong>
          {% endif %}

          {% if settings.informational_bar_contact_email != blank %}
            <span class="separator">|</span> <a href="mailto:{{ settings.informational_bar_contact_email }}">{{ settings.informational_bar_contact_email }}</a>
          {% endif %}

          {% if informational_bar_social_links != blank %}
            <span class="separator">|</span>

            <ul class="social-networks">
              {{ informational_bar_social_links }}
            </ul>
          {% endif %}
        {% endif %}
      </span>
    -->
    </div>
  </section>
{% endif %}


{% schema %}
  {
    "name": "Top bar information",
    "settings": [
      {
        "id": "message",
        "type": "textarea",
        "label": "Message",
        "default": "FREE DELIVERY ON ORDERS OVER € 250"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
