{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="page page-instagram">
  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
    </div>

    <header class="page-header hide">
      <h1 class="page-title hide">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
    </header>
  </div>
  
  <div class="page">
    <div class="container">
      <section class="inner rte">
        {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </section>
    </div>
  </div>


  <div class="instagram-wrapper">
    {% if section.settings.instagram_widget_id != blank %}
      {{ section.settings.instagram_widget_id }}
    {% endif %}

    <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-gallery"></div>

    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    <script type="text/javascript">
      /* curator-feed-gallery */
      (function(){
        var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
        i.src = "https://cdn.curator.io/published/c0787174-b8d9-4e51-a544-a1197444173a.js";
        e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
      })();
    </script>
  </div>
</div>

<style>
  .crt-widget-grid.crt-grid-col5 .crt-grid-post {
    width: 25% !important;
  }
  
  .crt-widget-grid.crt-grid-col1 .crt-grid-post {
   width: 50% !important; 
  }
</style>

{% schema %}
  {
    "name": "Instagram",
	"class": "instagram-page",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "instagram_widget_id",
        "label": "Instagram Widget ID",
        "default": "<div id='insta-feed'></div>"
      }
	]
  }
{% endschema %}
