{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

<div class="page push-header" style="display: none;">
  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
    </div>

    <header class="page-header">
      <h2 class="page-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
    </header>
  </div>
</div>


{% for block in section.blocks %}
{% if block.type == 'block' %}
	{% include "page-blocks__section" %}
{% elsif block.type == 'product' %}
	{% include "page-products__section" %}
{% elsif block.type == 'hero' %}
	{% include "page-hero__section" %}
{% elsif block.type == 'newsletter' %}
	{% include "page-newsletter__popup" %}
{% elsif block.type == 'newsletter_section' %}
	{% include "page-newsletter__section" %}
{% elsif block.type == 'video' %}
	{% include "page-video__section" %}
{% endif %}
{% endfor %}

<style>
  footer.site-footer, footer[role="contentinfo"] {
    margin-top: 0;
  }
</style>

<script>
  $(document).ready(function() {
	$('a.nlt_link').magnificPopup({
        items: {
          src: '#page-newsletter__section-{{ page.id }}'
        },
		type: 'inline',

		fixedContentPos: false,
		fixedBgPos: true,

		overflowY: 'auto',

		closeBtnInside: true,
		preloader: false,
		
		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	});
});
</script>


{% schema %}
  {
    "name": "Shoes Landing Page",
	"class": "shoes-landing-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "popup_replacement",
        "label": "Replace all Links with Popup"
      }
	],
    "blocks": [
      {
        "type": "video",
        "name": "Video Section",
		"limit": 1,
        "settings": [
            {
              "id": "image",
              "type": "image_picker",
              "label": "Video image"
            },
            {
              "id": "mp4",
              "type": "text",
              "label": "MP4"
            },
            {
              "id": "webm",
              "type": "text",
              "label": "WEBM"
            },
            {
              "id": "ogg",
              "type": "text",
              "label": "OGG"
            },
            {
              "type": "video_url",
              "id": "video_url",
              "label": "Vimeo",
              "accept": ["youtube", "vimeo"]
            },
            {
              "id": "autoplay",
              "type": "checkbox",
              "label": "Autoplay"
            }
        ]
      },
      {
        "type": "newsletter_section",
        "name": "Newsletter Section",
		"limit": 1,
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Newsletter"
            },
            {
              "type": "textarea",
              "id": "subtitle",
              "label": "Subtitle",
              "default": "Stay update on our lastest collections and drops."
            },
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide on mobile"
            }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter Popup",
		"limit": 1,
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Newsletter"
            },
            {
              "type": "textarea",
              "id": "subtitle",
              "label": "Subtitle",
              "default": "Stay update on our lastest collections and drops."
            },
            {
              "type": "checkbox",
              "id": "hide_on_mobile",
              "label": "Hide on mobile"
            }
        ]
      },
      {
        "type": "block",
        "name": "Blocks Section",
        "settings": [
			{
            "type": "select",
            "id": "font_size",
            "label": "Font size",
            "default": "normal",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "normal",
                "label": "Normal"
              }
            ]
          },
          {
            "type": "select",
            "id": "item_per_row",
            "label": "Items per row (desktop)",
            "default": "row_2_1",
            "options": [
              {
                "value": "row_2_1",
                "label": "2"
              },
              {
                "value": "row_3_1",
                "label": "3"
              },
              {
                "value": "row_4_1",
                "label": "4"
              }
            ]
          },
          {
            "type": "select",
            "id": "item_per_row_mb",
            "label": "Items per row (mobile)",
            "default": "one",
            "options": [
              {
                "value": "one",
                "label": "1"
              },
              {
                "value": "two",
                "label": "2"
              }
            ]
          },
          {
            "type":      "header",
            "content":   "Glitch Effect Settings"
          },
          {
            "type":      "range",
            "id":        "time_anim",
            "min":       0.1,
            "max":        2,
            "step":       0.1,
            "unit":       "s",
            "label":     "Time Anim (Speed)",
            "default":   0.2
          },
          {
            "type": "header",
            "content": "Block #1"
          },
          {
            "type": "checkbox",
            "id": "block_1_hide_mobile",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "id": "block_1_image",
            "type": "image_picker",
            "label": "Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_1_hover_image",
            "type": "image_picker",
            "label": "Hover Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_1_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "block_1_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Block #2"
          },
          {
            "type": "checkbox",
            "id": "block_2_hide_mobile",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "id": "block_2_image",
            "type": "image_picker",
            "label": "Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_2_hover_image",
            "type": "image_picker",
            "label": "Hover Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_2_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "block_2_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Block #3"
          },
          {
            "type": "checkbox",
            "id": "block_3_hide_mobile",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "id": "block_3_image",
            "type": "image_picker",
            "label": "Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_3_hover_image",
            "type": "image_picker",
            "label": "Hover Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_3_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "block_3_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Block #4"
          },
          {
            "type": "checkbox",
            "id": "block_4_hide_mobile",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "id": "block_4_image",
            "type": "image_picker",
            "label": "Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_4_hover_image",
            "type": "image_picker",
            "label": "Hover Image",
			"info": "Recommended: 1024px x 1024px"
          },
          {
            "id": "block_4_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "block_4_link",
            "type": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "product",
        "name": "Products",
        "settings": [
          {
            "type": "header",
            "content": "Product #1"
          },
          {
            "id": "product_item_1",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "product_image_1",
            "type": "image_picker",
            "label": "Product Image",
            "info": "Leave empty for default image"
          },
          {
            "id": "block_title_1",
            "type": "text",
            "label": "Custom Title"
          },
          {
            "id": "block_link_1",
            "type": "url",
            "label": "Custom Link"
          },
          {
            "id": "hide_on_mobile_1",
            "type": "checkbox",
            "label": "Hide On Mobile"
          },
          {
            "type": "header",
            "content": "Product #2"
          },
          {
            "id": "product_item_2",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "product_image_2",
            "type": "image_picker",
            "label": "Product Image",
            "info": "Leave empty for default image"
          },
          {
            "id": "block_title_2",
            "type": "text",
            "label": "Custom Title"
          },
          {
            "id": "block_link_2",
            "type": "url",
            "label": "Custom Link"
          },
          {
            "id": "hide_on_mobile_2",
            "type": "checkbox",
            "label": "Hide On Mobile"
          },
          {
            "type": "header",
            "content": "Product #3"
          },
          {
            "id": "product_item_3",
            "type": "product",
            "label": "Product"
          },
          {
            "id": "product_image_3",
            "type": "image_picker",
            "label": "Product Image",
            "info": "Leave empty for default image"
          },
          {
            "id": "block_title_3",
            "type": "text",
            "label": "Custom Title"
          },
          {
            "id": "block_link_3",
            "type": "url",
            "label": "Custom Link"
          },
          {
            "id": "hide_on_mobile_3",
            "type": "checkbox",
            "label": "Hide On Mobile"
          }
        ]
      },
      {
        "type": "hero",
        "name": "Hero Slider",
        "settings": [
          {
            "id": "autoplay",
            "type": "checkbox",
            "label": "Autoplay",
            "default": true
          },
          {
            "id": "autoplay_timeout",
            "type": "text",
            "label": "Change slides every (seconds)",
            "default": "5"
          },
          {
            "type": "header",
            "content": "Slide #1"
          },
          {
            "id": "image_1",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_mb_1",
            "type": "image_picker",
            "label": "Image (mobile)"
          },
          {
            "id": "title_1",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_1",
            "type": "textarea",
            "label": "Subtitle"
          },
          {
            "id": "btn_label_1",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "btn_link_1",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "layout_1",
            "label": "Layout",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "center",
                "label": "Text center"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_1",
            "label": "Text and button color",
            "default": "black",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide #2"
          },
          {
            "id": "image_2",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_mb_2",
            "type": "image_picker",
            "label": "Image (mobile)"
          },
          {
            "id": "title_2",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_2",
            "type": "textarea",
            "label": "Subtitle"
          },
          {
            "id": "btn_label_2",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "btn_link_2",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "layout_2",
            "label": "Layout",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "center",
                "label": "Text center"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_2",
            "label": "Text and button color",
            "default": "black",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide #3"
          },
          {
            "id": "image_3",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_mb_3",
            "type": "image_picker",
            "label": "Image (mobile)"
          },
          {
            "id": "title_3",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_3",
            "type": "textarea",
            "label": "Subtitle"
          },
          {
            "id": "btn_label_3",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "btn_link_3",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "layout_3",
            "label": "Layout",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "center",
                "label": "Text center"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_3",
            "label": "Text and button color",
            "default": "black",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              }
            ]
          },
          {
            "type": "header",
            "content": "Slide #4"
          },
          {
            "id": "image_4",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_mb_4",
            "type": "image_picker",
            "label": "Image (mobile)"
          },
          {
            "id": "title_4",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_4",
            "type": "textarea",
            "label": "Subtitle"
          },
          {
            "id": "btn_label_4",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "btn_link_4",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "layout_4",
            "label": "Layout",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "center",
                "label": "Text center"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_color_4",
            "label": "Text and button color",
            "default": "black",
            "options": [
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
