{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="page page-contact push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h2 class="page-title hide">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
      </header>
    </div>
  </div>


<div class="page page-contact">
  <div class="container">
    <div class="inner">
      <section class="page-contact-about-us rte">
        {{ section.settings.image | img_url: '1200x' | img_tag }}
      </section>

      <section class="page-contact-form">
        <h1 class="page-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
        
        {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        
        <ul class="contact-socials">
        {% include 'social-networks' %}
        </ul>
        
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <div class="alert-box alert-success">
              <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'contact.form.thank_you' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.thank_you' | t }}{% endcapture %}{% include 'ly-static-string' with '15134732' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
              <p>{% comment %}ly_i18n_replace_for_[ 'contact.form.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.success' | t }}{% endcapture %}{% include 'ly-static-string' with '15134733' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
            </div>
          {% endif %}

          <div class="form-control">
            <label for="contact[name]">{% comment %}ly_i18n_replace_for_[ 'contact.form.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name' | t }}{% endcapture %}{% include 'ly-static-string' with '15134734' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="text" name="contact[name]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134735' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.name | escape }}" {% if form.errors.messages.name %}class="error"{% endif %} required="required">

            {% if form.errors.messages.name %}
              <span class="input-error">{{ form.errors.messages.name }}</span>
            {% endif %}
          </div>

          <div class="form-control">
            <label for="contact[email]">{% comment %}ly_i18n_replace_for_[ 'contact.form.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15134736' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="email" name="contact[email]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134738' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.email | escape }}" {% if form.errors.messages.email %}class="error"{% endif %} required="required">

            {% if form.errors.messages.email %}
              <span class="input-error">{{ form.errors.messages.email }}</span>
            {% endif %}
          </div>

          <div class="form-control">
            <label for="contact[body]">{% comment %}ly_i18n_replace_for_[ 'contact.form.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message' | t }}{% endcapture %}{% include 'ly-static-string' with '15134739' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <textarea rows="5" cols="75" name="contact[body]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.message_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134741' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" {% if form.errors.messages.body %}class="error"{% endif %} required="required">{{ form.body }}</textarea>

            {% if form.errors.messages.body %}
              <span class="input-error">{{ form.errors.messages.body }}</span>
            {% endif %}
          </div>

          <button type="submit" class="button button-primary" id="contactFormSubmit">{% comment %}ly_i18n_replace_for_[ 'contact.form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15134742' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        {% endform %}
        
      </section>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Page",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
