/*================ Breakpoints ================*/
@mixin media($point){
  @if ($point == xlg){
    @media screen and (max-width: 1130px){ @content }
  }
  @if ($point == lg){
    @media screen and (min-width: 961px){ @content }
  }
  @if ($point == md){
    @media screen and (max-width: 960px){ @content }
  }
  @if ($point == asm){
    @media screen and (min-width: 641px){ @content }
  }
  @if ($point == sm){
    @media screen and (max-width: 640px){ @content }
  }
  @if ($point == xsm){
    @media screen and (max-width: 425px){ @content }
  }
}

/*================ Color ================*/
$header-background: {{ settings.header_background }};
$header-background-scroll: {{ settings.header_background_scroll }};
$header-nav-link-color: {{ settings.header_nav_link_color }};
$header-nav-link-hover-color: {{ settings.header_nav_link_hover }};
/*================ General ================*/
.hide{
  display: none!important;
}

.shopify-challenge__container {
  padding-top: 120px;
}

.push-header{
  margin-bottom: 20px;
}

.styled-select::after{
  color: #000!important;
}

.spacer {
  height: 80px;
  @include media(sm) {
    height: 55px;
  }
}

.spacerPlus {
  height: 110px;
  @include media(sm) {
    height: 90px;
  }
}

body {
  opacity: 0; //fade in effect
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


input, select, textarea {
  /*   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

span.money {
  color: inherit;
}

#ly-languages-switcher {
  background: transparent;
  color: $header-nav-link-color !important;
}

p.empty-cart{
  font-size: 16px;
  margin: 15px 0;
}

#cart .inner.empty{
  padding: 0
}

.form-control.cart-terms{

  & > *{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  #terms-checkbox{

  }
}

.checkout-btn.button{
  width: 100%;
  max-width: 350px;
}

.add-to-cart{
  .form-control{
    overflow: visible;
  }

  .multi-options .selector-wrapper{
    overflow: visible;
    display: inline-block;
    width: 100%;
  }



  .styled-select:after, .form-control>.selector-wrapper:after{
    padding: 0 5px;
    top: 0;
    line-height: 27px;
    display: inline-block;
    width: 27px;
    text-align: center;
  }

  .form-control label{
    line-height: 27px;
  }

  .selectric-wrapper {
    position: relative;
    cursor: pointer;
    max-width: 250px;
    float: right;
  }

  span.similar-product-select-label{
    line-height: 27px;
    display: inline-block!important;
    text-transform: uppercase;
    float: left;
    margin-bottom: 0;
    margin: 0;
    font-weight: 700;
    color: #0c0c0c;
  }

}
/*================ product-list ================*/
.product-list .product-item-image {
  max-width: 320px;
  width: 100%;
}

.iwishMsgInfo{
  font-size: 16px;
}

/*================ Collection ================*/
.collection .page-header .tag-filters, .collection .page-header .filters {
  @include media(sm) {
    display: inline-block;
    width: 49%;
    margin: 0;

    select{
      width: 100%!important;
    }
  }
}


.collection .page-header{
  @include media(sm) {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;

  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .page-title {
    display: inline-block;
    vertical-align: middle;
  }

  .filters {
    display: inline-block;
    vertical-align: middle;
  }

  .sort{
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
    margin: 0;

    @include media(sm) {
      width: 100%;
      max-width: 100%;
      margin: 0;

      .styled-select{
        width: 100%!important;
      }
    }
  }

  &.collection-filter__header{
    .sort{
      @include media(sm) {
        display: inline-block;
        width: 49%;
        margin: 0;

        .styled-select{
          width: 100%!important;
        }
      }
    }
  }


}

.collection .page-title{
  font-weight: 900;
  @include media(sm) {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: -5px;
  }
}

.collection {
  .discount-percent {
    color: #ee4630;
    font-weight: 600;
  }
}

.page-wrapper {
  overflow: unset;
}

/*================ Product template ================*/
.product {
  margin-top: 0;
  overflow: unset;

  @include media(sm) {
    margin-top: 0;
  }
}

.product-options {
  margin-bottom: 0;
  .product-help-popup {
    text-align: center;
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }

  .product-size-guide, .product-may-we-help {
    text-align: center;
    margin: 10px 0 15px;
    display: inline-block;

    .text-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#data-size-guide {
  img {
    width: 100%;
    max-width: 800px;
  }
}

.product-container{
  @include media(asm) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;  
  }
}

.product-header, .product-options, .product-info{
  width: 100%; 
}

.product-header{
  text-align: left;
}

.product-detail{
  padding: 20px;

  @include media(asm) {
    padding: 70px 50px 50px;
    width: 50%;
  }
  margin: 0;

  .product-detail__inner{
    @include media(asm) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto; 
      max-width: 500px;
      //min-height: 97vh;
    }
  }
}

.product-showcase {
  @include media(asm) {
    width: 50%;
  }

  margin: 0;

  * {
    outline: none;
  }

  .featured-image-list a{
    @include media(sm) {
      pointer-events: none;
      cursor: default;
    }
  }

  .thumbnail-list {
    img {
      max-width: 69px;
      width: 100%;
    }
  }

  //new product-showcase
  #ProductPhoto {
    position: relative;
    float: left;
    width: 100%;
    padding-right: 0;

    @include media(sm) {
      float: none;
      width: 100%;
      padding-right: 0;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      text-indent: -999999999px;
      background-size: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;


      &:hover {
        opacity: 0.7;
      }

      &.slick-disabled {
        opacity: 0.3;
      }
    }

    .slick-prev {
      left: 0;
      z-index: 1;
      background-image: url({{ 'icon-chevron-left.svg' | asset_url }});
    }

    .slick-next {
      right: 25px;
      background-image: url({{ 'icon-chevron-right.svg' | asset_url }});
      @include media(sm) {
        right: 0;
      }
    }
  }
  @include media(xsm) { button.slick-prev.slick-arrow.slick-disabled, button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    display: none !important;
  }}


  #ProductThumbs {
    float: left;
    width: 20%;
    max-width: 71px;
    margin: 0;

    @include media(asm) {
      display: none;
    }

    @include media(sm) {
      float: none;
      width: 100%;
      max-width: 100%;
    }

    img {
      width: 100%;
      max-width: 69px;
      @include media(sm) {
        max-width: 100%;
      }
    }

    .slick-arrow {
      position: relative;
      width: 30px;
      height: 20px;
      text-indent: -999999999px;
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      @include media(sm) {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 18px;
        height: 25px;
        background-size: 10px;
      }

      &:hover {
        opacity: 0.7;
      }

      &.slick-disabled {
        opacity: 0.3;
      }
    }

    .slick-prev {
      left: calc(50% - 15px);
      z-index: 1;
      background-image: url({{ 'icon-chevron-up.svg' | asset_url }});
      @include media(sm) {
        left: 0;
        background-image: url({{ 'icon-chevron-left.svg' | asset_url }});
      }
    }

    .slick-next {
      left: calc(50% - 15px);
      background-image: url({{ 'icon-chevron-down.svg' | asset_url }});
      @include media(sm) {
        left: auto;
        right: 0;
        background-image: url({{ 'icon-chevron-right.svg' | asset_url }});
      }
    }
  }
}

#cross-sell {
  max-width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
  padding: 0 !important;

  .crosssell-title{
    text-transform: uppercase; 
    font-size: 15px;
  }

  #cross-sells{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cross-sell .xs-card {
    float: none;
    display: inline-block;
    vertical-align: text-top;
    padding: 0 5px;
    margin: 0 0 15px;
    position: relative;
    width: 50% !important;
    box-shadow: none!important;

    &:hover{
      box-shadow: none!important; 
    }

    .xs-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 175px;
      min-height: 175px;
      margin-top: 15px;
      margin: 0;
      width: 100%;
    }

    .xs-card-body .xs-product-title{
      font-weight: 600!important;
      font-size: 13px;
    }
  }

  .cross-sell .xs-card .producttitle{
    min-height: 0;  
  }

  .cross-sell *{
    font-size: 13px; 
  }
}

#cart #cross-sell{
  .cross-sell .xs-card{
    width: 20% !important;

    @include media(md) {
      width: 50% !important;
    }
  }

  #cross-sells{
    width: 100%;
    padding: 0;
  }
}

#product-showcase-links {
  li img {
    max-height: 100px;
    width: auto;
  }

  .overlay {
    width: calc(100% - 16px);
  }
}

#productTabs {
  .resp-tabs-list {
    li {
      border: 0 !important;
      padding: 6px 15px !important;
      text-transform: uppercase;
      font-size: 13px;
      color: #8d8d8d;
      margin: 0;
      padding-left: 0 !important;


    }

    .resp-tab-active {
      color: #333;
    }
  }

  .resp-tabs-container {
    border-bottom: 1px solid #eee !important;

    .resp-tab-content {
      font-size: 13px;
      line-height: 1.6;
      color: #333;
      border: 0;
      padding: 13px 0;
      text-transform: uppercase;
      height: auto;


      @include media(sm) {
        font-size: 15px;
        padding: 10px 0px;
        height: auto;
      }
    }
  }

  h2.resp-accordion {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px;
    padding: 10px 0px !important;
    color: #8d8d8d;
    border: 0 !important;
    border-top: 1px solid #eee!important;
    position: relative;

    .resp-arrow {
      border: none!important;
      border-left: none;
      border-right: none;
      border-bottom: none;
      width: 25px;
      height: 25px;
      text-align: center;
      margin: 0;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:after{
        content: "+";
        font-size: 22px;
        font-weight: 200;
        color: #444;
        height: 25px;
        width: 25px;
        line-height: 20px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: initial;
      }
    }
  }

  h2.resp-tab-active {
    color: #333;

    .resp-arrow{
      &:after{
        content: '–';

      }
    }
  }
}

.product-live-chat {
  margin: 15px 0 0;
  @include media(sm) {
    padding: 0;
  }

  a {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.6;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .text-link {
    @include media(sm) {
      display: none;
    }
  }

  .text-link-whatsapp {
    display: none;
    @include media(sm) {
      display: block;
    }
  }
}

#data-live-chat {
  min-width: 250px;

  .popup-message {
    font-size: 1.2em;
  }
}

/*================ Header ================*/
.top-header-container{
  &.index{

    header.header{
      &.isScroll, &.isHover{
        background: $header-background-scroll !important;
      }
    }

  }

  &.non-index{
    header.header{

      .header-nav {
        .header-nav-links>li,
        .header-toolbar>li{

          a{
            color: #000;

            &:hover{
              color: $header-nav-link-hover-color;
            }
          }

        }

      }

      .header-toolbar{

        .cart-mobile {

          #shopping-bag{
            fill: #000;
          }

          &:hover {
            #shopping-bag{
              fill: $header-nav-link-hover-color;
            }
          }

        }
      }


      .header-mobile-nav{


        .tab-icon {
          #mobile-menu-button{
            fill: #000;
          }

          &:hover {
            svg {
              #mobile-menu-button{
                fill: $header-nav-link-hover-color;
              }

            }
          }
        }
      }

      &.isScroll, &.isHover{
        background: #FFF!important;


      }
    }
  }

}

header.header {
  color: $header-nav-link-color;
  background: $header-background;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

  &.non-topbar{
    padding-top: 0;
  }

  .header-wrap {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 20px 53px;

    @include media(xlg) {
      padding: 9px 20px;
    }
    @include media(xsm) {
      padding: 11px 20px;
    }
  }

  .header-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .header-nav-links{
      @include media(md) {
        display: none;
      }

      & >li {
        padding-right: 32px;
        vertical-align: middle;

        &:last-child {
          padding: 0;
        }

        &>a {
          -webkit-transition: all 0.15s ease-in-out;
          -moz-transition: all 0.15s ease-in-out;
          -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
          padding: 0;
          letter-spacing: 2px;

          > span {
            margin-top: -5px;
            display: inline-block;
            vertical-align: middle;
          }

          &:hover {

          }
        }
      }
    }

    .search-link {
      a:hover {
        svg, path {
          fill: $header-nav-link-hover-color;
        }
      }

      svg {
        display: block;
        width: 15px;
        height: 15px;
        fill: currentcolor;
      }

      path {
        fill: currentcolor;
      }
    }
  }


  /* header-mobile-nav */
  .header-mobile-nav .mobile-customer-links .tab-content {
    margin-bottom: 20px;

  }
  .header-mobile-nav .mobile-menu .tab-content {
    width:50%;
  }

  .header-mobile-nav .mobile-menu .tab-content select {
    text-align: center;
    width: 100%!important;
    border-radius: 3px!important;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .header-mobile-nav {
    display: block;

    .cart-count {
      position: absolute;
      margin: -15px 0 0 4px;
      padding: 1px 6px 1px 6px;
      border-radius: 100%;
      font-size: 13px;
      z-index: 2;
    }

    .tab-icon {
      position: relative;
      display: inline-block;
      padding: 0;
      width: auto;

      &:hover {
        svg {
          .line {
            width: 20px;
          }

          #mobile-menu-button{
            fill: $header-nav-link-hover-color;
          }

        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 25px;
        width: 1px;
        top: 24%;
        background: #000;
      }

      #mobile-menu-button{
        fill: $header-nav-link-color;
      }

      svg {
        display: block;
        width: 20px;
        height: 15px;
        margin-bottom: -3px;

        .line {
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }
      }
    }

    .mobile-nav-tabs {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      margin-bottom: 0;

      & > li {
        display: table-cell;
        text-align: left;

        &:first-child .tab-icon:before {
          width: 0;
        }

        &.active {
          background: #fff;
          color: #000;

          &:before,
          & + li a:before {
            width: 0;
          }
        }

        i {
          font-size: 20px;
          vertical-align: middle;
        }

        .icon-cart {
          font-size: 30px;
        }
      }
    }

    .mobile-nav-tabs .tab-content {
      display: none;
      position: absolute;
      width: 100%;
      padding: 20px;
      left: 0;
      top: 52px;
      text-align: left;
      font-size: 24px;
      background: #fff;
      color: #000;
      border-bottom: 1px solid #fafafa;
      box-shadow: 0 1px 2px darken(#000, 5%);
      z-index: 50;
    }

    .mobile-nav-tabs > .active .tab-content {
      display: block;
    }

    input[type="search"] {
      border: 0;
      font-size: 15px;
      font-weight: 400;
      background: transparent;
      color: #000;
    }

    .mobile-customer-links .tab-content {
      a {
        display: block;
        width: 100%;
      }

      a:first-child {
        margin-bottom: 20px;
      }
    }

    .mobile-menu {
      &.active {
        .tab-content {
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
    }

    .mobile-menu .tab-content {
      position: fixed;
      padding: 0;
      border-bottom: 0;
      left: 0;
      top: 24px;
      height: 100%;
      overflow: auto;
      width: 50%;
      max-width: 500px;
      padding: 5px 10px;
      display: block !important;
      -webkit-transform: translate(-105%, 0);
      -moz-transform: translate(-105%, 0);
      -o-transform: translate(-105%, 0);
      -ms-transform: translate(-105%, 0);
      transform: translate(-105%, 0);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      @include media(sm) {
        top: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    .search-form {
      margin: 20px 10px;
      max-width: 100%;

      .input-group {
        position: relative;
        border: 1px solid #DEDEDE;

        .input-group-field {
          height: 40px;
          text-transform: uppercase;

          &::-webkit-input-placeholder {
            color: #9e9e9e;
            font-size: 13px;
          }
          &::-moz-placeholder {
            color: #9e9e9e;
            font-size: 13px;
          }
          &:-ms-input-placeholder {
            color: #9e9e9e;
            font-size: 13px;
          }
          &:-moz-placeholder {
            color: #9e9e9e;
            font-size: 13px;
          }
        }

        .input-group-btn {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;


          button {
            width: 40px;
            height: 40px;
            padding: 10px;
            border: none;
            background: transparent;

            svg {
              display: block;
              width: 15px;
              height: 15px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .tab-content-header {
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-justify-content: space-between;
      justify-content: space-between;
      padding: 10px;

      ul {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -ms-align-items: center;
        align-items: center;

        li {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
          text-transform: uppercase;
          padding: 0 10px;
        }

        #ly-languages-switcher {
          font-size: 15px !important;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          width: 100% !important;
          margin-top: -2px;
        }

        .account {
        }

        .lySwitch {
          select {
            color: #4a4a4a !important;
          }
        }
      }

      .icon-close {
        padding: 0 ;
      }
    }

    .header-nav-links {
      z-index: 5;
      display: block;

      li {
        position: relative;
        padding: 6px 0 !important;
        margin: 0 10px;
        display: block;
        background: #fff;
        color: #000;
        border-bottom: 1px solid #D8D8D8;

        i {
          font-size: 14px;
        }
      }

      .active {
        border-bottom: none;
      }

      a {
        display: block;
        padding-bottom: 0;
        font-weight: 400 !important;
        font-size: 15px !important;
        text-transform: uppercase !important;
        opacity: 1 !important;
        color: #000;



        &:hover {
          background: inherit;
          color: inherit;
        }

        &:after {
          display: none;
        }
      }

      .search-link {
        display: none;
      }

      .dropdown.open > ul {
        display: block;
      }

      .see-more {
        position: absolute;
        top: 9px;
        right: 0;
        width: 30px;
        font-size: 15px;
        text-align: center;
        margin: 0 !important;
      }

      .icon-minus {
        margin-right: -1px;
      }

      .icon-arrow-right {
        display: none;
      }
    }


    .tab-content-social {
      ul {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 30px;

        li {
          padding: 0 10px 10px;

          i {
            font-size: 15px;
          }
        }
      }
    }

    .dropdown-level-1,
    .dropdown-level-2 {
      position: relative;
      margin-top: 12px;
      margin-left: -15px;
      margin-right: -15px;
      border: none;
      background: #fff;
    }

    .dropdown-level-1 {
      padding: 0;

      a {
        padding: 0 20px;
      }

      li {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fafafa;
      }

      &:before {
        display: none;
      }
    }

    .dropdown-level-2 {
      padding: 0;
      left: 0;
      top: 0;

      a {
        padding: 0 40px;
      }

      li {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fafafa;
      }

      &:before {
        display: none;
      }
    }

    .is-nested:hover .dropdown-level-1,
    .is-sub-nested:hover .dropdown-level-2 {
      display: none;
    }

    .is-nested.active {
      padding-bottom: 0;

      .dropdown-level-1 {
        display: block;
      }
    }

    .is-sub-nested.active {
      padding-bottom: 0;

      .dropdown-level-2 {
        display: block;
      }
    }
  }

  .header-mobile-nav {
    display: none;

    @include media(md) {
      display: block;
    }
  }
  /* end header-mobile-nav */

  #ly-languages-switcher {
    font-size: 13px;
  }

  .header-logo {
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin: 8px 0;

    .logo-image {
      display: block;

      @include media(xsm) {
        width: 145px;
      }
    }
  }

  .header-toolbar {
    margin: 0;
    padding: 0;

    li {
      padding: 0 0 0 32px;
      border: none;
      line-height: 30px;
      @include media(sm) {
        padding: 0 0 0 10px;
      }

      &.instagram{
        @include media(md) {
          display: none;
        }
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        letter-spacing: 2px;

        img{
          width: auto;
          vertical-align: middle;
          height: 30px; 
        }

        &:hover {

        }
      }
    }

    .account, .lySwitch {
      @include media(md) {
        display: none;
      }
    }

    .wishlist-desktop {
      @include media(md) {
        display: none;
      }
    }

    .wishlist-mobile {
      display: none;
      @include media(md) {
        display: inline-block;
        vertical-align: top;
        margin-bottom: -4px;

        .iWishMobileView {
          position: relative;
          display: block;

          .iWishCount {
            position: absolute;
            width: 12px;
            height: 12px;
            background: #FF6008;
            color: #fff;
            display: flex;
            font-size: 8px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: -3px;
            right: -8px;
          }
        }

        .iWishMobileView i {
          font-weight: normal !important;
          font-size: 17px !important;
          top: 0;
        }
      }
    }

    .cart-desktop {
      @include media(md) {
        display: none;
      }
    }

    .cart-mobile {
      display: none;

      #shopping-bag{
        fill: $header-nav-link-color;
      }

      @include media(md) {
        display: inline-block;
        vertical-align: middle;
        padding: 0;

        svg {
          display: inline-block;
          vertical-align: middle;
          width: 13px;
          height: 17px;
        }

        a {
          position: relative;
          display: inline-block;
          vertical-align: middle;

          span {
            position: absolute;
            width: 12px;
            height: 12px;
            background: #FF6008;
            color: #fff;
            display: flex;
            font-size: 8px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: -3px;
            right: -8px;
          }
        }
      }
    }
  }
}

.top-header-container>.header {
  @include media(sm) {
    position: fixed !important;
  }
}

/*================ home-slideshow ================*/
.home-slideshow {
  .sticky-button-wrap{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    text-align: center;


    .btn {
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      font-weight: 600;
      border: 2px solid currentColor;
      color: #dffc02;
      height: 50px;
      width: auto;

      text-align: center;
      padding: 12px 30px;
      background: transparent;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

      @include media(md) {
        padding: 12px 20px;
        letter-spacing: 1px;
        line-height: 24px;
      }
      @include media(xsm) {
        font-size: 13px;
      }

      &:hover {
        background: #dffc02;
        color: #000;
        border-color: #dffc02;
      }
    }
  }

  .slideshow {
    .slide-item {
      /*       position: relative;
      background-size: cover;
      background-position: center;
      height: calc(100vh - 80px);
      max-height: 750px;
      min-height: 510px;
      @include media(sm) {
      height: calc(100vh - 54px);
    } */
      position: relative;

      .image {

        position: relative;
        &.image-desk {
          @include media(sm) {
            display: none;
          }
        }

        &.image-mb {
          display: none;
          @include media(sm) {
            display: block;
          }
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      .text-wrap {
        position: absolute;
        width: 85%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &.sticky{

        }

        @include media(xsm) {
          width: 90%;
        }

        .text-item {
          max-width: 500px;

          &.text-center {
            margin: 0 auto;
            text-align: center;
          }

          &.text-right {
            margin-left: auto;
            text-align: right;
          }
        }

        .title {
          font-size: 40px;
          text-transform: uppercase;
          margin-bottom: 20px;
          @include media(md) {
            font-size: 30px;
          }
          @include media(xsm) {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }

        .subtitle {
          margin-bottom: 30px;
          @include media(xsm) {
            margin-bottom: 15px;
          }
        }

        .btn {
          display: inline-block;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1.5px;
          font-weight: 600;
          border: 2px solid #ff0000 !important;
          color: #ff0000;
          height: 50px;
          width: auto;

          text-align: center;
          padding: 12px 30px;
          background: transparent;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;

          @include media(md) {

          }
          @include media(xsm) {

          }

          &:hover {
            background: #ff0000;
            color: #fff;
          }
        }
      }
    }

    .slick-dots {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

      li {
        display: inline-block;

        &.slick-active {
          button {
            background: #9b9b9b;
          }
        }

        button {
          text-indent: -9999999999px;
          width: 20px;
          height: 2px;
          padding: 0;
          margin: 0 2px;
          background: #fff;
          outline: none;
        }
      }
    }
  }
}

/*================ home-blocks ================*/
.home-blocks {
  .blocks {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    &.flexy{
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .block-item {
      width: 50%;
      position: relative;

      &:hover {
        .image:after {
          opacity: 0.5;
        }

        .text {
          display: block;
        }
      }

      &.one {
        @include media(sm) {
          width: 100%;
        }
      }

      &.no-text {
        .image {
          &:after {
            display: none;
          }
        }
      }

      .image {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: 0;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }

        img {
          display: block;
          width: 100%;
        }
      }

      .text {
        position: absolute;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        color: #fff;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0 15px;
        display: none;
        @include media(md) {
          font-size: 25px;
        }

        &.text-small {
          font-size: 18px;
          @include media(xsm) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/*================ home-video  ================*/
.home-video {
  .video-site {
    position: relative;
  }

  .my-background-video{
    width: 100%; 
  }

  .jquery-background-video-pauseplay {
    top: 50% !important;;
    left: 50% !important;;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url({{ 'icon-play.svg' | asset_url }}) !important;;
    background-repeat: no-repeat !important;;
    background-size: contain !important;;
    height: 80px;
    width: 80px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    @include media(sm){
      height: 60px;
      width: 60px;
    }
    @include media(xsm){
      height: 42px;
      width: 42px;
    }

    &:before, &:after {
      display: none !important;
    }

    &.pause {
      opacity: 0;
      visibility: hidden;
    }

  }
}

/*================ home-products ================*/
.home-products {
  .products {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .product-item {
      width: 33.3333%;
      position: relative;
      overflow: hidden;

      @include media(sm) {
        width: 50%;

        &.product-item--hide-mobile {
          display: none;
        }
      }

      &:hover {
        a .image:after {
          opacity: 0.5;
        }

        .text-wrap {
          display: block;
        }
      }

      /*       &:nth-child(3n){
      @include media(sm) {
      display: none;
    }
    } */

      &.hide-text-hover {
        .text-wrap {
          display: none !important;
        }

        .image {
          &:after {
            display: none;
          }
        }
      }

      .image {

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: 0;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }

        img {
          display: block;
          width: 100%;
        }
      }

      .text-wrap {
        display: none;
        position: absolute;
        width: 100%;
        padding: 0 15px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        .title {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.3px;
          margin: 0;
          /*           @include media(xsm) {
          font-size: 16px;
        } */
        }

        .type {
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          /*           @include media(xsm) {
          font-size: 12px;
        } */
        }

        .price {
          font-size: 14px;
          letter-spacing: 0.3px;
          margin: 10px 0 0;
          /*           @include media(xsm) {
          font-size: 16px;
        } */

          .compare-price {
            position: relative;
            display: inline-block;
            font-size: 85%;

            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background: #fff;
              left: 0;
              top: 50%;
            }
          }

          .original-price {
            display: inline-block;
          }
        }
      }
    }
  }

  .sca-qv-button-wrap {
    display: none !important;
  }


  .products.products-1__items .product-item{
    width: 100%;
    padding-bottom: 80%;

    @include media(sm) {
      width: 50%;
      padding-bottom: 75%;

      &.product-item--hide-mobile {
        display: none;
      }
    }
  }

  .products.products-2__items .product-item{
    width: 50%;
    padding-bottom: 80%;

    @include media(sm) {
      width: 50%;
      padding-bottom: 75%;

      &.product-item--hide-mobile {
        display: none;
      }
    }
  }

  .products.products-3__items .product-item{
    width: 33.33333333333%;

    @include media(sm) {
      width: 50%;
      padding-bottom: 75%;

      &.product-item--hide-mobile {
        display: none;
      }
    }
  }

}

/*================ home-newsletter ================*/
.home-newsletter {
  padding: 60px 30px;
  @include media(md) {
    padding: 40px 30px;
  }
  @include media(sm) {
    padding: 30px 20px;
  }

  &.mobile-hide {
    @include media(sm) {
      display: none;
    }
  }

  .section-header {
    text-align: center;
    margin: 0 0 20px;

    .section-title {
      font-size: 45px;
      text-transform: none;
      margin: 0 0 10px;

      @include media(sm) {
        font-size: 30px;
      }
    }

    .section-subtitle {
      font-size: 16px;
      color: #9B9B9B;
    }
  }


  .home-newsletter-wrap {
    max-width: 430px;
    margin: 0 auto;

    form,
    form#contact_form {
      max-width: 300px;
      margin: 0 auto;

      .input-group {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 300px;


        .input-group-field {
          height: 35px;
          padding: 3px 12px 5px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: 1px solid #000;
          font-size: 15px;

          &::-webkit-input-placeholder {
            color: #D6CEC9;
          }
          &::-moz-placeholder {
            color: #D6CEC9;
          }
          &:-ms-input-placeholder {
            color: #D6CEC9;
          }
          &:-moz-placeholder {
            color: #D6CEC9;
          }
        }

        .input-group-btn {
          width: auto;
          -ms-flex-shrink: 0;
          flex-shrink: 0;
          min-width: 0;
          max-width: 100%;

          button {
            height: 35px;
            border: none !important;
            background: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 0.47px;
            width: 100%;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            padding: 1px 7px 4px;
            outline: none!important;

            &:hover {
              background: none;
            }

            .triangle-arrow {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 17px 0 17px 35px;
              border-color: transparent transparent transparent #ff0000;
            }
          }
        }
      }

      .errors {
        color: #b80000;
        font-size: 15px;
      }

      .note {
        font-size: 15px;

        &.form-success {
          color: #309444;
        }
      }

      .response-text {
        font-size: 13px;
        margin: 12px 0 0;
        display: block;

        &.error {
          color: #b80000;
        }

        &.success {
          color: #666;
        }
      }
    }
  }
}

/*================ Footer ================*/
#shopify-section-footer{
  margin-top: auto; 
}


footer.site-footer {
  padding: 40px 0;
  position: relative!important;
  vertical-align: middle;

  @include media(xsm) {
    padding: 40px 0;
  }

  .site-footer-wrap {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    @include media(xsm) {
      padding: 0 15px;
    }
  }

  .footer-main-menu{
    .footer-menu-links{
      margin: 0;

      li{
        display: inline-block;

        @include media(xsm) {
          display: block;
        }

        a{
          padding-right: 20px;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 12px;
          padding: 5px 20px 5px 0;
          display: inline-block;
        }
      }
    }
  }

  .footer-grid-wrap {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 35px;
    @include media(sm) {
      padding: 0 0 20px;
    }
    @include media(xsm) {
      padding: 0;
    }

    .grid-item {

      h3 {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        margin: 0 0 10px;
      }

      &.footer-newsletter {
        width: 50%;
        @include media(sm) {
          width: 100%;
          margin: 0 0 30px;
        }
        @include media(xsm) {
          margin: 0 0 15px;
        }

        .newsletter-wrap {
          max-width: 335px;

          form {


            .input-group {
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              max-width: 300px;

              .input-group-field {
                height: 35px;
                padding: 3px 12px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                border: 1px solid #000;
                font-size: 15px;

                &::-webkit-input-placeholder {
                  color: #D6CEC9;
                }
                &::-moz-placeholder {
                  color: #D6CEC9;
                }
                &:-ms-input-placeholder {
                  color: #D6CEC9;
                }
                &:-moz-placeholder {
                  color: #D6CEC9;
                }
              }

              .input-group-btn {
                width: 30%;
                -ms-flex-shrink: 0;
                flex-shrink: 0;
                min-width: 78px;
                max-width: 126px;

                button {
                  height: 35px;
                  border: none !important;
                  background: #000;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: 15px;
                  letter-spacing: 0.47px;
                  width: 100%;
                  -webkit-transition: all 0.25s ease-in-out;
                  -moz-transition: all 0.25s ease-in-out;
                  -o-transition: all 0.25s ease-in-out;
                  transition: all 0.25s ease-in-out;

                  &:hover {
                    background: #404040;
                  }
                }
              }
            }

            .errors {
              color: #b80000;
              font-size: 15px;
            }

            .note {
              font-size: 15px;

              &.form-success {
                color: #309444;
              }
            }

            .response-text {
              font-size: 15px;
              margin: 12px 0 0;
              display: block;

              &.error {
                color: #b80000;
              }

              &.success {
                color: #309444;
              }
            }
          }
        }
      }

      &.footer-menu {
        width: 16.6666%;
        padding: 0 15px;
        @include media(sm) {
          width: 50%;
          padding: 0 15px 30px 0;
        }

        ul {
          margin: 0;

          li {
            margin: 0 0 8px;

            a {
              font-size: 15px;
              color: #4a4a4a;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0;
    @include media(sm) {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-align-items: flex-start;
      align-items: flex-start;
    }

    .copyright {
      font-size: 13px;
      color: #9B9B9B;
      padding: 5px 0;

      @include media(sm) {
        margin: 0;
      }
      @include media(xsm) {
        margin: 0;
      }
    }

    .payment {
      ul {
        margin: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;

          i {
            font-size: 35px;
            color: #9B9B9B;

            &:before {
              display: block;
            }
          }
        }
      }
    }
  }
}

/*================ home-instagram  ================*/
.home-instagram {
  position: relative;

  .insta-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
    min-width: 240px;
    text-align: center;
    z-index: 2;
    font-size: 15px;
    letter-spacing: 0.58px;
    padding: 11px 15px;
    @include media(sm) {
      display: none;
    }
  }
}

#instafeed {
  float: none;
  margin-top: 0;

  &.owl-carousel {
    .owl-stage {
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}


.insta-holder {
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9;
}

#instafeed .slide{
  position: relative;
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 100%;
}

#instafeed .slide img{
  position: absolute;
  opacity: 0.8;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include media(md){
    opacity: 1;
  }
}

#instafeed .slide:hover img{
  opacity: 1;
}

#instafeed .slide:hover .insta-holder{
  opacity: 1;
}

.pic-info {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
}

.pic-info > * {
  margin: 0 10px;
}

.pic-info > * > i{
  margin: 0 3px;
}

.pic-info .like{
  display: inline-block;

  .icon-heart {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url({{ 'icon-heart.svg' | asset_url }});
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 3px -2px 0;
  }
}


.pic-info .comment{
  display: inline-block;

  .icon-comment {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url({{ 'icon-comment.svg' | asset_url }});
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 3px -2px 0;
  }
}


@media screen and (max-width: 992px){
  #instafeed .slide img{
    -webkit-filter: grayscale(0%);
    -webkit-transition: .25s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .25s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .25s ease-in-out;
  }
}








/*
* jQuery Selectric
* github: https://github.com/lcdsantos/jQuery-Selectric/tree/master/public
*/
$selectric-main-color:      #DDD !default;                                              // Color used in border
$selectric-secondary-color: #BBB !default;                                              // Color used in button
$selectric-text-color:      #444 !default;                                              // Color used in label
$selectric-bg-color:        #FFFFFF !default;                                           // Background color
$selectric-btn-bg-color:    #FFFFFF !default;                                           // Button background color
$selectric-height:          40px !default;                                              // Outer height
$selectric-spacing:         10px !default;                                              // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   0px !default;                                               // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       12px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: $selectric-border-width solid $selectric-main-color;
  border-radius: $selectric-border-radius;
  position: relative;
  overflow: hidden;
  @media only screen and (min-width: 641px) {
    min-width: 160px;
  }

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 35px 0 10px;
    font-size: 13px;
    line-height: 27px;
    height: 27px;
    user-select: none;
    text-transform: uppercase;
  }

  .button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: $selectric-inner-height;
    height: $selectric-inner-height;
    line-height: $selectric-inner-height;
    background-color: $selectric-btn-bg-color;
    color: $selectric-secondary-color;
    text-align: center;
    font: 0/0 a;
    *font: 20px/#{$selectric-inner-height} Lucida Sans Unicode, Arial Unicode MS, Arial;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $selectric-secondary-color;
      border-bottom: none;
    }
  }
}

.selectric-focus .selectric {
  border-color: darken($selectric-main-color, 20%);
}

.selectric-hover .selectric {
  border-color: darken($selectric-main-color, 10%);

  .button {
    color: darken($selectric-secondary-color, 10%);

    &:after {
      border-top-color: darken($selectric-secondary-color, 10%);
    }
  }
}

.selectric-open {
  z-index: 2;

  .selectric {
    border-color: darken($selectric-main-color, 10%);
  }

  .selectric-items {
    display: block;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $selectric-bg-color;
  border: 1px solid darken($selectric-main-color, 10%);
  z-index: -1;
  box-shadow: 0 0 10px -6px;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $selectric-font-size;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: 9px 10px;
    line-height: 1.1;
    color: #444;
    cursor: pointer;
    text-transform: uppercase;

    &.selected {
      background: #e6e6e6;
      color: #222;
    }

    &.highlighted {
      background: #e6e6e6;
      color: #222;
    }

    &:hover {
      background: #f1f1f1;
      color: #222;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}


/* Glitch styles */


.glitch {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}


.glitch:hover {
  cursor: pointer;
}

.glitch__img {
  position: absolute;
  //top: calc(-1 * var(--gap-vertical));
  //left: calc(-1 * var(--gap-horizontal));
  //width: calc(100% + var(--gap-horizontal) * 2);
  //height: calc(100% + var(--gap-vertical) * 2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--blend-color-1);
    background-size: cover;
    background-blend-mode: var(--blend-mode-1);
      }

.glitch__img.glitch-first{
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
}


/* Set the background colors for the glitch images*/
.glitch__img:nth-child(2) {
  background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
      }

.glitch__img:nth-child(3) {
  background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
      }

.glitch__img:nth-child(4) {
  background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
      }

.glitch__img:nth-child(5) {
  //background-color: var(--blend-color-5);
  background-color: transparent;
  opacity: 1;
  background-blend-mode: var(--blend-mode-5);
    }

/* Hide all images except the first one */
.glitch__img:nth-child(n+2) {
  opacity: 0;
}

/* Hovers */

/* On hover we show the 2nd, 3rd, 4th and 5th image*/
.glitch:hover .glitch__img:nth-child(n+2) {
  opacity: 1;
}

/* Hover animations for horizontal case */
.glitch:hover .glitch__img:nth-child(2) {
  transform: translate3d(var(--gap-horizontal),0,0);
    animation: glitch-anim-1-horizontal var(--time-anim) 1 linear alternate;
      }

.glitch:hover > .glitch__img:nth-child(3) {
  transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
    animation: glitch-anim-2-horizontal var(--time-anim) 1 linear alternate;
      }

.glitch:hover > .glitch__img:nth-child(4) {
  transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
    animation: glitch-anim-3-horizontal var(--time-anim) 1 linear alternate;
      }

/* Hover animations for vertical case */
.glitch--vertical:hover .glitch__img:nth-child(2) {
  transform: translate3d(0, var(--gap-vertical), 0);
    animation: glitch-anim-1-vertical var(--time-anim) 1 linear alternate;
      }

.glitch--vertical:hover > .glitch__img:nth-child(3) {
  transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0);
    animation: glitch-anim-2-vertical var(--time-anim) 1 linear alternate;
      }

.glitch--vertical:hover > .glitch__img:nth-child(4) {
  transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1,-1,1);
    animation: glitch-anim-3-vertical var(--time-anim) 1 linear alternate;
      }

/* Hover flash animation on last image */
.glitch:hover > .glitch__img:nth-child(5) {
  animation: glitch-anim-flash 0.5s steps(1,end) 1;
}


/* Animations */

/* Horizontal */
@keyframes glitch-anim-1-horizontal {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  10% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}

@keyframes glitch-anim-2-horizontal {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  15% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  22% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  31% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  45% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  51% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  63% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  76% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  81% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  94% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  100% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
}

@keyframes glitch-anim-3-horizontal {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  10% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  25% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  27% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  30% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  33% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  37% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  40% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  45% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  50% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  53% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  57% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  65% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  70% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  73% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  80% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}

/* Vertical */
@keyframes glitch-anim-1-vertical {
  0% {
    -webkit-clip-path: polygon(2% 0, 5% 0, 5% 100%, 2% 100%);
    clip-path: polygon(2% 0, 5% 0, 5% 100%, 2% 100%);
  }
  10% {
    -webkit-clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%);
    clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%);
  }
  20% {
    -webkit-clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
    clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
  }
  30% {
    -webkit-clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%);
    clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%);
  }
  40% {
    -webkit-clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%);
    clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%);
  }
  50% {
    -webkit-clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%);
    clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%);
  }
  60% {
    -webkit-clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%);
    clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%);
  }
  70% {
    -webkit-clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%);
    clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%);
  }
  80% {
    -webkit-clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%);
    clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%);
  }
  90% {
    -webkit-clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%);
    clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%);
  }
  100% {
    -webkit-clip-path: polygon(70% 0, 80% 0, 80% 100%, 70% 100%);
    clip-path: polygon(70% 0, 80% 0, 80% 100%, 70% 100%);
  }
}

@keyframes glitch-anim-2-vertical {
  0% {
    -webkit-clip-path: polygon(25% 0, 30% 0, 30% 100%, 25% 100%);
    clip-path: polygon(25% 0, 30% 0, 30% 100%, 25% 100%);
  }
  15% {
    -webkit-clip-path: polygon(3% 0, 3% 0, 3% 100%, 3% 100%);
    clip-path: polygon(3% 0, 3% 0, 3% 100%, 3% 100%);
  }
  22% {
    -webkit-clip-path: polygon(5% 0, 20% 0, 20% 100%, 5% 100%);
    clip-path: polygon(5% 0, 20% 0, 20% 100%, 5% 100%);
  }
  31% {
    -webkit-clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
    clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
  }
  45% {
    -webkit-clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%);
    clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%);
  }
  51% {
    -webkit-clip-path: polygon(52% 0, 59% 0, 59% 100%, 52% 100%);
    clip-path: polygon(52% 0, 59% 0, 59% 100%, 52% 100%);
  }
  63% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
    clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
  }
  76% {
    -webkit-clip-path: polygon(75% 0, 75% 0, 75% 100%, 75% 100%);
    clip-path: polygon(75% 0, 75% 0, 75% 100%, 75% 100%);
  }
  81% {
    -webkit-clip-path: polygon(65% 0, 40% 0, 40% 100%, 65% 100%);
    clip-path: polygon(65% 0, 40% 0, 40% 100%, 65% 100%);
  }
  94% {
    -webkit-clip-path: polygon(45% 0, 50% 0, 50% 100%, 45% 100%);
    clip-path: polygon(45% 0, 50% 0, 50% 100%, 45% 100%);
  }
  100% {
    -webkit-clip-path: polygon(14% 0, 33% 0, 33% 100%, 14% 100%);
    clip-path: polygon(14% 0, 33% 0, 33% 100%, 14% 100%);
  }
}

@keyframes glitch-anim-3-vertical {
  0% {
    -webkit-clip-path: polygon(1% 0, 3% 0, 3% 100%, 1% 100%);
    clip-path: polygon(1% 0, 3% 0, 3% 100%, 1% 100%);
  }
  5% {
    -webkit-clip-path: polygon(10% 0, 9% 0, 9% 100%, 10% 100%);
    clip-path: polygon(10% 0, 9% 0, 9% 100%, 10% 100%);
  }
  10% {
    -webkit-clip-path: polygon(5% 0, 6% 0 6% 100%, 5% 100%);
    clip-path: polygon(5% 0, 6% 0 6% 100%, 5% 100%);
  }
  25% {
    -webkit-clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
    clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
  }
  27% {
    -webkit-clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%);
    clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%);
  }
  30% {
    -webkit-clip-path: polygon(30% 0, 25% 0, 25% 100%, 30% 100%);
    clip-path: polygon(30% 0, 25% 0, 25% 100%, 30% 100%);
  }
  33% {
    -webkit-clip-path: polygon(15% 0, 16% 0, 16% 100%, 15% 100%);;
    clip-path: polygon(15% 0, 16% 0, 16% 100%, 15% 100%);
  }
  37% {
    -webkit-clip-path: polygon(40% 0, 39% 0, 39% 100%, 40% 100%);;
    clip-path: polygon(40% 0, 39% 0, 39% 100%, 40% 100%);
  }
  40% {
    -webkit-clip-path: polygon(20% 0, 21% 0, 21% 100%, 20% 100%);
    clip-path: polygon(20% 0, 21% 0, 21% 100%, 20% 100%);
  }
  45% {
    -webkit-clip-path: polygon(60% 0, 55% 0, 55% 100%, 60% 100%);
    clip-path: polygon(60% 0, 55% 0, 55% 100%, 60% 100%);
  }
  50% {
    -webkit-clip-path: polygon(30% 0, 31% 0, 31% 100%, 30% 100%);
    clip-path: polygon(30% 0, 31% 0, 31% 100%, 30% 100%);
  }
  53% {
    -webkit-clip-path: polygon(70% 0, 69% 0, 69% 100%, 70% 100%);
    clip-path: polygon(70% 0, 69% 0, 69% 100%, 70% 100%);
  }
  57% {
    -webkit-clip-path: polygon(40% 0, 41% 0, 41% 100%, 40% 100%);
    clip-path: polygon(40% 0, 41% 0, 41% 100%, 40% 100%);
  }
  60% {
    -webkit-clip-path: polygon(80% 0, 75% 0, 75% 100%, 80% 100%);
    clip-path: polygon(80% 0, 75% 0, 75% 100%, 80% 100%);
  }
  65% {
    -webkit-clip-path: polygon(50% 0, 51% 0, 51% 100%, 50% 100%);
    clip-path: polygon(50% 0, 51% 0, 51% 100%, 50% 100%);
  }
  70% {
    -webkit-clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%);
    clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%);
  }
  73% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
    clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
  }
  80% {
    -webkit-clip-path: polygon(100% 0, 99% 0, 99% 100%, 100% 100%);
    clip-path: polygon(100% 0, 99% 0, 99% 100%, 100% 100%);
  }
  100% {
    -webkit-clip-path: polygon(70% 0, 71% 0, 71% 100%, 70% 100%);
    clip-path: polygon(70% 0, 71% 0, 71% 100%, 70% 100%);
  }
}

@keyframes glitch-anim-text {
  0% {
    opacity: 1;
    transform: translate3d(-10px,0,0) scale3d(-1,-1,1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  10% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  20% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  35% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  50% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  70% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  80% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  90% {
    transform: translate3d(-10px,0,0) scale3d(-1,-1,1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Flash */
@keyframes glitch-anim-flash {
  0% {
    opacity: 0.5;
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
      }
  33%, 100% {
    opacity: 0;
    transform: translate3d(0,0,0);
  }
}


/*================ Page Blocks Section ================*/
.page-section{
  &.home-blocks .blocks .block-item{

    &.row_2_1{
      width: 50%;

      @include media(md){
        &.two{
          width: 50%;
        }

        &.one{
          width: 100%;
        }
      }
    }

    &.row_3_1{
      width: 33.3333333333%;

      @include media(md){
        &.two{
          width: 50%;
        }

        &.one{
          width: 100%;
        }
      }
    }

    &.row_4_1{
      width: 25%;

      @include media(md){
        &.two{
          width: 50%;
        }

        &.one{
          width: 100%;
        }
      }
    }

  }

}


/*================ Page Shoes ================*/
.shoes-landing-section {
  .home-slideshow {
    .slideshow {
      .slide-item {
        .image {
          &.image-desk {
            @include media(md) {
              display: none;
            }
          }

          &.image-mb {
            display: none;
            @include media(md) {
              display: block;
            }
          }
        }
      }
    }
  }
}


/*================ Notify Form ================*/
.notify-form{
  display: inline-block;
  width: 100%;

  .response-text{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 0;



    &.error{
      color: #ff0000;
      float: left;
      font-size: 13px;
      text-align: center;
      width: 100%;
    }

    &.success{
      float: left;
      font-size: 13px;
      text-align: center;
      width: 100%;
    }
  }
}

.notify-form__wrapper{
  h5{
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  margin: 10px 0;

  .button{
    width: 100%;
    margin-top: 10px;
  }

  select{
    width: 100%!important;
    border: 1px solid #ddd!important;
    border-radius: 3px!important;
  }

  input{
    margin: 0 0 10px;
    width: 100%;
  }
}

.notify__trigger {
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
  margin: 0 0 20px;
  display: block!important;
}

#notify-soldout__popup{
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 60px 50px;
  position: relative;
}

.mfp-ready{
  #notify-soldout__popup{
    display: block!important;
  }
}

@media screen and (max-width: 767px){
  #notify-soldout__popup{
    padding: 30px;
  }
}

@media screen and (max-width: 767px){
  #notify-soldout__popup{
    padding: 30px 20px;
  }
}


.instagram-page{
  padding: 50px 0;
  margin-top: 150px;

  @media screen and (max-width: 992px){
    margin-top: 0; 
  }

  .instagram-wrapper{
    margin-top: 50px; 

    @media screen and (max-width: 767px){
      margin-top: 20px; 
    }
  }

  h1{
    font-family: 'Helvetica Neue LT Pro';
    margin: 0;
    line-height: 1;
    font-size: 81px;
    font-weight: 900;
    letter-spacing: -1.8px;

    @media screen and (max-width: 992px){
      font-size: 40px;
      letter-spacing: -2px;
    }

    @media screen and (max-width: 767px){
      font-size: 30px;
      letter-spacing: -1px;
    }
  }

  h2{
    font-family: 'Helvetica Neue LT Pro';
    margin: 0;
    font-size: 70px;
    line-height: 54px;
    letter-spacing: -0.8px;

    @media screen and (max-width: 992px){
      margin: 0;
      font-size: 30px;
      line-height: 23px;
      letter-spacing: -0.8px;
    }

    @media screen and (max-width: 767px){
      margin: 0;
      font-size: 24px;
      line-height: 20px;
      letter-spacing: -0.8px;
    }

  }
}


.sticky-button-wrap{
  .home-sticky-buttons{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    text-align: center;
  }
  .btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
    border: 2px solid currentColor;
    color: #ff0000;
    height: 50px;
    width: auto;
    text-align: center;
    padding: 12px 30px;
    background: transparent;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    @include media(md) {
      padding: 12px 20px;
      letter-spacing: 1px;
      line-height: 24px;
    }
    @media screen and (max-width: 768px){
      display: inline-flex;
      flex-direction: column;
    }
    @include media(xsm) {
      font-size: 13px;
    }

    &:hover {
      background: #ff0000;
      color: #fff;
      border-color: #ff0000;
    }
  }
}

.audio-player {
  width: 250px;
  font-family: arial;
  color: white;
  font-size: 0.95em;
  display: grid;
  grid-template-rows: 6px auto;

  @media screen and (max-width: 768px){
    width: 200px;
    margin: 30px auto 0;
    font-size: 0.75em;
  }

  .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 1px;
    .progress {
      background: red;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0 0 20px;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle-play {
      &.play {
        cursor: pointer;
        position: relative;
        left: 0;
        height: 0;
        width: 0;
        border: 12px solid #0000;
        border-left: 20px solid white;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.pause {
        height: 15px;
        width: 20px;
        cursor: pointer;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: 0px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 8px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .time {
      display: flex;
      margin-left: -30px;

      @media screen and (max-width: 768px){
        margin-left: -20px;
      }

      > * {
        padding: 2px;
      }
    }
    .volume-container {
      cursor: pointer;
      .volume-button {
        height: 26px;
        display: flex;
        align-items: center;
        svg{
          height: 26px;
          width: 26px;
          fill: #fff; 
        }

        .volume {
          transform: scale(0.7);
        }
      }

      position: relative;
      z-index: 2;
      .volume-slider {
        position: absolute;
        left: -3px; 
        top: 11px;
        z-index: -1;
        width: 0;
        height: 3px;
        background: white;
        transition: .25s;

        .volume-percentage {
          background: red;
          height: 100%;
          width: 75%;
        }
      }
      &:hover {
        .volume-slider {
          left: -123px;
          width: 120px;
        }
      }
    }
  }
}



#dpd-plugin{
  display: block;
  width: 100%;
  float: left;

  .sw-buttons .sw-btn {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    padding: 15px 30px;
    min-width: 200px;
  }

  img{
    max-width: 250px; 
  }

  &.sw-snippet{
    color: #000; 

    h2{
      text-transform: uppercase;
      color: #000;
    }
  }


}



