(document.addEventListener("DOMContentLoaded", ()=> {

  const setText = () => {
    
    const settings = {
      addToCartLabel: {{ 'products.product.add_to_cart' | t | json }},
      preOrderAddToCartLabel: {{ 'products.product.add_to_preorder' | t | json }}
    }

    var element = document.querySelector(".form-control>select");
    var val = element.options[element.selectedIndex].value;
    
    const quolity = document.querySelector(`.form-control>select [value='${val}']`).dataset.inventory_quantity
    if(quolity > 0){
      document.querySelector('#button-add-to-cart').textContent = settings.addToCartLabel
    }else{
      document.querySelector('#button-add-to-cart').textContent = settings.preOrderAddToCartLabel
    }
    
  }
  
  setText()
  
  Array.from(document.querySelectorAll('select')).forEach((e)=>{
    e.addEventListener('change', setText)
  })
  

}))