// We hide the Instagram Feed on IE8 because it's not supported

.index-module.instagram-feed {
  display: none;
}

.index .marketing-module {
  {%if settings.index_marketing_module_layout == "1" %}
    img {
      width: 29%;
    }
  {%else %}
    img {
      width: 48%;
    }
  {%endif%}
}

// Remove overlay as IE8 does not support opacity

.featured-collections .collection-list-item .overlay {
  display: none;
}