@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@100;300;600;700;900&display=swap');

#klaviyo-bis-modal {
  font-family: 'Arimo', sans-serif;
}

#klaviyo-bis-modal .btn.btn-success {
  text-transform: uppercase;
}
