{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% capture custom_page_title %}
  {% comment %}ly_i18n_replace_for_[ 'general.404.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134464' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
{% endcapture %}

  <div class="error-404 push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'general.404.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134464' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
      </header>
    </div>
  </div>


<div class="error-404">
  <div class="container">
    <div class="inner">
      <p class="box-404">404</p>

      <p class="error-404-subtext">
        {% comment %}ly_i18n_replace_for_[ 'general.404.subtext' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.subtext' | t }}{% endcapture %}{% include 'ly-static-string' with '15134467' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </p>

      <button class="button button-primary">
        {% comment %}ly_i18n_replace_for_[ 'general.404.button_text' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.button_text' | t }}{% endcapture %}{% include 'ly-static-string' with '15134471' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </button>
    </div>
  </div>
</div><script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>