{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% capture custom_page_title %}
  {% comment %}ly_i18n_replace_for_[ 'blog.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134480' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
{% endcapture %}

  <div class="blog push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <div class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'blog.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134480' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
      </div>
    </div>
  </div>


<div class="blog full-article">
  <div class="container">
    <div class="inner">
      <article class="article" itemscope itemtype="//schema.org/BlogPosting">
        <meta itemprop="articleSection" content="{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
        <meta itemprop="keywords" content="{{ article.tags | join: ', ' }}">

        {% include 'article-header' %}

        <section class="article-content rte" itemprop="articleBody">
          {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </section>

        {% if settings.blog_share_buttons_enabled %}
          <aside class="article-share">
            <p>{% comment %}ly_i18n_replace_for_[ 'blog.article.share' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.share' | t }}{% endcapture %}{% include 'ly-static-string' with '15134483' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
            {% include 'share-buttons' %}
          </aside>
        {% endif %}

        <div class="article-navigation">
          {% if blog.next_article %}
            <a href="{{ blog.next_article }}" class="button button-primary left" rel="prev">{% comment %}ly_i18n_replace_for_[ 'blog.article.next' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.next' | t }}{% endcapture %}{% include 'ly-static-string' with '15134484' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          {% endif %}

          {% if blog.previous_article %}
            <a href="{{ blog.previous_article }}" class="button button-primary right" rel="next">{% comment %}ly_i18n_replace_for_[ 'blog.article.previous' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.previous' | t }}{% endcapture %}{% include 'ly-static-string' with '15134486' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          {% endif %}
        </div>

        {% include 'article-comments' %}
      </article>

      {% include 'blog-sidebar' %}
    </div>
  </div>
</div>