{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="blog push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <div class="page-header">
        <!--<h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'blog.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134494' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>-->
        {% if current_tags.size > 0 %}
          <ul class="tag-filters unstyled-list">
            {% for tag in current_tags %}
              <li class="active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>


<div class="blog">
  <div class="container">
    <div class="inner">
      <div class="article-list">
        {% paginate blog.articles by settings.blog_articles_per_page %}
          {% for article in blog.articles %}
            <article class="article {% if forloop.last %}last{% endif %}">
              {% include 'article-header' %}

              <section class="article-content rte">
                {% if settings.blog_article_display_mode == 'excerpt' %}
                  {% comment %}ly_code_replace_for_[ article.excerpt_or_content ]_begin{% endcomment %}{% include 'ly-excerpt_or_content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                {% else %}
                  {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                {% endif %}
              </section>

              <a href="{{ article.url }}" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'blog.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blog.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '15134495' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            </article>
          {% endfor %}

          {% include 'pagination' %}

        {% endpaginate %}
      </div>

      {% include 'blog-sidebar' %}
    </div>
  </div>
</div>
