{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="cart push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'cart.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134517' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
      </header>
    </div>
  </div>


<div id="cart" class="cart">
  <div class="container">
    <div class="inner {% if cart.item_count == 0 %}empty{% endif %}">
      {% if cart.item_count == 0 %}
        <p class="empty-cart">{% comment %}ly_i18n_replace_for_[ 'cart.general.empty' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.empty' | t }}{% endcapture %}{% include 'ly-static-string' with '15134518' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        <a href="{{ shop.url }}" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'cart.general.continue_shopping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.continue_shopping' | t }}{% endcapture %}{% include 'ly-static-string' with '15134519' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      {% else %}
        <form action="/cart{% comment %}ly_checkout_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" method="POST">
          {% include 'cart-items-table' %}

          {% include 'cart-shipping-estimator' %}

          {% if settings.currency_conversion_enabled %}
           
          {% endif %}

          <p class="cart-total"><ly-as-15134516>Total</ly-as-15134516><span class="money">
            <span class="saso-cart-original-total">{{ cart.total_price | money }}</span>
            <span class="saso-cart-total"></span>
            </span></p>

          {% if settings.cart_note_enabled %}
            <div class="cart-instructions">
              <p>
                <label for="cart-note">{% comment %}ly_i18n_replace_for_[ 'cart.general.note' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.note' | t }}{% endcapture %}{% include 'ly-static-string' with '15134520' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <textarea id="cart-note" rows="4" name="note">{{ cart.note }}</textarea>
              </p>
            </div>
          {% endif %}

          <div class="cart-checkout">
            {% if settings.cart_terms_enabled %}
              <div class="form-control cart-terms">
                <input type="checkbox" id="terms-checkbox" />

                {% assign page = pages[settings.cart_terms_page] %}

                {% if page.handle != blank %}
                  <label for="terms-checkbox">{% comment %}ly_i18n_replace_for_[ 'cart.terms.title_with_page_html' | t: link: page.url ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.terms.title_with_page_html' | t: link: page.url }}{% endcapture %}{% include 'ly-static-string' with '15134522' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = page.url  %}{% assign ly_template = ly_template | replace: '[[link]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                {% else %}
                  <label for="terms-checkbox">{% comment %}ly_i18n_replace_for_[ 'cart.terms.title_without_page' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.terms.title_without_page' | t }}{% endcapture %}{% include 'ly-static-string' with '15134523' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                {% endif %}
              </div>
            {% endif %} 

            <input type="submit" name="checkout" value="{% comment %}ly_i18n_replace_for_[ 'cart.general.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '15134524' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" class="checkout-btn button button-primary">

            {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">
                <p>{% comment %}ly_i18n_replace_for_[ 'cart.general.checkout_with' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.checkout_with' | t }}{% endcapture %}{% include 'ly-static-string' with '15134525' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}
           
          </div>
           {% include 'dpd-plugin' %}
        </form>
      
      {% endif %}
      
      	{% include 'cross-sell' %}
    </div>
  </div>
</div>

<style>
  div.additional-checkout-buttons {
   display: none !important; 
  }
  
  .btn.sd_partialpayment.sd_cartbtn {
   margin-left: 0px !important; 
  }
</style>