{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="collection push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}

        {% if settings.collection_products_show_count %}
          {% if current_tag %}
            {% assign counter = 0 %}
            {% for product in collection.products %}
              {% if product.tags contains current_tag %}
                {% assign counter = counter | plus: 1 %}
              {% endif %}
            {% endfor %}

            <span class="all-product-count">{% comment %}ly_i18n_replace_for_[ 'collection.general.products_with_count' | t: count: counter ]_begin{% endcomment %}{% if counter  == 0 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: counter }}{% endcapture %}{% include 'ly-static-string' with '15134545' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = counter  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif counter  == 1 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: counter }}{% endcapture %}{% include 'ly-static-string' with '15134544' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = counter  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif counter  == 2 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: counter }}{% endcapture %}{% include 'ly-static-string' with '15134545' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = counter  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: counter }}{% endcapture %}{% include 'ly-static-string' with '15134545' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = counter  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% else %}
            <span class="all-product-count">{% comment %}ly_i18n_replace_for_[ 'collection.general.products_with_count' | t: count: collection.all_products_count ]_begin{% endcomment %}{% if collection.all_products_count  == 0 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '15134549' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 1 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '15134548' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 2 %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '15134549' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'collection.general.products_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '15134549' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}
        {% endif %}
      </div>
      
      <div class="page-header collection-filter__header">
        <h1 class="page-title hide">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

        {% assign count_tags = 0 %}
        {% assign array_tags = settings.collection_tag_filters | split: ',' %}
        {% assign collection_tags = collection.tags | downcase %}
        {% assign cur_tags = current_tags | downcase %}

        {% for tag in collection.all_tags %}
          {% comment %}We want to do not count filter that contains __{% endcomment %}

          {% unless tag contains '__' %}
            {% assign count_tags = count_tags | plus: 1 %}
          {% endunless %}
        {% endfor %}
        

        {% if array_tags.size > 0 %}
        <div class="styled-select filters">
          <select>
            <option value="/collections/{{ collection.handle }}" {% if cur_tags.size == 0 %}selected="selected"{% endif %}>{% comment %}ly_i18n_replace_for_[ 'collection.filters.no_tag_selected' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.filters.no_tag_selected' | t }}{% endcapture %}{% include 'ly-static-string' with '15134552' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>

            {% for t in array_tags %}
            {% assign tag = t | strip | downcase %}
           
            {% unless tag contains '__' %}
            {% assign tag_url = tag | link_to_tag:tag | split: 'href=' %}
            {% assign to_remove = '>' | append: tag %}
            <option value={{ tag_url[1] | remove: to_remove | strip_html }} {% if cur_tags contains tag %}selected="selected"{% endif %}>{{ tag | capitalize }}</option>
            {% endunless %}
            
            {% endfor %}
          </select>
        </div>
        {% elsif count_tags > 0 and settings.collection_enable_tag_filters %}
          {% if count_tags < 5 %}
            <ul class="tag-filters">
              {% for tag in collection.all_tags %}
                {% comment %}
                We reserve all the tags that begin with __ for some specific features of our theme, and therefore do not show
                them as potential filters
                {% endcomment %}

                {% unless tag contains '__' %}
                {% if cur_tags contains tag %}
                  <li class="active">
                    {{ tag | link_to_remove_tag: tag }}
                  </li>
                {% else %}
                  <li>
                    {{ tag | link_to_tag: tag }}
                  </li>
                {% endif %}
                {% endunless %}
              {% endfor %}
            </ul>
          {% else %}
            <div class="styled-select filters">
              <select>
                <option value="/collections/{{ collection.handle }}" {% if cur_tags.size == 0 %}selected="selected"{% endif %}>{% comment %}ly_i18n_replace_for_[ 'collection.filters.no_tag_selected' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.filters.no_tag_selected' | t }}{% endcapture %}{% include 'ly-static-string' with '15134552' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>

                {% for tag in collection.all_tags %}
                  {% unless tag contains '__' %}
                  {% comment %}
                  Shopify does not offer any url_for_tag filter yet, so we need to be a bit hacky
                  {% endcomment %}

                  {% assign tag_url = tag | link_to_tag:tag | split: 'href=' %}
                  {% assign to_remove = '>' | append: tag %}
                  <option value={{ tag_url[1] | remove: to_remove | strip_html }} {% if cur_tags contains tag %}selected="selected"{% endif %}>{{ tag }}</option>
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          {% endif %}
        {% endif %}


        {% if settings.collection_enable_sort_by %}
          <div class="sort">
            <p class="sort-by-title">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.featured' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.featured' | t }}{% endcapture %}{% include 'ly-static-string' with '15134553' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

            <div class="styled-select">
              <select id="sort-by">
                <option value="manual">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.featured' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.featured' | t }}{% endcapture %}{% include 'ly-static-string' with '15134553' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="price-ascending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.price_ascending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.price_ascending' | t }}{% endcapture %}{% include 'ly-static-string' with '15134554' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="price-descending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.price_descending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.price_descending' | t }}{% endcapture %}{% include 'ly-static-string' with '15134555' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <!--<option value="title-ascending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.az' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.az' | t }}{% endcapture %}{% include 'ly-static-string' with '15134556' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="title-descending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.za' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.za' | t }}{% endcapture %}{% include 'ly-static-string' with '15134557' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="created-ascending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.date_ascending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.date_ascending' | t }}{% endcapture %}{% include 'ly-static-string' with '15134558' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="created-descending">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.date_descending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.date_descending' | t }}{% endcapture %}{% include 'ly-static-string' with '15134559' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                <option value="best-selling">{% comment %}ly_i18n_replace_for_[ 'collection.sorting.best_selling' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.sorting.best_selling' | t }}{% endcapture %}{% include 'ly-static-string' with '15134560' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>-->
              </select>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>


<div class="collection">
  
  <div class="container">
    <div class="inner">
      {% if collection.description != blank %}
        <div class="collection-description rte">
          {% comment %}ly_code_replace_for_[ collection.description ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      {% endif %}

      {% assign number_of_elements = settings.collection_number_of_rows | times: settings.collection_items_per_row %}

      {% paginate collection.products by number_of_elements %}
        <ul class="product-list">
          {% assign items_per_row = settings.collection_items_per_row %}

          {% for product in collection.products %}
            {% capture modulo %}{{ forloop.index | modulo:settings.collection_items_per_row }}{% endcapture %}

            <li class="product-list-item grid-item {% if modulo == '1' %}first{%endif%}">
              {% include 'product-list-item' %}
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          {% if settings.collection_loading_mode == 'pagination' %}
            <footer>
              {% include 'pagination' %}
            </footer>
          {% else %}
            {% comment %}
            The next page is encoded as part of a data-attribute. We then use the Shopify feature that allows to
            have specific templates with the view attribute to do an Ajax call
            {% endcomment %}

            <span class="infinite-scrolling-loader" data-next-page="{{ paginate.next.url }}&view=infinite-scroll">
              {% comment %}ly_i18n_replace_for_[ 'collection.general.loading' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.general.loading' | t }}{% endcapture %}{% include 'ly-static-string' with '15134561' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            </span>
          {% endif %}
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {

  });
</script>
