{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% layout none %}
{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
{% assign formatted_initial_value_stripped = formatted_initial_value | strip_html %}

<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: langify_shop_name ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: langify_shop_name }}{% endcapture %}{% include 'ly-static-string' with '15135711' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = formatted_initial_value_stripped %}{% assign ly_template = ly_template | replace: '[[value]]', replacement %}{% assign replacement = langify_shop_name  %}{% assign ly_template = ly_template | replace: '[[shop]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</title>
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    {% if settings.favicon_enabled %}
      <link rel="shortcut icon" href="{% comment %}ly_asset_replace_for_[ 'favicon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'favicon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" type="image/png" />
    {% endif %}

    {% if settings.apple_touch_icon_enabled %}
      <link rel="apple-touch-icon" sizes="144x144" href="{% comment %}ly_asset_replace_for_[ 'apple_touch_icon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'apple_touch_icon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
    {% endif %}

    {% assign google_font_url = '' %}

    {% if settings.header_logo_custom_font != blank %}
      {% assign words = settings.header_logo_custom_font | split: ',' %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace: ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endif %}

    {% if settings.main_content_custom_font != blank %}
      {% assign words = settings.main_content_custom_font | split: ',' %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace ' ', '+' | replace: "'", '' | append: ':400, :600, :700' %}
    {% endif %}

    {% if settings.headline_custom_font != blank %}
      {% assign words = settings.headline_custom_font | split: ',' %}
      {% assign google_font_url = google_font_url | append: '|' | append: words.first | replace ' ', '+' | replace: "'", '' | append: ':700' %}
    {% endif %}

    {% if google_font_url != blank %}
      {{ google_font_url | remove_first : '|' | prepend: '//fonts.googleapis.com/css?family=' | stylesheet_tag }}
    {% endif %}

    {% comment %}ly_asset_replace_for_[ 'theme.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  </head>

  <body>
    <header role="banner" style="text-align: center;">
      <div class="container">
        <h1 class="header-logo">
          {% if settings.header_use_logo %}
            <a href="/">
              <img class="logo-image" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ langify_shop_name }}">
            </a>
          {% else %}
            <a href="/">{{ langify_shop_name }}</a>
          {% endif %}
        </h1>
      </div>
    </header>

    <main role="main" class="gift-card">
      <div class="container">
        <div class="gift-card-illustration">
          <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration">
        </div>

        <div class="gift-card-details">
          <h2 class="gift-card-issued-text">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.issued_text' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.issued_text' | t }}{% endcapture %}{% include 'ly-static-string' with '15134668' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

          <span class="gift-card-amount">
              {% if gift_card.balance != gift_card.initial_value %}
                {{ gift_card.balance | money }} {{ 'gift_cards.issued.left_balance' }}
              {% else %}
                {{ formatted_initial_value }}
              {% endif %}
          </span>

          <p class="gift-card-instructions">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.redeem' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.redeem' | t }}{% endcapture %}{% include 'ly-static-string' with '15134669' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

          <span class="gift-card-code" id="gift-card-digits" onclick="selectText('gift-card-digits');">{{ gift_card.code }}</span>

          {% capture expiry_date %}{{ gift_card.expires_on | date: format: "month_day_year" }}{% endcapture %}

          {% unless gift_card.enabled %}
            <p class="gift-card-expires-at">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.disabled' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.disabled' | t }}{% endcapture %}{% include 'ly-static-string' with '15134670' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
          {% endunless %}

          {% if gift_card.expires_on %}
            <p class="gift-card-expires-at">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.expired' | t: expiry: expiry_date ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.expired' | t: expiry: expiry_date }}{% endcapture %}{% include 'ly-static-string' with '15134673' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = expiry_date  %}{% assign ly_template = ly_template | replace: '[[expiry]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
          {% endif %}

          <div class="gift-card-actions">
            <a href="#" class="button button-primary" onclick="window.print();">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.print' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.print' | t }}{% endcapture %}{% include 'ly-static-string' with '15134676' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            <a href="{{ shop.url }}" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'gift_cards.issued.shop_link' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'gift_cards.issued.shop_link' | t }}{% endcapture %}{% include 'ly-static-string' with '15134678' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </div>
        </div>
      </div>
    </main>

    <script type="text/javascript">
      /*============================================================================
       Auto-select gift card code on click, based on ID passed to the function
       - Use a different method depending on IE or others
       ==============================================================================*/
      function selectText(element) {
        var doc = document,
            text = doc.getElementById(element),
            range = null;

        if (doc.body.createTextRange) { // ms
          range = doc.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) { // moz, opera, webkit
          var selection = window.getSelection();

          range = doc.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);
        }
      }
    </script>
  </body>
</html>