{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{{ content_for_index }}

<div class="home">
  {% if shop.products_count == 0 %}
    {% include 'welcome-placeholder' %}
  {% else %}
    {% if settings.index_marketing_module_enabled %}
      <section class="container marketing-module">
        <div>
          {% if settings.index_marketing_module_layout == "1" %}
            <a href="{{ settings.index_marketing_module_image_1_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_1.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_1_alt }}" class="first"></a>
            <a href="{{ settings.index_marketing_module_image_2_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_2_alt }}" class="second"></a>
            <a href="{{ settings.index_marketing_module_image_3_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_3.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_3_alt }}" class="third"></a>
          {% elsif settings.index_marketing_module_layout == "2" %}
            <a href="{{ settings.index_marketing_module_image_1_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_1.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_1_alt }}" class="first"></a>
            <a href="{{ settings.index_marketing_module_image_2_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_2_alt }}" class="second"></a>
          {% elsif settings.index_marketing_module_layout == "3" %}
            <a href="{{ settings.index_marketing_module_image_3_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_3.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_3_alt }}" class="third"></a>
            <a href="{{ settings.index_marketing_module_image_1_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_1.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_1_alt }}" class="first"></a>
            <a href="{{ settings.index_marketing_module_image_2_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_2_alt }}" class="second"></a>
          {% else %}
            <a href="{{ settings.index_marketing_module_image_1_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_1.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_1.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_1_alt }}" class="first"></a>
            <a href="{{ settings.index_marketing_module_image_2_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_2.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_2.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_2_alt }}" class="second"></a>
            <a href="{{ settings.index_marketing_module_image_3_link }}"><img src="{% comment %}ly_asset_replace_for_[ 'index_marketing_module_image_3.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'index_marketing_module_image_3.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" alt="{{ settings.index_marketing_module_image_3_alt }}" class="third"></a>
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% assign positions = settings.index_modules_order | split: '-' %}

    {% for pos in positions %}
      {% case pos %}

      {% when 'A' %}
        {% if settings.index_newest_products_collection %}
          <section class="index-module new-products">
            <div class="container">

              {% assign collection = collections[settings.index_newest_products_collection] %}

              {% if settings.index_show_newest_products_title %}
                <p class="index-section-title">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
              {% endif %}

              <div class="inner">
                <ul class="product-list">

                  {% assign items_per_row = settings.index_newest_products_items_per_row %}

                  {% for product in collection.products %}
                    {% capture modulo %}{{ forloop.index | modulo:settings.index_newest_products_items_per_row }}{% endcapture %}

                    <li class="product-list-item grid-item {% if modulo == '1' %}first{%endif%}">
                      {% include 'product-list-item' %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>            
          </section>
        {% endif %}

      {% when 'B' %}
        {% if settings.index_featured_products_collection %}
          <section class="index-module featured-products">
            <div class="container">
              {% assign collection = collections[settings.index_featured_products_collection] %}

              {% if settings.index_show_featured_products_title %}
                <h2 class="index-section-title">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
              {% endif %}

              <div class="inner">
                <ul class="product-list">
                  {% assign items_per_row = settings.index_featured_products_items_per_row %}

                  {% for product in collection.products %}
                    {% capture modulo %}{{ forloop.index | modulo:settings.index_featured_products_items_per_row }}{% endcapture %}

                    <li class="product-list-item grid-item {% if modulo == '1' %}first{%endif%}">
                      {% include 'product-list-item' %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        {% endif %}

      {% when 'C' %}
        {% if settings.index_featured_collections_handle %}
          <section class="index-module featured-collections">
            <div class="container">
              {% assign linklist = linklists[settings.index_featured_collections_handle] %}

              {% if settings.index_featured_collections_show_section_title %}
                <h2 class="index-section-title">{% comment %}ly_code_replace_for_[ linklist.title ]_begin{% endcomment %}{% include 'ly-title' with linklist %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
              {% endif %}

              <div class="inner">
                <ul class="collection-list">
                  {% assign items_per_row = settings.index_featured_collections_items_per_row %}
                  {% assign show_collection_title = settings.index_featured_collections_show_collection_title %}
                  {% assign show_products_count = settings.index_featured_collections_show_products_count %}

                  {% for link in linklist.links %}
                    {% if link.type == 'collection_link' %}
                      {% assign collection = link.object %}
                      {% capture modulo %}{{ forloop.index | modulo:settings.index_featured_collections_items_per_row }}{% endcapture %}

                      <li class="collection-list-item grid-item {% if modulo == '1' %}first{%endif%}">
                        {% include 'collection-list-item' %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        {% endif %}

      {% when 'D' %}
        {% if settings.index_free_text_1_handle %}
          <section class="index-module free-text-module-1">
            <div class="container">
              {% assign page = pages[settings.index_free_text_1_handle] %}

              {% if settings.index_free_text_1_show_title %}
                <h2 class="index-section-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
              {% endif %}
              <div class="rte txtmod">
                <p class="index-section-title" style="font-size:14px; margin-bottom:5px; float: left;visibility: hidden;"><ly-as-15134684>MAN SELECTION</ly-as-15134684></p>
                <div class="free-text-module-content">
                  {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </div>
              </div>
              <div class="instaHomeContainer">
              <p class="index-section-title" style="font-size:14px;margin-bottom:5px;line-height: 1.5;float: left;"> <ly-as-15134686>SEEN ON INSTAGRAM</ly-as-15134686></p>
                <div class="authentipix" data-id="1372" ></div>
              </div>
              <div style="clear:both;"></div>
            </div>
          </section>
        {% endif %}

      {% when 'E' %}
        {% if settings.index_free_text_2_handle %}
          <section class="index-module free-text-module-2">
            <div class="container">
              {% assign page = pages[settings.index_free_text_2_handle] %}

              {% if settings.index_free_text_2_show_title %}
                <h2 class="index-section-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
              {% endif %}
              <div class="rte">
                <div class="free-text-module-content">
                  {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </div>
              </div>
            </div>
          </section>
        {% endif %}

      {% when 'F' %}
        {% if settings.index_latest_posts_blog_handle %}
          <section class="index-module latest-posts">
            <div class="container">
              {% if settings.index_latest_posts_show_title %}
                <h2 class="index-section-title">{% comment %}ly_i18n_replace_for_[ 'index.modules.blog_posts_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.blog_posts_title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134687' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
              {% endif %}

              <div class="inner">
                <ul class="article-excerpt-list">
                  {% assign items_per_row = settings.index_latest_posts_items_per_row %}

                    {% for article in blogs[settings.index_latest_posts_blog_handle].articles limit: settings.index_latest_posts_number_of_articles %}
                      {% capture modulo %}{{ forloop.index | modulo:settings.index_latest_posts_items_per_row }}{% endcapture %}

                      <li class="article-excerpt-list-item grid-item {% if modulo == '1' %}first{%endif%}">
                        {% include 'index-article-list-item' %}
                      </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </section>
        {% endif %}

      {% when 'G' %}
        {% if settings.newsletter_form_action != blank %}
          <section class="index-module newsletter-module">
            <div class="container">
              {% if settings.index_newsletter_show_title %}
                <h2 class="index-section-title">{% comment %}ly_i18n_replace_for_[ 'index.modules.newsletter_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.newsletter_title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134688' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
              {% endif %}

              <div class="inner">
                <p class="subtitle">{% comment %}ly_i18n_replace_for_[ 'index.modules.newsletter_subtitle' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.newsletter_subtitle' | t }}{% endcapture %}{% include 'ly-static-string' with '15134691' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

                <div class="newsletter-module-form">
                  <form action="{{ settings.newsletter_form_action }}" method="post">
                    <div class="newsletter-email">
                      <input type="email" name="EMAIL" placeholder="{% comment %}ly_i18n_replace_for_[ 'index.modules.newsletter_input_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.newsletter_input_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134692' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                      <input type="submit" class="button button-newsletter-module" value="{% comment %}ly_i18n_replace_for_[ 'index.modules.newsletter_submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.newsletter_submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15134694' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        {% endif %}

      {% when 'H' %} 
  {% comment %}
        {% if settings.instagram_access_token != blank %}
          <section class="index-module instagram-feed">
            {% capture instagram_module %} 
              {% if settings.index_instagram_show_title %}
                <h2 class="index-section-title {% if settings.index_instagram_full_width %}container{% endif %}">
                  <i class="icon-instagram"></i> {% comment %}ly_i18n_replace_for_[ 'index.modules.instagram_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.instagram_title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134696' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}

                  {% assign instagram_page = pages['instagram-feed'] %}

                  {% if instagram_page.handle != blank %}
                    <a href="{{ instagram_page.url }}" class="instagram-see-all">{% comment %}ly_i18n_replace_for_[ 'index.modules.instagram_see_all' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'index.modules.instagram_see_all' | t }}{% endcapture %}{% include 'ly-static-string' with '15134698' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                  {% endif %}
                </h2>
              {% endif %}

              <div class="inner">
                <div id="instafeed"></div>
              </div>
            {% endcapture %}

            {% if settings.index_instagram_full_width %}
              {{ instagram_module }}
            {% else %}
              
            {% endif %}
          </section>
        {% endif %}
  {% endcomment %}
      {% endcase %}
    {% endfor %}
  {% endif %}
</div>


<!-- <script>
  jQuery(function($) {
    var $instaContainer = $('.instaHomeContainer .authentipix'),
        carouselCheck = false,
        containerCheck = false;
    $instaContainer.unbind();
    $instaContainer.click(function (e) {
      var $carousel = $(this).find('.caroufredsel_wrapper');
      if(!containerCheck) {
        $carousel.click(function (e) {
          window.location.href = '/pages/instagram-feed';
          carouselCheck = true;
        });
        if(!carouselCheck) {
          $carousel.click();
        }
      }
      containerCheck = true;
      e.stopPropagation();
    });
  });
</script> -->