{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% capture custom_page_title %}
  {{ 'collections.title' | t }}
{% endcapture %}

<div class="collections">
  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
    </div>

    <div class="page-header">
      <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'collections.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134713' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
    </div>

    <div class="inner">
      {% assign collection_linklist = linklists[settings.collection_list_linklist] %}

      <ul class="collection-list">
        {% if collection_linklist.empty? %}
          {% for collection in collections %}
            {% capture modulo %}{{ forloop.index | modulo: settings.collection_list_items_per_row }}{% endcapture %}

            <li class="collection-list-item grid-item {% if modulo == '1' %}first{%endif%}">
              {% assign show_collection_title = true %}
              {% assign show_products_count = settings.collection_list_show_products_count %}

              {% include 'collection-list-item' %}
            </li>
          {% endfor %}
        {% else %}
          {% assign collection_count = 1 %}

          {% for link in collection_linklist.links %}
            {% if link.type != 'collection_link' %}
              {% continue %}
            {% endif %}

            {% assign collection = link.object %}

            {% capture modulo %}{{ collection_count | modulo: settings.collection_list_items_per_row }}{% endcapture %}

            <li class="collection-list-item grid-item {% if modulo == '1' %}first{%endif%}">
              {% assign show_collection_title = true %}
              {% assign show_products_count = settings.collection_list_show_products_count %}

              {% include 'collection-list-item' %}
            </li>

            {% assign collection_count = collection_count | plus: 1 %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>