{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

  <div class="page push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <header class="page-header">
        <h2 class="page-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
      </header>
    </div>
  </div>


<div class="page">
  <div class="container">
    <section class="inner rte">

<!-- Password reset -->
<div class="recover-password">
<h2><ly-as-15134718>Reset Password</ly-as-15134718></h2>
<p><ly-as-15134720>We will send you an email to reset your password.</ly-as-15134720></p>
{% form 'recover_customer_password' %} {{ form.errors | default_errors }}

<div class="form-row">
  <label for="email" class="large"><ly-as-15134723>Email Address</ly-as-15134723></label> 
  <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
</div>
<p></p>
<div class="form-row recover-cancel">
  <input class="btn" type="submit" value="Submit" />
</div>

{% endform %}</div>
<!-- End Password reset -->

    </section>
  </div>
</div>