{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
This page is ONLY used when using the "Quick Shop" feature of our themes. It is a slimmed version of the product (so
things like reviews or related products are not included)
{% endcomment %}

{% layout none %}

{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}

<div class="product" data-product-id="{{ product.id }}" itemscope itemtype="//schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="container">
    {% include 'product-showcase' %}

    {% include 'product-header' %}

    <section class="product-options">
      {% include 'product-offer' %}

      {% include 'product-back-in-stock' %}

      {% include 'product-variants' %}
    </section>

    <section class="product-info">
      <a href="{{ product.url }}" class="see-product-page">
        {% comment %}ly_i18n_replace_for_[ 'products.product.see_details' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.see_details' | t }}{% endcapture %}{% include 'ly-static-string' with '15134859' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        <i class="icon-arrow-right"></i>
      </a>

      {% include 'product-tabs' %}
    </section>
  </div>
</div>

{% comment %}
If the setting is set to perform Ajax call, this means that customer is never redirected to the cart directly,
but rather the product is added using an Ajax call
{% endcomment %}

<script>
  productRoute();
  productQuickShopRoute();
</script>