{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}

<div class="product" data-product-id="{{ product.id }}" itemscope itemtype="//schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="page-navigation">
    {% include 'breadcrumb' %}
  </div>

  <div class="product-container">

    {% include 'product-showcase' %}
    <section class="product-detail">
      <div class="product-detail__inner">
        {% include 'product-header' %}

        <div class="product-options">
          {% include 'product-offer' %}

          {% include 'product-back-in-stock' %}

          {% include 'product-variants' %}
        </div>

        <div class="product-info">
          {% include 'product-tabs' %}
        </div>
        
      </div>
    </section>
  </div>
</div>

{% include 'related-products' %}

{% comment %}
If the setting is set to perform Ajax call, this means that customer is never redirected to the cart directly,
but rather the product is added using an Ajax call
{% endcomment %}
