{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}


<!-- <div class="spacer"></div> -->

{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}

<div class="product" data-product-id="{{ product.id }}" itemscope itemtype="//schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
      <a href="{{ collection.url }}" class="back right"><i class="icon-arrow-left"></i>{% comment %}ly_i18n_replace_for_[ 'products.product.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.back' | t }}{% endcapture %}{% include 'ly-static-string' with '15134846' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    </div>

    {% include 'product-showcase' %}

    {% include 'product-header' %}

    <section class="product-options">
      {% include 'product-offer' %}
      
      {% include 'product-notify-variants' %}

    </section>

    <section class="product-info">
      {% comment %}
      {% include 'product-tabs' %}
      {% endcomment %}
      
      {% comment %}
      {% include 'product-description-tabs' %}
      {% endcomment %}
      
      {% include 'product-h6-tabs' %}

      {% if settings.product_enable_share_buttons %}
        {% include 'share-buttons' %}
      {% endif %}
    </section>
    
      <div style="display:none">
    <div id="data-may-we-help">
      <div class="form-wrap">
        {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="alert-box alert-success">
          <span class="alert-title">{% comment %}ly_i18n_replace_for_[ 'contact.form.thank_you' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.thank_you' | t }}{% endcapture %}{% include 'ly-static-string' with '15134847' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          <p>{% comment %}ly_i18n_replace_for_[ 'contact.form.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.success' | t }}{% endcapture %}{% include 'ly-static-string' with '15134848' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        </div>
        {% endif %}

        <div class="form-control">
          <label for="contact[name]">{% comment %}ly_i18n_replace_for_[ 'contact.form.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name' | t }}{% endcapture %}{% include 'ly-static-string' with '15134849' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" name="contact[name]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134850' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.name | escape }}" {% if form.errors.messages.name %}class="error"{% endif %} required="required">

          {% if form.errors.messages.name %}
          <span class="input-error">{{ form.errors.messages.name }}</span>
          {% endif %}
        </div>

        <div class="form-control">
          <label for="contact[email]">{% comment %}ly_i18n_replace_for_[ 'contact.form.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15134851' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="email" name="contact[email]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134852' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.email | escape }}" {% if form.errors.messages.email %}class="error"{% endif %} required="required">

          {% if form.errors.messages.email %}
          <span class="input-error">{{ form.errors.messages.email }}</span>
          {% endif %}
        </div>
        
        <div class="form-control">
          <label for="contact[product name]">{% comment %}ly_i18n_replace_for_[ 'contact.form.product_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.product_name' | t }}{% endcapture %}{% include 'ly-static-string' with '15134853' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" name="contact[product name]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.product_name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.product_name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134854' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="">

          {% if form.errors.messages.name %}
          <span class="input-error">{{ form.errors.messages.name }}</span>
          {% endif %}
        </div>

        <div class="form-control">
          <label for="contact[body]">{% comment %}ly_i18n_replace_for_[ 'contact.form.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message' | t }}{% endcapture %}{% include 'ly-static-string' with '15134855' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <textarea rows="5" cols="75" name="contact[body]" placeholder="{% comment %}ly_i18n_replace_for_[ 'contact.form.message_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134856' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" {% if form.errors.messages.body %}class="error"{% endif %} required="required">{{ form.body }}</textarea>

          {% if form.errors.messages.body %}
          <span class="input-error">{{ form.errors.messages.body }}</span>
          {% endif %}
        </div>

        <button type="submit" class="button button-primary" id="contactFormSubmit">{% comment %}ly_i18n_replace_for_[ 'contact.form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '15134857' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
        {% endform %}
      </div>
    </div>
  </div>
    
  </div>
</div>

<div class="rel-products">
  {% include 'related-products' %}
</div>

{% comment %}
If the setting is set to perform Ajax call, this means that customer is never redirected to the cart directly,
but rather the product is added using an Ajax call
{% endcomment %}


<script>
  {% comment %}
    /*================ Size guide =================*/
  $('.product-size-guide .text-link').click(function(e) {
    e.preventDefault();
    var tabIndex = $("#tabs").find('.size-fit').index();
    jQuery191('#tabs').tabs({active: tabIndex});
    
    $('html, body').animate({
      scrollTop: $('#tabs').offset().top
    }, 1000, function(){

    });
  });
  {% endcomment %}
  
  $(document).ready(function() {
    $('.product-single-option-selector, .single-option-selector').selectric({
      maxHeight: 350
    });
  });
</script>
