{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}


  {{ 'custom.js' | asset_url | script_tag }}

{% if product.tags contains 'sale' %}
	<script>
	_BISConfig = { button: { visible: false } };
	</script>
{% endif %}

{% for collection in product.collections %}
{% if collection.handle == 'sale' %}
	<script>
		_BISConfig = { button: { visible: false } };
	</script>
{% endif %}
{% endfor %}


<!-- <div class="spacer"></div> -->

{% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}

<div class="product" data-product-id="{{ product.id }}" itemscope itemtype="//schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
  <div class="container">
    <div class="page-navigation">
      {% include 'breadcrumb' %}
      <a href="{{ collection.url }}" class="back right"><i class="icon-arrow-left"></i>{% comment %}ly_i18n_replace_for_[ 'products.product.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.back' | t }}{% endcapture %}{% include 'ly-static-string' with '15134845' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    </div>
  </div>

  
  <div class="product-container">

    {% include 'product-showcase' %}

    <section class="product-detail">
      <div class="product-detail__inner">
        {% include 'product-header' %}

        <div class="product-options">
          {% include 'product-offer' %}

          {% include 'product-variants' %}
        </div>

        <div class="product-info">
          {% comment %}
          {% include 'product-tabs' %}
          {% endcomment %}

          {% comment %}
          {% include 'product-description-tabs' %}
          {% endcomment %}

          {% include 'product-h6-tabs' %}

          {% if settings.product_enable_share_buttons %}
          {% include 'share-buttons' %}
          {% endif %}

          {% if settings.product_enable_live_chat %}
          {% include 'product-live-chat' %}
          {% endif %}
        </div>


        <div class="rel-products">
          {% include 'cross-sell' %}
        </div>
        
      </div>
    </section>
  </div>
</div>



{% comment %}
If the setting is set to perform Ajax call, this means that customer is never redirected to the cart directly,
but rather the product is added using an Ajax call
{% include 'related-products' %}
{% endcomment %}


<script>
  {% comment %}
    /*================ Size guide =================*/
  $('.product-size-guide .text-link').click(function(e) {
    e.preventDefault();
    var tabIndex = $("#tabs").find('.size-fit').index();
    jQuery191('#tabs').tabs({active: tabIndex});

    $('html, body').animate({
      scrollTop: $('#tabs').offset().top
    }, 1000, function(){

    });
  });
  {% endcomment %}

  $(document).ready(function() {
//     $('.product-single-option-selector, .single-option-selector').selectric({
//       maxHeight: 350
//     });
  });
</script>
