{% layout none %}

{% comment %}
For better search, we always included the * character. However it does not support highlighting, so we
remove the character back
{% endcomment %}

{% assign terms_for_highlight = search.terms | remove: '*' %}

{% capture results %}
  {% for product in search.results limit: settings.search_autocomplete_results_count %}
    {
      "title"    : {{ product.title | highlight: terms_for_highlight | json }},
      "url"      : {{ product.url | within: product.collections.last | json }},
      "price_min": {{ product.price_min | money | json }},
      "thumbnail": {{ product.featured_image.src | product_img_url: 'thumb' | json }}
    },
  {% endfor %}
{% endcapture %}

{% comment %}
We need to use this strange structure because Kendo AutoComplete does not support nested payload
{% endcomment %}

[
  {{ results }}
  {
    "results_count": {{ search.results_count }},
    "url": "/search?q={{ search.terms }}&type=product"
  }
]