{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% capture custom_page_title %}
  {% comment %}ly_i18n_replace_for_[ 'general.search.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134885' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
{% endcapture %}

  <div class="search push-header">
    <div class="container">
      <div class="page-navigation">
        {% include 'breadcrumb' %}
      </div>

      <div class="page-header">
        <h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'general.search.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.title' | t }}{% endcapture %}{% include 'ly-static-string' with '15134885' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

        {% if search.performed %}
          <span class="search-terms">{% comment %}ly_i18n_replace_for_[ 'general.search.results_for' | t: term: search.terms ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.results_for' | t: term: search.terms }}{% endcapture %}{% include 'ly-static-string' with '15134887' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[term]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        {% endif %}
      </div>
    </div>
  </div>


<div class="search">
  <div class="container">
    <div class="inner">
      {% if search.performed %}
        {% if search.results_count == 0 %}
          <p>{% comment %}ly_i18n_replace_for_[ 'general.search.no_results' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.no_results' | t }}{% endcapture %}{% include 'ly-static-string' with '15134888' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        {% else %}
          {% assign number_of_elements = settings.collection_number_of_rows | times: settings.collection_items_per_row %}

          {% paginate search.results by number_of_elements %}
            <ul class="product-list">
              {% assign items_per_row = settings.collection_items_per_row %}

              {% for product in search.results %}
                {% capture modulo %}{{ forloop.index | modulo:settings.collection_items_per_row }}{% endcapture %}

                <li class="product-list-item grid-item {% if modulo == '1' %}first{%endif%}">
                  {% include 'product-list-item' %}
                </li>
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
              {% if settings.collection_loading_mode == 'pagination' %}
                <footer>
                  {% include 'pagination' %}
                </footer>
              {% else %}
                {% comment %}
                The next page is encoded as part of a data-attribute. We then use the Shopify feature that allows to
                have specific templates with the view attribute to do an Ajax call
                {% endcomment %}

                <span class="infinite-scrolling-loader" data-next-page="{{ paginate.next.url }}&view=infinite-scroll">
                  {% comment %}ly_i18n_replace_for_[ 'collection.general.loading' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collection.general.loading' | t }}{% endcapture %}{% include 'ly-static-string' with '15134889' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                </span>
              {% endif %}
            {% endif %}
          {% endpaginate %}
        {% endif %}
      {% else %}
        <form action="/search" method="get" class="search-form" role="search">
          <input type="hidden" name="type" value="product">
          <input type="search" name="q" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '15134890' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms | escape }}">
        </form>

        <a href="/" class="button button-primary">{% comment %}ly_i18n_replace_for_[ 'general.search.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.back' | t }}{% endcapture %}{% include 'ly-static-string' with '15134891' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      {% endif %}
    </div>
  </div>
</div>
