{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% layout none %}
{% paginate search.results by 50 %}
{{ search.results | json }}
{% endpaginate %}