{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% layout none %}

{% assign number_of_elements = settings.collection_number_of_rows | times: settings.collection_items_per_row %}

{% paginate search.results by number_of_elements %}
  {% assign items_per_row = settings.collection_items_per_row %}

  {% for product in search.results %}
    {% capture modulo %}{{ forloop.index | modulo:settings.collection_items_per_row }}{% endcapture %}

    <li class="product-list-item grid-item {% if modulo == '1' %}first{%endif%}">
      {% include 'product-list-item' %}
    </li>
  {% endfor %}
{% endpaginate %}